NATTQA-ENV/force-app/main/default/flows/Add_to_stock_button_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Quote_record_Type_Check</name>
        <label>Quote record Type Check</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_record_Type_Check_for_entry</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_GENSET_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_NT_Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_stock_details_from_quote</targetReference>
            </connector>
            <label>Quote record Type Check for entry</label>
        </rules>
    </decisions>
    <formulas>
        <name>SettingProductTypeNumber</name>
        <dataType>Number</dataType>
        <expression>If(CONTAINS({!$Record.RecordType.DeveloperName}, &quot;GENSET&quot;),1,2)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Add to stock button flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Creation of Stock Inventory Record V5</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creation_of_Inventory_Record</name>
        <label>Creation of Inventory Record</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>CONTAINER_Inventory_Job__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Job__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Inventory_Job_lookup__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Inventory_Model__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Model_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Inventory_Qty__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Qty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Product__c</field>
            <value>
                <elementReference>$Record.CONTAINER_PID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Quote_Product_Type_Number__c</field>
            <value>
                <elementReference>SettingProductTypeNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Quote_Product_Type__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Quote__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Remaining_Quantity__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Qty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.CONTAINER_Job__c</elementReference>
            </value>
        </inputAssignments>
        <object>CONTAINER_Stock_Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_stock_details_from_quote</name>
        <label>Get stock details from quote</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creation_of_Inventory_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quote_record_Type_Check</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stock Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>CONTAINER_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ASO Released</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
