NATTQA-ENV/force-app/main/default/flows/CONTAINER_Copy_Shipment_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_If_Requested_Shipment_Date_Records</name>
        <label>Check If Requested Shipment Date Records</label>
        <locationX>336</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Records_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Requested_Ship_Date_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Shipment_Schedule_Records</targetReference>
            </connector>
            <label>Records Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Shipment_Schedule_Records_Present</name>
        <label>Check If Shipment Schedule Records Present</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>for_iterating_on_RSD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipment_Schedule_Records_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Shipment_Schedule_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deletion</targetReference>
            </connector>
            <label>Shipment Schedule Records Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Quote_Record_is_Locked_Flow_Ends</name>
        <label>If Quote Record is Locked Flow Ends</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Quote_not_Locked</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Quote_Status.CONTAINER_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending CAM Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAM NT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAM GENSET</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Requested_Ship_Date_Records</targetReference>
            </connector>
            <label>If Quote Locked and User is CAM</label>
        </rules>
        <rules>
            <name>If_Quote_is_not_Locked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Quote_Status.CONTAINER_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending CAM Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Requested_Ship_Date_Records</targetReference>
            </connector>
            <label>If Quote is not Locked</label>
        </rules>
    </decisions>
    <description>Copying records from Requested Ship Date to Shipment Schedule</description>
    <interviewLabel>CONTAINER Copy Shipment Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Copy Shipment Schedule V4</label>
    <loops>
        <name>for_iterating_on_RSD</name>
        <label>for iterating on RSD</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <collectionReference>Getting_Requested_Ship_Date_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Insertion</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insertion</name>
        <label>Insertion</label>
        <locationX>270</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>for_iterating_on_RSD</targetReference>
        </connector>
        <inputAssignments>
            <field>CONTAINER_Account__c</field>
            <value>
                <elementReference>for_iterating_on_RSD.CONTAINER_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Destination__c</field>
            <value>
                <elementReference>for_iterating_on_RSD.CONTAINER_Ship_To_Destination__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Qty__c</field>
            <value>
                <elementReference>for_iterating_on_RSD.CONTAINER_Qty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Quote_Number__c</field>
            <value>
                <elementReference>for_iterating_on_RSD.CONTAINER_Quote_Number__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_WeekOf__c</field>
            <value>
                <elementReference>for_iterating_on_RSD.CONTAINER_Week_Of__c</elementReference>
            </value>
        </inputAssignments>
        <object>Shipment_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Deletion</name>
        <label>Deletion</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>for_iterating_on_RSD</targetReference>
        </connector>
        <inputReference>Getting_Shipment_Schedule_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Getting_Quote_Status</name>
        <label>Getting Quote Status</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Quote_Record_is_Locked_Flow_Ends</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CONTAINER_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Requested_Ship_Date_Records</name>
        <label>Getting Requested Ship Date Records</label>
        <locationX>336</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Requested_Shipment_Date_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Quote_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Requested_Ship_Dates__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Shipment_Schedule_Records</name>
        <label>Getting Shipment Schedule Records</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Shipment_Schedule_Records_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Quote_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shipment_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_Quote_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Destination</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Qty field on Shipment schedule and requested ship date</description>
        <name>Qty</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Quote Number field on shipment schedule and requested ship date</description>
        <name>QuoteNumber</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Quote recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordsToCopy</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shipment_Schedule__c</objectType>
    </variables>
    <variables>
        <name>RSDRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Requested_Ship_Dates__c</objectType>
    </variables>
    <variables>
        <description>WeekOf field on Shipment Schedule and Requested Ship Date</description>
        <name>WeekOf</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
