NATTQA-ENV/force-app/main/default/flows/CONTAINER_Updating_Flag_on_RequestedShipDate_on_record_Updation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>All_Field_Details_0</name>
        <label>All Field Details</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>RequestedShipDateFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CONTAINER_Quote_Number__r.CONTAINER_Requested_Ship_Date_Up_Check__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_IsUpdated_Field</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>ConcatallFields</name>
        <dataType>String</dataType>
        <expression>{!RequestedShipDateFields} + &apos;1&apos;</expression>
    </formulas>
    <interviewLabel>CONTAINER Updating Flag on RequestedShipDate on record Updation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Updating Flag on RequestedShipDate on record updation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Records</name>
        <label>Get All Records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Field_Details_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Quote_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CONTAINER_Quote_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Requested_Ship_Dates__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_IsUpdated_Field</name>
        <label>Updating IsUpdated Field</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CONTAINER_Quote_Number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CONTAINER_Requested_Ship_Date_Up_Check__c</field>
            <value>
                <elementReference>ConcatallFields</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Records</targetReference>
        </connector>
        <object>Requested_Ship_Dates__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RequestedShipDateFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShiptoDesti</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Weekofvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
