NATTQA-ENV/force-app/main/default/flows/CONTAINER_Quote_Job_Number_Issuance_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>CONTAINER Quote Job Number Issuance Notification Genset All Regions</description>
        <name>CONTAINER_Quote_Job_Number_Issuance_Notification_Genset_All_Regions</name>
        <label>CONTAINER Quote Job Number Issuance Notification Genset All Regions</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Quote_Job_Number_Issuance_Notification_Genset_All_Regions</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Quote_Job_Number_Issuance_Notification_Genset_All_Regions</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>CONTAINER Quote Job Number Issuance Notification NT APO</description>
        <name>CONTAINER_Quote_Job_Number_Issuance_Notification_NT_APO</name>
        <label>CONTAINER Quote Job Number Issuance Notification NT APO</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Quote_Job_Number_Issuance_Notification_NT_APO</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Quote_Job_Number_Issuance_Notification_NT_APO</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>CONTAINER Quote Job Number Issuance Notification NT EMEA</description>
        <name>CONTAINER_Quote_Job_Number_Issuance_Notification_NT_EMEA</name>
        <label>CONTAINER Quote Job Number Issuance Notification NT EMEA</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Quote_Job_Number_Issuance_Notification_NT_EMEA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Quote_Job_Number_Issuance_Notification_NT_EMEA</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>CONTAINER Quote Job Number Issuance Notification NT NAO</description>
        <name>CONTAINER_Quote_Job_Number_Issuance_Notification_NT_NAO</name>
        <label>CONTAINER Quote Job Number Issuance Notification NT NAO</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Quote_Job_Number_Issuance_Notification_NT_NAO</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Quote_Job_Number_Issuance_Notification_NT_NAO</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CONTAINER_Checking_Job_Number_Field</name>
        <label>CONTAINER Checking Job Number Field</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Job_Number_Added_For_NT_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CONTAINER_Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINER_Quote_Status_Changed_to_Job_Issued</targetReference>
            </connector>
            <label>Job Number Added For NT Quote</label>
        </rules>
        <rules>
            <name>Job_Number_Added_For_Genset_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CONTAINER_Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINER_Quote_Status_Changed_to_Job_Issued</targetReference>
            </connector>
            <label>Job Number Added For Genset Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Regions_Based_Email_Alerts_Quote</name>
        <label>Regions Based Email Alerts Quote</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_NT_NAO_Region_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINER_Quote_Job_Number_Issuance_Notification_NT_NAO</targetReference>
            </connector>
            <label>For NT NAO Region Quote</label>
        </rules>
        <rules>
            <name>NT_APO_Region_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINER_Quote_Job_Number_Issuance_Notification_NT_APO</targetReference>
            </connector>
            <label>NT APO Region Quote</label>
        </rules>
        <rules>
            <name>NT_EMEA_Region_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINER_Quote_Job_Number_Issuance_Notification_NT_EMEA</targetReference>
            </connector>
            <label>NT EMEA Region Quote</label>
        </rules>
        <rules>
            <name>For_Genset_All_Regions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINER_Quote_Job_Number_Issuance_Notification_Genset_All_Regions</targetReference>
            </connector>
            <label>For Genset All Regions</label>
        </rules>
    </decisions>
    <interviewLabel>CONTAINER Quote Job Number Issuance Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Quote Job Number Issuance Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>CONTAINER_Quote_Status_Changed_to_Job_Issued</name>
        <label>CONTAINER Quote Status Changed to Job# Issued</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>Regions_Based_Email_Alerts_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>CONTAINER_QuotePath__c</field>
            <value>
                <stringValue>Job # Issued</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Status__c</field>
            <value>
                <stringValue>Job # Issued</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CONTAINER_Checking_Job_Number_Field</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
