NATTQA-ENV/force-app/main/default/flows/CONTAINER_Update_Quote_status_when_order_is_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_order_record_type</name>
        <label>Check order record type</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_record_type</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.CONTAINER_Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.CONTAINER_Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GENSET</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.CONTAINER_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO Released</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.CONTAINER_QuotePath__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ASO Released</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_status</targetReference>
            </connector>
            <label>Order record type</label>
        </rules>
    </decisions>
    <interviewLabel>CONTAINER Update Quote status when order is created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Update Quote status when order is created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Quote_status</name>
        <label>Update Quote status</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CONTAINER_QuotePath__c</field>
            <value>
                <stringValue>SO Released</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Status__c</field>
            <value>
                <stringValue>SO Released</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_order_record_type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CONTAINER_Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NT</stringValue>
            </value>
        </filters>
        <filters>
            <field>CONTAINER_Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GENSET</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountOrder</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
