NATTQA-ENV/force-app/main/default/flows/CONTAINER_Releasing_TentativeProductionSchedule_records_on_Quote_Cancel_Lost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Quote_record_type_check</name>
        <label>Quote record type check</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Record_Type_and_Status_Check</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_GENSET_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_NT_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CONTAINER_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CONTAINER_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_related_TPS_Job</targetReference>
            </connector>
            <label>Quote Record Type and Status Check</label>
        </rules>
    </decisions>
    <interviewLabel>CONTAINER Releasing TentativeProductionSchedule records on Quote Cancel/Lost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Releasing TentativeProductionSchedule records on Quote Cancel/Lost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_TentativeProductionSchedule_Records</name>
        <label>Delete TentativeProductionSchedule Records</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Getting_related_stock_inventory_quantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Quote_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CONTAINER_Tentative_Production_Schedule__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Getting_related_stock_inventory_quantity</name>
        <label>Getting related stock inventory quantity</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_StockInventory_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Inventory_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TPSJobNo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CONTAINER_Stock_Inventory__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CONTAINER_Inventory_Qty__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_related_TPS_Job</name>
        <label>Getting related TPS Job#</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_TentativeProductionSchedule_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Quote_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CONTAINER_Tentative_Production_Schedule__c</object>
        <outputAssignments>
            <assignToReference>TPSJobNo</assignToReference>
            <field>CONTAINER_TentativeProdSchd_Job__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_StockInventory_record</name>
        <label>Update StockInventory record</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Inventory_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TPSJobNo</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CONTAINER_Remaining_Quantity__c</field>
            <value>
                <elementReference>Getting_related_stock_inventory_quantity.CONTAINER_Inventory_Qty__c</elementReference>
            </value>
        </inputAssignments>
        <object>CONTAINER_Stock_Inventory__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quote_record_type_check</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TPSJobNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
