NATTQA-ENV/force-app/main/default/flows/CONTAINER_Update_Is_Primary_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Adding Records to a List for updating.</description>
        <name>Adding_Records_to_a_List</name>
        <label>Adding Records to a List</label>
        <locationX>264</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>ContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterating_over_all_contacts_fetched</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_over_all_contacts_fetched</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Un_Assigning_Is_Primary_Check</name>
        <label>Un-Assigning Is Primary Check</label>
        <locationX>264</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>Iterating_over_all_contacts_fetched.CONTAINER_Is_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Records_to_a_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_New_record_or_Old</name>
        <label>Check for New record or Old</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Is_Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CONTAINER_Is_Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Contacts</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>Existing_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Is_Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Is_Primary_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Is_Primary_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CONTAINER_Is_Primary_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Contacts</targetReference>
            </connector>
            <label>Existing Record</label>
        </rules>
    </decisions>
    <description>Removing Is Primary Contact from other existing contact when Is Primary Contact is checked on a Record.</description>
    <environments>Default</environments>
    <interviewLabel>CONTAINER Update Is Primary Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Update Is Primary Contact</label>
    <loops>
        <name>Iterating_over_all_contacts_fetched</name>
        <label>Iterating over all contacts fetched</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <collectionReference>Get_All_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Un_Assigning_Is_Primary_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Remove_Is_Primary_Contact_check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetching all Contacts associated to the parebt account</description>
        <name>Get_All_Contacts</name>
        <label>Get All Contacts</label>
        <locationX>176</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterating_over_all_contacts_fetched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CONTAINER_Is_Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CONTAINER_Is_Primary_Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Removing Is Primary Checkbox from other contact records under same Account.</description>
        <name>Remove_Is_Primary_Contact_check</name>
        <label>Remove Is Primary Contact check</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <inputReference>ContactList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_New_record_or_Old</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>List of Contact for updating</description>
        <name>ContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
