NATTQA-ENV/force-app/main/default/flows/CONTAINER_Send_Email_Commissioning_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Commissioning_Contact</name>
        <label>Send Email to Commissioning Contact</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Acknowledgement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplateBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Container_Commissioning_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You got a new Commissioning Order</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Revision_Email_Alert</name>
        <label>Send Revision Email Alert</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Acknowledgement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Revision_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Container_Commissioning_Contact__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You got a Revised Commissioning Order</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Commissioning_child_record</name>
        <label>Check for Commissioning child record</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Commissioning_Child_Created_Updated</name>
            <conditionLogic>1 AND (2 OR 5 OR 6) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Is_Commissioning_Child_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Container_Commissioning_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Container_Commissioning_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Commisioning_Agent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Container_Commissioning_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Commissioning_Contact</targetReference>
            </connector>
            <label>Is Commissioning Child Created/Updated</label>
        </rules>
        <rules>
            <name>Is_Commissioning_Child_Updated_Revision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Is_Commissioning_Child_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Commissioning_Revision__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Revision_Email_Alert</targetReference>
            </connector>
            <label>Is Revision Commissioning Child Updated</label>
        </rules>
    </decisions>
    <formulas>
        <name>CommissioningRecName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.CONTAINER_Commissioning_Revision__c}),
{!$Record.CONTAINER_Commissioning__r.Name} &amp;&apos;_CO&apos; &amp;{!$Record.CONTAINER_Commisioning_Agent__r.AccountNumber} &amp;&apos;_&apos; &amp;{!AccountParentName}, {!$Record.CONTAINER_Commissioning__r.Name} &amp;&apos;_CO&apos; &amp;{!$Record.CONTAINER_Commisioning_Agent__r.AccountNumber}&amp;&apos;_&apos; &amp; {!AccountParentName} &amp;&apos;_Rev:&apos; &amp;TEXT({!$Record.CONTAINER_Commissioning_Revision__c}))</expression>
    </formulas>
    <formulas>
        <description>Check for new record</description>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>recordURL</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_520} ))&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>CONTAINER Send Email Commissioning Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Send Email Commissioning Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Location_Parent_Account</name>
        <label>Get Location Parent Account</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Commissioning_child_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CONTAINER_Installation_Location_Box__r.ParentId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountParentName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Acknowledgement</name>
        <label>Update Acknowledgement</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Acknowledge_By__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Location_Parent_Account</targetReference>
        </connector>
        <object>CONTAINER_Commissionig__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplateBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hi &lt;strong&gt;{!$Record.Container_Commissioning_Contact__r.FirstName} {!$Record.Container_Commissioning_Contact__r.LastName},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;You have received a new Commissioning Order having following Details-&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Commissioning Name &lt;/strong&gt;: {!CommissioningRecName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Model Number &lt;/strong&gt; : {!$Record.CONTAINER_Model_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;PID&lt;/strong&gt; : &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.CONTAINER_PID_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Job Number &lt;/strong&gt;: {!$Record.CONTAINER_Commissioning_Record_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Job Start Date &lt;/strong&gt;: {!$Record.CONTAINER_Job_Start_Date__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Job Quantity &lt;/strong&gt;: {!$Record.CONTAINER_Job_Quantity__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Commissioning&lt;/strong&gt;&lt;strong&gt; Rate &lt;/strong&gt;: {!$Record.CONTAINER_Commisioning_Rate__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total Price &lt;/strong&gt;: {!$Record.CONTAINER_Total_Price__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can acknowledge the &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Commissioning Order by clicking on the following link-&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!recordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!CommissioningRecName}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Revision_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hi &lt;strong&gt;{!$Record.Container_Commissioning_Contact__r.FirstName} {!$Record.Container_Commissioning_Contact__r.LastName},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;You have received a revised Commissioning Order having following Details-&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Commissioning Name           &lt;/strong&gt;: {!CommissioningRecName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Model Number &lt;/strong&gt;                      : {!$Record.CONTAINER_Model_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;PID&lt;/strong&gt;                                           : &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.CONTAINER_PID_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Job Number                            &lt;/strong&gt;: {!$Record.CONTAINER_Commissioning_Record_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Job Start Date                        &lt;/strong&gt;: {!$Record.CONTAINER_Job_Start_Date__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Job Quantity                          &lt;/strong&gt;: {!$Record.CONTAINER_Job_Quantity__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Commissioning&lt;/strong&gt;&lt;strong&gt; Rate             &lt;/strong&gt;: {!$Record.CONTAINER_Commisioning_Rate__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total Price                              &lt;/strong&gt;: {!$Record.CONTAINER_Total_Price__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can acknowledge the &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Commissioning Order by clicking on the following link-&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!recordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!CommissioningRecName}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountParentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
