NATTQA-ENV/force-app/main/default/flows/CONTAINER_Quote_Lost_Email_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>CONTAINER Quote Lost Email GENSET EMEA</description>
        <name>CONTAINER_Quote_Lost_Email_GENSET_EMEA</name>
        <label>CONTAINER Quote Lost Email GENSET EMEA</label>
        <locationX>483</locationX>
        <locationY>586</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Quote_Lost_Email_GENSET_EMEA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Quote_Lost_Email_GENSET_EMEA</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>CONTAINER Quote Lost Email GENSET NAO</description>
        <name>CONTAINER_Quote_Lost_Email_GENSET_NAO</name>
        <label>CONTAINER Quote Lost Email GENSET NAO</label>
        <locationX>402</locationX>
        <locationY>586</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Quote_Lost_Email_GENSET_NAO</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Quote_Lost_Email_GENSET_NAO</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>CONTAINER Quote Lost Email NT APO</description>
        <name>CONTAINER_Quote_Lost_Email_NT_APO</name>
        <label>CONTAINER Quote Lost Email NT APO</label>
        <locationX>563</locationX>
        <locationY>585</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Quote_Lost_Email_NT_APO</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Quote_Lost_Email_NT_APO</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>CONTAINER Quote Lost Email NT EMEA</description>
        <name>CONTAINER_Quote_Lost_Email_NT_EMEA</name>
        <label>CONTAINER Quote Lost Email NT EMEA</label>
        <locationX>718</locationX>
        <locationY>584</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Quote_Lost_Email_NT_EMEA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Quote_Lost_Email_NT_EMEA</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>CONTAINER Quote Lost Email NT NAO</description>
        <name>CONTAINER_Quote_Lost_Email_NT_NAO</name>
        <label>CONTAINER Quote Lost Email NT NAO</label>
        <locationX>642</locationX>
        <locationY>584</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Quote_Lost_Email_NT_NAO</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Quote_Lost_Email_NT_NAO</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>CONTAINER Quote Send Email</description>
        <name>CONTAINER_Quote_Send_Email</name>
        <label>CONTAINER Quote Send Email</label>
        <locationX>336</locationX>
        <locationY>584</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Quote_Send_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Quote_Send_Email</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Container Quote Status Check for Lost</description>
        <name>Container_Status_Lost_Check</name>
        <label>Container Status Lost Check</label>
        <locationX>520</locationX>
        <locationY>307</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GENSET_APO_Status_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_GENSET_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_QuotePath__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CONTAINER_QuotePath__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINER_Quote_Send_Email</targetReference>
            </connector>
            <label>GENSET APO Status Lost</label>
        </rules>
        <rules>
            <name>GENSET_NAO_Status_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_GENSET_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_QuotePath__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CONTAINER_QuotePath__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINER_Quote_Lost_Email_GENSET_NAO</targetReference>
            </connector>
            <label>GENSET NAO Status Lost</label>
        </rules>
        <rules>
            <name>GENSET_EMEA_Status_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_GENSET_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_QuotePath__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CONTAINER_QuotePath__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINER_Quote_Lost_Email_GENSET_EMEA</targetReference>
            </connector>
            <label>GENSET EMEA Status Lost</label>
        </rules>
        <rules>
            <name>NT_APO_Status_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_NT_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_QuotePath__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CONTAINER_QuotePath__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINER_Quote_Lost_Email_NT_APO</targetReference>
            </connector>
            <label>NT APO Status Lost</label>
        </rules>
        <rules>
            <name>NT_NAO_Status_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_NT_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_QuotePath__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CONTAINER_QuotePath__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINER_Quote_Lost_Email_NT_NAO</targetReference>
            </connector>
            <label>NT NAO Status Lost</label>
        </rules>
        <rules>
            <name>NT_EMEA_Status_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_NT_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_QuotePath__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CONTAINER_QuotePath__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lost/Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINER_Quote_Lost_Email_NT_EMEA</targetReference>
            </connector>
            <label>NT EMEA Status Lost</label>
        </rules>
    </decisions>
    <description>CONTAINER Quote sent Email Notification when status is Lost</description>
    <environments>Default</environments>
    <interviewLabel>CONTAINER Quote Lost Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Quote Lost Email Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Container_Status_Lost_Check</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
