NATTQA-ENV/force-app/main/default/flows/CONTAINER_Quote_ASO_Release_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_ASO_Quote_Details_0</name>
        <label>Get ASO Quote Details</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <actionName>Container_Quote_ASOID_Release_Handler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>SBQQQuoteId</name>
            <value>
                <elementReference>Get_Quote_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Container_Quote_ASOID_Release_Handler</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_ASO_Quote_Details_0_0</name>
        <label>Get ASO Quote Details</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <actionName>Container_Quote_ASOID_Release_Handler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>SBQQQuoteId</name>
            <value>
                <elementReference>Get_Quote_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Container_Quote_ASOID_Release_Handler</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Revision_comment</name>
        <label>Revision comment</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Quote_Record.CONTAINER_ASO_Revision_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CONTAINER_Revision_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Revision_Comment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_and_Validate</name>
        <label>Check and Validate</label>
        <locationX>248</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Check_Is_Revision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_not_Valid</name>
            <conditionLogic>1 AND (2 OR 3 OR 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Record.CONTAINER_Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Record.CONTAINER_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Job # Issued</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Record.CONTAINER_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ASO Released</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Record.CONTAINER_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SO Released</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_NT_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_GENSET_Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Error</targetReference>
            </connector>
            <label>Is not Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Is_Revision</name>
        <label>Check Is Revision</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_ASO_Quote_Details_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Revised_ASO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Record.CONTAINER_ASO_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revision_Comments</targetReference>
            </connector>
            <label>Is Revised ASO</label>
        </rules>
    </decisions>
    <interviewLabel>CONTAINER Quote ASO Release {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Quote ASO Release Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_and_Validate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CONTAINER_Job__c</queriedFields>
        <queriedFields>CONTAINER_Status__c</queriedFields>
        <queriedFields>CONTAINER_ASO_Revision_Comments__c</queriedFields>
        <queriedFields>CONTAINER_ASO_ID__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>CONTAINER_Sales_Region__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Revision_Comment</name>
        <label>Update Revision Comment</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_ASO_Quote_Details_0</targetReference>
        </connector>
        <inputReference>Get_Quote_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Container_Quote_ASO</name>
        <label>Container Quote ASO</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Container_Generate_Document</name>
            <extensionName>c:cONTAINER_GenerateDocument</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Quote_Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Revision Comments</description>
        <name>Revision_Comments</name>
        <label>Revision_Comments</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Revision_comment</targetReference>
        </connector>
        <fields>
            <name>CONTAINER_Revision_Comments</name>
            <defaultValue>
                <stringValue>{!Get_Quote_Record.CONTAINER_ASO_Revision_Comments__c}</stringValue>
            </defaultValue>
            <fieldText>ASO Revision Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Generate Document</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Validation_Error</name>
        <label>Validation Error</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Container_Quote_ASO</targetReference>
        </connector>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Job # shouldn’t be blank&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>quoteIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
