NATTQA-ENV/force-app/main/default/flows/CONTAINER_Updating_flag_to_true_for_TentativeProductionSchedule_for_Approval_Pro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>all_fields_update</name>
        <label>all fields update</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Quantityfieldupdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CONTAINER_Quote_Number__r.CONTAINER_Tentative_Ship_Sc_Update_Check__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_flag_on_Quote</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>ConcatTentativeFields</name>
        <dataType>String</dataType>
        <expression>{!Quantityfieldupdate} + &apos;1&apos;</expression>
    </formulas>
    <interviewLabel>CONTAINER Updating flag to true for TentativeProductionSchedule for Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Updating flag to true for TentativeProductionSchedule for Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Tentative_records</name>
        <label>Get all Tentative records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>all_fields_update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Quote_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CONTAINER_Quote_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CONTAINER_Tentative_Production_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_flag_on_Quote</name>
        <label>Update flag on Quote</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CONTAINER_Quote_Number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CONTAINER_Tentative_Ship_Sc_Update_Check__c</field>
            <value>
                <elementReference>ConcatTentativeFields</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Tentative_records</targetReference>
        </connector>
        <object>CONTAINER_Tentative_Production_Schedule__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Quantityfieldupdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
