NATTQA-ENV/force-app/main/default/flows/CONTAINER_Auto_Populate_fields_on_Service_Agreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_RSM_to_record</name>
        <label>Assign RSM to record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.CONTAINER_Regional_Service_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RSM_from_Account.CONTAINER_Regional_Service_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Primary_contact_of_all_Contact_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Record_to_a_List</name>
        <label>Assigning Record to a List</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>ServiceAgreementrecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>For_Warranty_Contact</name>
        <label>For Warranty Contact</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>$Record.CONTAINER_Warranty_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_contact_of_all_Contact_Types.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Primary_contact_of_all_Contact_Types</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Auto_Populating_Fields</name>
        <label>Auto Populating Fields</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_RSM_or_Parts_Contact_or_Warranty_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Regional_Service_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Parts_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Warranty_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RSM_from_Account</targetReference>
            </connector>
            <label>If RSM or Parts Contact or Warranty Contact or Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_fields</name>
        <label>Check for fields</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Primary_contact_of_all_Contact_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Warranty_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_contact_of_all_Contact_Types.Contact_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warranty Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Warranty_Contact</targetReference>
            </connector>
            <label>Is Warranty Contact</label>
        </rules>
        <rules>
            <name>Is_Parts_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_contact_of_all_Contact_Types.Contact_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parts Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_contact_of_all_Contact_Types</targetReference>
            </connector>
            <label>Is Parts Contact</label>
        </rules>
        <rules>
            <name>Is_Service_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_contact_of_all_Contact_Types.Contact_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_contact_of_all_Contact_Types</targetReference>
            </connector>
            <label>Is Service Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CONTAINER Auto Populate fields on Service Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Auto Populate fields on Service Agreement</label>
    <loops>
        <name>Primary_contact_of_all_Contact_Types</name>
        <label>Primary contact of all Contact Types</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Primary_Contact_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assigning_Record_to_a_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Primary_Contact_record</name>
        <label>Get Primary Contact record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_RSM_to_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CONTAINER_Is_Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CONTAINER_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RSM_from_Account</name>
        <label>Get RSM from Account</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Contact_record</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CONTAINER_Regional_Service_Manager__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Record_Type_Developer_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CONTAINER_Authorized_Service_Provider</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Record_Type_Developer_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CONTAINER_Repair_Co_Terminal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CONTAINER_Regional_Service_Manager__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_values</name>
        <label>Updating values</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputReference>ServiceAgreementrecordList</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Auto_Populating_Fields</targetReference>
        </connector>
        <object>CONTAINER_Service_Agreement__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Parts_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ServiceAgreementrecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CONTAINER_Service_Agreement__c</objectType>
    </variables>
</Flow>
