NATTQA-ENV/force-app/main/default/flows/CONTAINER_Clone_Split_Quote_Related_Lists.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assigning Quote Ids to Tentative Production Schedule</description>
        <name>Assigning_Quote_ID_to_TPS</name>
        <label>Assigning Quote ID to TPS</label>
        <locationX>138</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Tentative_Production_Schedule.CONTAINER_Quote_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_on_Tentative_Production_Schedule.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAllTPS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Tentative_Production_Schedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Tentative_Production_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updating Quote ID on Requested Ship Dates</description>
        <name>Quote_ID_on_QLI</name>
        <label>Quote ID on QLI</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Quote_Line.SBQQ__Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_on_Quote_Line.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_on_Quote_Line.SBQQ__RequiredBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAllQuoteLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Quote_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updating Quote ID on Requested Ship Dates</description>
        <name>Quote_ID_on_RSD</name>
        <label>Quote ID on RSD</label>
        <locationX>138</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Requested_Ship_dates.CONTAINER_Quote_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_on_Requested_Ship_dates.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAllRequestedShipDates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Requested_Ship_dates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Requested_Ship_dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quote_Id_To_Shipment_Schedule</name>
        <label>Quote Id To Shipment Schedule</label>
        <locationX>138</locationX>
        <locationY>2423</locationY>
        <assignmentItems>
            <assignToReference>Loop_On_Shipment_Schedule.CONTAINER_Quote_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Shipment_Schedule.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreAllShipmentSchedule</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Shipment_Schedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Shipment_Schedule</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>GENSETQuote</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GENSET</stringValue>
        </value>
    </constants>
    <constants>
        <name>NTQuote</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NT</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Checking_Quote_Record_Type</name>
        <label>Checking Quote Record Type</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Genset_or_NT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NTQuote</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GENSETQuote</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_QuoteLineItems</targetReference>
            </connector>
            <label>Genset or NT</label>
        </rules>
    </decisions>
    <interviewLabel>CONTAINER Split Quote with Related Lists {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Clone Split Quote Related Lists</label>
    <loops>
        <name>Loop_on_Quote_Line</name>
        <label>Loop on Quote Line</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <collectionReference>get_QuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Quote_ID_on_QLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creating_Quoteline</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Requested_Ship_dates</name>
        <label>Loop on Requested Ship dates</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <collectionReference>Get_Requested_Ship_Dates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Quote_ID_on_RSD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Requested_Ship_Dates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Shipment_Schedule</name>
        <label>Loop On Shipment Schedule</label>
        <locationX>50</locationX>
        <locationY>2303</locationY>
        <collectionReference>Get_Shipment_Schedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Quote_Id_To_Shipment_Schedule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Shipment_Schedule_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Tentative_Production_Schedule</name>
        <label>Loop on Tentative Production Schedule</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <collectionReference>Get_Tentative_Production_Schedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Quote_ID_to_TPS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creating_TPS_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Requested_Ship_Dates</name>
        <label>Create Requested Ship Dates</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Loop_on_Tentative_Production_Schedule</targetReference>
        </connector>
        <inputReference>StoreAllRequestedShipDates</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Creating_Quoteline</name>
        <label>Creating Quoteline</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Loop_on_Requested_Ship_dates</targetReference>
        </connector>
        <inputReference>StoreAllQuoteLine</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creating  Tentative Production Schedule Records</description>
        <name>Creating_TPS_Records</name>
        <label>Creating TPS Records</label>
        <locationX>50</locationX>
        <locationY>2183</locationY>
        <connector>
            <targetReference>Loop_On_Shipment_Schedule</targetReference>
        </connector>
        <inputReference>StoreAllTPS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Get_Shipment_Schedule_Records</name>
        <label>Get Shipment Schedule Records</label>
        <locationX>50</locationX>
        <locationY>2639</locationY>
        <inputReference>StoreAllShipmentSchedule</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_QuoteLineItems</name>
        <label>get QuoteLineItems</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Requested_Ship_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requested_Ship_Dates</name>
        <label>Get Requested Ship Dates</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tentative_Production_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Quote_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Requested_Ship_Dates__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipment_Schedule</name>
        <label>Get Shipment Schedule</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Quote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Quote_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Shipment_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tentative_Production_Schedule</name>
        <label>Get Tentative Production Schedule</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shipment_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Quote_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Parent_Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CONTAINER_Tentative_Production_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_Quote_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Quote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Source__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ClonedQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>CurrentQLILIST</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoreAllQuoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>StoreAllRequestedShipDates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Requested_Ship_Dates__c</objectType>
    </variables>
    <variables>
        <name>StoreAllShipmentSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shipment_Schedule__c</objectType>
    </variables>
    <variables>
        <name>StoreAllTPS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CONTAINER_Tentative_Production_Schedule__c</objectType>
    </variables>
</Flow>
