NATTQA-ENV/force-app/main/default/flows/CONTAINER_Authorization_of_Commissioning_or_WorkOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_RSM_0_0</name>
        <label>Send Email to RSM</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Commissioning_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Commissioning_Record.CONTAINER_Commisioning_Agent__r.CONTAINER_Regional_Service_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Commissioning Order has been Acknowledged</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Values_to_Commissioning_order_List</name>
        <label>Assign Values to Commissioning order List</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Commissioning_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Commissioning_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Commissioning_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Acknowledge_By_value</name>
        <label>Assigning Acknowledge By value</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Get_Commissioning_Record.Acknowledge_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Commissioning_order_List</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>recordURL</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_520} ))&amp;{!recordId}</expression>
    </formulas>
    <interviewLabel>CONTAINER Authorization of {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Authorization of Commissioning</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Commissioning_Record</name>
        <label>Get Commissioning Record</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_Acknowledge_By_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CONTAINER_Is_Commissioning_Child_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Acknowledge_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CONTAINER_Commissionig__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Acknowledge_By__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CONTAINER_Commisioning_Agent__c</queriedFields>
        <queriedFields>CONTAINER_Is_Commissioning_Child_Record__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Commissioning_record</name>
        <label>Update Commissioning record</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Send_Email_to_RSM_0_0</targetReference>
        </connector>
        <inputReference>Commissioning_List</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Commissioning_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Commissioning_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi &lt;strong&gt;{!Get_Commissioning_Record.CONTAINER_Commisioning_Agent__r.CONTAINER_Regional_Service_Manager__r.FirstName} {!Get_Commissioning_Record.CONTAINER_Commisioning_Agent__r.CONTAINER_Regional_Service_Manager__r.LastName}&lt;/strong&gt;,&lt;/p&gt;&lt;p&gt;Your Commissioning order record : &lt;strong&gt;{!Get_Commissioning_Record.Name}&lt;/strong&gt;  has been Acknowledge by : &lt;strong&gt;{!$User.FirstName} {!$User.LastName}.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click on the below link to review the record-&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!recordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Commissioning_Record.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>WOrkOrderTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi &lt;strong&gt;{!3ae29020-0b9f-4371-a716-e6d17cfccf63.CONTAINER_Commissioning__r.CONTAINER_Commisioning_Agent__r.CONTAINER_Regional_Service_Manager__r.FirstName} {!3ae29020-0b9f-4371-a716-e6d17cfccf63.CONTAINER_Commissioning__r.CONTAINER_Commisioning_Agent__r.CONTAINER_Regional_Service_Manager__r.LastName},&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Your WorkOrder record : &lt;strong&gt;{!3ae29020-0b9f-4371-a716-e6d17cfccf63.Name} &lt;/strong&gt;has been Acknowledge by : &lt;strong&gt;{!$User.FirstName} {!$User.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click on the below link to review the record-&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!recordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!3ae29020-0b9f-4371-a716-e6d17cfccf63.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Commissioning_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CONTAINER_Commissionig__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CONTAINER_Work_Order__c</objectType>
    </variables>
</Flow>
