NATTQA-ENV/force-app/main/default/flows/CONTAINER_Service_Case_Approval_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Approval Process for Container Service Case object.</description>
        <name>CONTAINER_Service_Case_Approval</name>
        <label>CONTAINER Service Case Approval</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CONTAINER_Service_Case_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>To check Case record belongs to Container Service record Type</description>
        <name>Is_Container_Service_record</name>
        <label>Is Container Service record?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Container_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CONTAINER_Service_Engineering_Field_Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CONTAINER_Service_Case_Approval</targetReference>
            </connector>
            <label>Is Container Service</label>
        </rules>
    </decisions>
    <description>Triggering Approval Process for Container Service Case object.</description>
    <environments>Default</environments>
    <interviewLabel>Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Service Case Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Container_Service_record</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 )</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Training Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>CONTAINER_Region__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>EMEA</stringValue>
            </value>
        </filters>
        <filters>
            <field>CONTAINER_Region__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>NAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>CONTAINER_Region__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>APO</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
