NATTQA-ENV/force-app/main/default/flows/CONTAINER_Commissioning_Field_updates_on_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Formula_to_update_Parent_Job_quantity</name>
        <label>Formula to update Parent Job quantity</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>P_Jobqty_01</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateJobQuantity_01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WIPFinalValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WIPCal_01</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Job_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formula_to_update_Parent_Job_quantity_0</name>
        <label>Formula to update Parent Job quantity</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>P_Jobqty_01</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateJobQuantity_02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WIPFinalValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WIPCal_02</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Job_Quantity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Revised_Commissioning</name>
        <label>Is Revised Commissioning</label>
        <locationX>710</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Revision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Commissioning_Revision__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Is_Commissioning_Child_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_Parent_Account_0</targetReference>
            </connector>
            <label>Check Revision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_New_Job_quantity_Greater_than_Previous</name>
        <label>Validate New Job quantity Greater than Previous</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Formula_to_update_Parent_Job_quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_Job_Qty_greater_then_Previous_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CONTAINER_Job_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.CONTAINER_Job_Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formula_to_update_Parent_Job_quantity_0</targetReference>
            </connector>
            <label>Is New Job Qty greater then Previous one</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_New_Job_quantity_Greater_than_Previous_0</name>
        <label>Validate New Job quantity Greater than Previous</label>
        <locationX>1502</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Job_QTY_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_Job_Qty_greater_then_Previous_one_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CONTAINER_Total_Job_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.CONTAINER_Total_Job_Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_QTY_0</targetReference>
            </connector>
            <label>Is New Job Qty greater then Previous one</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Related_Commissioning_Detail</name>
        <label>Validate Related Commissioning Detail</label>
        <locationX>1106</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Job_Quantity_For_Parent_Commissioing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Commissioning__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Commissioning_QTY</targetReference>
            </connector>
            <label>New Record -  Update Parent Commissioning</label>
        </rules>
        <rules>
            <name>ISNEW_Commission_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Commissioning__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Account_Details</targetReference>
            </connector>
            <label>New Record - Update child and parent comm</label>
        </rules>
        <rules>
            <name>Job_Quantity_Updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Job_Quantity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Commissioning__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Is_Commissioning_Child_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Job_Quantity</targetReference>
            </connector>
            <label>Update Record - Job Quantity Update</label>
        </rules>
        <rules>
            <name>Update_Record_Commissioning_Name_on_Revision_Location_Agent_Change</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Is_Commissioning_Child_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Commissioning_Revision__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Installation_Location_Box__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Commisioning_Agent__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_Parent_Account</targetReference>
            </connector>
            <label>Update Record - Commissioning Name on Revision/Location/Agent Change</label>
        </rules>
        <rules>
            <name>Update_Record_Total_Job_Quantity_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Total_Job_Quantity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Is_Commissioning_Child_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_Records</targetReference>
            </connector>
            <label>Update Record - Total Job Quantity Update</label>
        </rules>
        <rules>
            <name>Update_Record_Account_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Is_Commissioning_Child_Record__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Account__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_Records_0</targetReference>
            </connector>
            <label>Update Record - Parent Account Update</label>
        </rules>
    </decisions>
    <formulas>
        <name>CommRecordname</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.CONTAINER_Commissioning__r.CONTAINER_Commissioning_Revision__c}),
{!$Record.CONTAINER_Commissioning__r.Name} &amp;&apos;_CO&apos; &amp;{!$Record.CONTAINER_Commisioning_Agent__r.AccountNumber} &amp;&apos;_&apos; &amp;{!AccountParrentName}, {!$Record.CONTAINER_Commissioning__r.Name} &amp;&apos;_CO&apos; &amp;{!$Record.CONTAINER_Commisioning_Agent__r.AccountNumber}&amp;&apos;_&apos; &amp;{!AccountParrentName} &amp;&apos;_Rev:&apos; &amp;TEXT({!$Record.CONTAINER_Commissioning__r.CONTAINER_Commissioning_Revision__c}))</expression>
    </formulas>
    <formulas>
        <name>CommRecordNameUpdate</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.CONTAINER_Commissioning_Revision__c}),
{!$Record.CONTAINER_Commissioning__r.Name} &amp;&apos;_CO&apos; &amp;{!$Record.CONTAINER_Commisioning_Agent__r.AccountNumber} &amp;&apos;_&apos; &amp;{!AccountParrentName}, {!$Record.CONTAINER_Commissioning__r.Name} &amp;&apos;_CO&apos; &amp;{!$Record.CONTAINER_Commisioning_Agent__r.AccountNumber}&amp;&apos;_&apos; &amp;{!AccountParrentName} &amp;&apos;_Rev:&apos; &amp;TEXT({!$Record.CONTAINER_Commissioning_Revision__c}))</expression>
    </formulas>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Job_Quantity</name>
        <dataType>Number</dataType>
        <expression>{!$Record.CONTAINER_Commissioning__r.CONTAINER_Job_Quantity__c}-{!$Record.CONTAINER_Job_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdateJOBQtyforUpdatedParentTotalQTY01</name>
        <dataType>Number</dataType>
        <expression>{!$Record.CONTAINER_Job_Quantity__c}+{!$Record.CONTAINER_Total_Job_Quantity__c}-{!$Record__Prior.CONTAINER_Total_Job_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdateJOBQtyforUpdatedParentTotalQTY02</name>
        <dataType>Number</dataType>
        <expression>{!$Record.CONTAINER_Job_Quantity__c}-({!$Record__Prior.CONTAINER_Total_Job_Quantity__c}-{!$Record.CONTAINER_Total_Job_Quantity__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdateJobQuantity_01</name>
        <dataType>Number</dataType>
        <expression>({!ParentJobQuantity} + {!$Record__Prior.CONTAINER_Job_Quantity__c}) - {!$Record.CONTAINER_Job_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UpdateJobQuantity_02</name>
        <dataType>Number</dataType>
        <expression>{!ParentJobQuantity} + ({!$Record__Prior.CONTAINER_Job_Quantity__c} - {!$Record.CONTAINER_Job_Quantity__c} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WIPCal_01</name>
        <dataType>Number</dataType>
        <expression>{!WIPJobQuantity} - ({!$Record__Prior.CONTAINER_Job_Quantity__c} - {!$Record.CONTAINER_Job_Quantity__c} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WIPCal_02</name>
        <dataType>Number</dataType>
        <expression>({!WIPJobQuantity} - {!$Record__Prior.CONTAINER_Job_Quantity__c}) + {!$Record.CONTAINER_Job_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WIPJobQuantityLogic</name>
        <dataType>Number</dataType>
        <expression>{!$Record.CONTAINER_Commissioning__r.CONTAINER_WIP_Job_Quantity__c}+ {!$Record.CONTAINER_Job_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CONTAINER Commissioning - Field updates on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Commissioning - Field updates on Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Location_Parent_Account</name>
        <label>Get Location Parent Account</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Current_Record_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CONTAINER_Installation_Location_Box__r.ParentId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountParrentName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_Parent_Account_0</name>
        <label>Get Location Parent Account</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Current_Record_Name_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CONTAINER_Installation_Location_Box__r.ParentId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountParrentName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Commissioning Account Parent Account Details</description>
        <name>Get_Parent_Account_Details</name>
        <label>Get Parent Account Details</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Parent_QTY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CONTAINER_Installation_Location_Box__r.ParentId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountParrentName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Job_Quantity</name>
        <label>Get Parent Job Quantity</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_New_Job_quantity_Greater_than_Previous</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CONTAINER_Commissioning__r.Id</elementReference>
            </value>
        </filters>
        <object>CONTAINER_Commissionig__c</object>
        <outputAssignments>
            <assignToReference>ParentJobQuantity</assignToReference>
            <field>CONTAINER_Job_Quantity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WIPJobQuantity</assignToReference>
            <field>CONTAINER_WIP_Job_Quantity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Records</name>
        <label>Update Child Records</label>
        <locationX>1502</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Validate_New_Job_quantity_Greater_than_Previous_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Commissioning__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CONTAINER_Total_Job_Quantity__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Total_Job_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>CONTAINER_Commissionig__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_Records_0</name>
        <label>Update Child Records</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Commissioning__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CONTAINER_Account__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Account__c</elementReference>
            </value>
        </inputAssignments>
        <object>CONTAINER_Commissionig__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Commissioning Job quantity field when records gets created manually from the new button instead of auto create from quote.</description>
        <name>Update_Commissioning_QTY</name>
        <label>Update Commissioning QTY</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CONTAINER_Commissioning_Record_Name__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Job_Quantity__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Total_Job_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>CONTAINER_Commissionig__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Record_Name</name>
        <label>Update Current Record Name</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>UpdateAWO</targetReference>
        </connector>
        <inputAssignments>
            <field>CONTAINER_Regional_Service_Manager__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Commisioning_Agent__r.CONTAINER_Regional_Service_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CommRecordNameUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Record_Name_0</name>
        <label>Update Current Record Name</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CommRecordNameUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_QTY_0</name>
        <label>Update Job QTY</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>CONTAINER_Job_Quantity__c</field>
            <value>
                <elementReference>UpdateJOBQtyforUpdatedParentTotalQTY02</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_QTY_0_0</name>
        <label>Update Job QTY</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>CONTAINER_Job_Quantity__c</field>
            <value>
                <elementReference>UpdateJOBQtyforUpdatedParentTotalQTY01</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Job_Quantity</name>
        <label>Update Parent Job Quantity</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Is_Revised_Commissioning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CONTAINER_Commissioning__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CONTAINER_Job_Quantity__c</field>
            <value>
                <elementReference>P_Jobqty_01</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_WIP_Job_Quantity__c</field>
            <value>
                <elementReference>WIPFinalValue</elementReference>
            </value>
        </inputAssignments>
        <object>CONTAINER_Commissionig__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_QTY</name>
        <label>Update Parent QTY</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Same_Reccord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CONTAINER_Commissioning__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CONTAINER_Job_Quantity__c</field>
            <value>
                <elementReference>Job_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_WIP_Job_Quantity__c</field>
            <value>
                <elementReference>WIPJobQuantityLogic</elementReference>
            </value>
        </inputAssignments>
        <object>CONTAINER_Commissionig__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Same_Reccord</name>
        <label>Update Same Reccord</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>CONTAINER_Regional_Service_Manager__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Commisioning_Agent__r.CONTAINER_Regional_Service_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CommRecordname</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAWO</name>
        <label>UpdateAWO</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Commissioning__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CONTAINER_Commissioning_Contact__c</field>
            <value>
                <elementReference>$Record.Container_Commissioning_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Regional_Service_Manager__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Commisioning_Agent__r.CONTAINER_Regional_Service_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>CONTAINER_Work_Order__c</object>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Related_Commissioning_Detail</targetReference>
        </connector>
        <object>CONTAINER_Commissionig__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountParrentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>All_WorkOrder_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CONTAINER_Work_Order__c</objectType>
    </variables>
    <variables>
        <name>P_Jobqty_01</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ParentJobQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalWorkOrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WIPFinalValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>WIPJobQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
