NATTQA-ENV/force-app/main/default/flows/CONTAINER_Split_Quote_with_Related_Lists.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assigning_quote_data</name>
        <label>Assigning quote data</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ClonedQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedQuote.Parent_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Quote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedQuote.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedQuote.CONTAINER_Is_Cloned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedQuote.CONTAINER_ASO_ID__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedQuote.CONTAINER_ASO_Rev__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedQuote.CONTAINER_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order/Pending for Job #</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedQuote.CONTAINER_QuotePath__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order/Pending for Job #</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedQuote.CONTAINER_ASO_Rev__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedQuote.SBQQ__Source__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cloned_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PARENT_QUOTE</name>
        <label>PARENT QUOTE</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Quote.CONTAINER_Child_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClonedQuote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Parent_Quote</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>GENSETQuote</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GENSET</stringValue>
        </value>
    </constants>
    <constants>
        <name>NTQuote</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NT</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>CONTAINER Split Quote with Related Lists {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Split Quote with Related Lists</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cloned_Quote</name>
        <label>Create Cloned Quote</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>PARENT_QUOTE</targetReference>
        </connector>
        <inputReference>ClonedQuote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Parent_Quote</name>
        <label>Get Parent Quote</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_quote_data</targetReference>
        </connector>
        <filterLogic>1 AND( 2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CONTAINER_Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GENSETQuote</elementReference>
            </value>
        </filters>
        <filters>
            <field>CONTAINER_Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NTQuote</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_Parent_Quote</name>
        <label>Updating Parent Quote</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <inputReference>Get_Parent_Quote</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClonedQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
