NATTQA-ENV/force-app/main/default/flows/CONTAINER_Copy_Shipment_Button_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Quote_With_Pending_Cam_status_and_modified_by_CAM_User</name>
        <label>Quote With Pending Cam status and modified by CAM User</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_Cam_status_and_modified_by_CAM_User</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Quote_Status.CONTAINER_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending CAM Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAM NT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAM GENSET</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calling_Copy_Shipment_Schedule_Button_flow</targetReference>
            </connector>
            <label>Pending Cam status and modified by CAM User</label>
        </rules>
        <rules>
            <name>Status_is_not_Pending_CAM_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Quote_Status.CONTAINER_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending CAM Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Container Sales RSM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Container Sales RSM NAO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Container Sales RSM EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Container Sales RSM APO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calling_Copy_Shipment_Schedule_Button_flow</targetReference>
            </connector>
            <label>Status is not Pending CAM Approval</label>
        </rules>
        <rules>
            <name>Pending_CAM_Status_and_modified_by_Non_CAM_user</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Quote_Status.CONTAINER_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending CAM Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CAM NT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CAM GENSET</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Popup</targetReference>
            </connector>
            <label>Pending CAM Status and modified by Non-CAM user</label>
        </rules>
        <rules>
            <name>If_Rsm_Clicks_Copy_Button</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Container Sales RSM </stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Container Sales RSM NAO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Container Sales RSM EMEA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Container Sales RSM APO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Access_Available</targetReference>
            </connector>
            <label>If Rsm Clicks Copy Button</label>
        </rules>
    </decisions>
    <interviewLabel>CONTAINER Copy Shipment Button Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Copy Shipment Button Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Getting_Quote_Status</name>
        <label>Getting Quote Status</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_With_Pending_Cam_status_and_modified_by_CAM_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CONTAINER_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>For closing toast message</description>
        <name>Close_Popup</name>
        <label>Close_Popup</label>
        <locationX>88</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Displaying_Validation_Message</name>
            <fieldText>&lt;p&gt;Quote status is Pending CAM Approval, Only CAM can make changes to this Quote record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Access_Available</name>
        <label>No Access Available</label>
        <locationX>352</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;RSM users does not have access to Copy Button for Shipment Schedule&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_Quote_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calling_Copy_Shipment_Schedule_Button_flow</name>
        <label>Calling Copy Shipment Schedule Button flow</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <flowName>CONTAINER_Copy_Shipment_Schedule</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Getting_Quote_Status.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Quote record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
