NATTQA-ENV/force-app/main/default/flows/CONTAINER_Order_product_for_invalid_check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_the_value</name>
        <label>Check the value</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_value_INVALID_PRODUCT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ItemNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <label>Check value INVALID PRODUCT</label>
        </rules>
        <rules>
            <name>Check_value_Valid_PRODUCT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ItemNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_0</targetReference>
            </connector>
            <label>Check value Valid PRODUCT</label>
        </rules>
    </decisions>
    <interviewLabel>CONTAINER Order product for invalid check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Order product for invalid check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Finished_product_record</name>
        <label>Get Finished product record</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CONTAINER_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CONTAINER_Product_Number__c</elementReference>
            </value>
        </filters>
        <object>CONTAINER_Finished_Product__c</object>
        <outputAssignments>
            <assignToReference>ItemNumber</assignToReference>
            <field>CONTAINER_Item__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>CONTAINER_Is_product_line_valid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_0</name>
        <label>Update Status</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>CONTAINER_Is_product_line_valid__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Finished_product_record</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ItemNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordListVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CONTAINER_Finished_Product__c</objectType>
    </variables>
</Flow>
