NATTQA-ENV/force-app/main/default/flows/CONTAINER_Copy_Location_Address_to_Mailing_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_New_record_or_Old</name>
        <label>Check for New record or Old</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>1 AND ( 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CONTAINER_Same_as_location_address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CONTAINER_Authorized_Service_Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CONTAINER_Repair_Co_Terminal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Same_as_location_address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Mailing_Fields</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
        <rules>
            <name>Existing_Record</name>
            <conditionLogic>(1 AND 2 AND 3 AND (4 OR 5)) OR (2 AND (4 OR 5) AND (6 OR 7 OR 8 OR 9 OR 10 OR 11 ))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Same_as_location_address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CONTAINER_Same_as_location_address__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Same_as_location_address__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Same_as_location_address__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_Repair_Co_Terminal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CONTAINER_Authorized_Service_Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Location_Street__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Location_State__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Location_City__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Location_Zip_Postal_Code__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Location_Country__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Location_Street2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Mailing_Fields</targetReference>
            </connector>
            <label>Existing Record</label>
        </rules>
    </decisions>
    <description>Copy Location address fields to Mailing address, if the ‘Mailing Address same as location address’ checkbox is ‘True’</description>
    <interviewLabel>Copy Location Address to Mailing Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTAINER Copy Location Address to Mailing Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Updating_Mailing_Fields</name>
        <label>Updating Mailing Fields</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>CONTAINER_Mailing_City__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Location_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Mailing_Country__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Location_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Mailing_State__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Location_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Mailing_Street2__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Location_Street2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Mailing_Street__c</field>
            <value>
                <elementReference>$Record.CONTAINER_Location_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_Mailing_Zip_Postal_Code__c</field>
            <value>
                <elementReference>$Record.Location_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_New_record_or_Old</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
