NATTQA-ENV/force-app/main/default/flows/CTBR_Record_Type_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>CTBR_Units_Order_Record_Type_Assignment</name>
        <label>CTBR Units Order Record Type Assignment</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CTBR_Units_Order_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_CTBR_Record_Type</name>
        <label>Check CTBR Record Type</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>CTBR_Units_Order</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTBR_Units_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTBR_BluEdge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CTBR_Units_Order_Record_Type</targetReference>
            </connector>
            <label>CTBR Units Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CTBR Record Type Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTBR Record Type Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CTBR_Units_Order_Record_Type</name>
        <label>Get CTBR Units Order Record Type</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CTBR_Units_Order_Record_Type_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTBR_Units_Order</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_CTBR_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Record_Type_Developer_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>CTBR</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
