NATTQA-ENV/force-app/main/default/flows/CTBR_Case_Link_Parts_Screen_II.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh</name>
        <label>Refresh</label>
        <locationX>676</locationX>
        <locationY>2798</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Refresh1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <stringValue>/detail/{!recordId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh1</name>
        <label>Refresh</label>
        <locationX>676</locationX>
        <locationY>2918</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <stringValue>/detail/{!recordId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Order_Record</name>
        <label>Assign Case - Order Record</label>
        <locationX>1062</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>colCaseSalesOrderRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recCaseSalesOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Order_Record_0</name>
        <label>Assign Case - Order Record</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>colCaseSalesOrderRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recCaseSalesOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCaseOrderSalesRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_photo_file_name</name>
        <label>Assign photo file name</label>
        <locationX>270</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varFileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckPhotosI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPhotosI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecCaseSalesOrderValues</name>
        <label>AssignRecCaseSalesOrderValues</label>
        <locationX>1062</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecCaseSalesOrderValues_0</name>
        <label>AssignRecCaseSalesOrderValues</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Salesforce_Product_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartNumberLink.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Order_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Photos_II</name>
        <label>Count Photos II</label>
        <locationX>1150</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>varFileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckPhotosII</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPhotosII</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add photo names to the Case - Order.  Set the Photo Attached field to True.</description>
        <name>SetPhotoAttachedI</name>
        <label>SetPhotoAttached</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Photo_attached_to_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRecCaseSalesOrderValues_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPhotoAttachedII</name>
        <label>SetPhotoAttached</label>
        <locationX>930</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Photo_attached_to_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRecCaseSalesOrderValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The workflow is different if Orders are not available in Salesforce.  This is a temporary condition because B2B Commerce is being rolled out after Cases.</description>
        <name>SetWorkflowMode</name>
        <label>SetWorkflowMode</label>
        <locationX>544</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>OrdersAvailableinSalesforce</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the value captured on the screen flow to the JDE SO # field.  A text field was used on the object so that the input can be made mandatory when displayed but not when it is not displayed.</description>
        <name>Update_JDE_SO</name>
        <label>Update JDE SO #</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_JDE_SO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JDE_Sales_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPhotosI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>are_there_photos</name>
        <label>are there photos?</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>AssignRecCaseSalesOrderValues_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no_Photos</defaultConnectorLabel>
        <rules>
            <name>yes_photos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFileName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPhotoAttachedI</targetReference>
            </connector>
            <label>yes_photos</label>
        </rules>
    </decisions>
    <decisions>
        <name>are_there_photos_II</name>
        <label>are there photos?</label>
        <locationX>1062</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>AssignRecCaseSalesOrderValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no_photos</defaultConnectorLabel>
        <rules>
            <name>yes_photos_II</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFileName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPhotoAttachedII</targetReference>
            </connector>
            <label>yes_photos</label>
        </rules>
    </decisions>
    <decisions>
        <name>CTBR_Tied_to_Order</name>
        <label>Tied to Order</label>
        <locationX>544</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Select_Order_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not_Tied_To_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrdersAvailableinSalesforce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseSalesOrderFields_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>InternalUser</name>
        <label>InternalUser</label>
        <locationX>544</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>Refresh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_IsInternalUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInternalUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseRefresh</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks the number of order products included</description>
        <name>Num_of_Order_Products</name>
        <label>Num of Order Products</label>
        <locationX>906</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateCaseSalesOrderFields_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Order Products Selected</defaultConnectorLabel>
        <rules>
            <name>Order_Products_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderProductsTable.numberOfRowsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Order_Products</targetReference>
            </connector>
            <label>Order Products Selected</label>
        </rules>
    </decisions>
    <description>Adds field selection to CTBR Case Link Parts Screen</description>
    <environments>Default</environments>
    <formulas>
        <description>Determines if the Screen field should be visible</description>
        <name>AdditionalDetailCustomerCommentsFieldVisible</name>
        <dataType>Boolean</dataType>
        <expression>CASE( {!Get_Case_Information.CTBR_Case_Reason__c},
&quot;Access Profile change&quot;,1,
&quot;Additional Expense&quot;,1,
&quot;Aliquot Differential&quot;,1,
&quot;Back Order&quot;,1,
&quot;Billing Address Update&quot;,1,
&quot;CFOP&quot;,1,
&quot;Class A parts return&quot;,1,
&quot;Commercial Warranty Extension&quot;,1,
&quot;Contract changes&quot;,1,
&quot;Coverage information&quot;,1,
&quot;Credit Revaluation&quot;,1,
&quot;Credit&quot;,1,
&quot;Customer transfer&quot;,1,
&quot;Damage Parts&quot;,1,
&quot;Danfe Email Update&quot;,1,
&quot;Dealer Level Update&quot;,1,
&quot;Debt Renegotiation&quot;,1,
&quot;Delivery address update&quot;,1,
&quot;Delivery Notes&quot;,1,
&quot;Delivery Time&quot;,1,
&quot;Doubts&quot;,1,
&quot;Equipment replacement&quot;,1,
&quot;Freight Company Complaints &quot;,1,
&quot;Group/Subgroup/Issue&quot;,1,
&quot;ICMS&quot;,1,
&quot;Invoice issue&quot;,1,
&quot;Missing item&quot;,1,
&quot;New register&quot;,1,
&quot;New/Cancellation/Change access&quot;,1,
&quot;New/Cancelling&quot;,1,
&quot;Offline system&quot;,1,
&quot;Order Status/Tracking&quot;,1,
&quot;Other Taxes&quot;,1,
&quot;Packing&quot;,1,
&quot;Part with problem&quot;,1,
&quot;Payment Issues&quot;,1,
&quot;Pending approval&quot;,1,
&quot;Pending payment&quot;,1,
&quot;Problem&quot;,1,
&quot;Program information&quot;,1,
&quot;Refresh Gas Price Update&quot;,1,
&quot;Refusal&quot;,1,
&quot;Register Update&quot;,1,
&quot;Report error&quot;,1,
&quot;Reset Password &quot;,1,
&quot;Return notice&quot;,1,
&quot;S/N Not found&quot;,1,
&quot;Tax Substitution&quot;,1,
&quot;Technical Warranty Extension&quot;,1,
&quot;Transfer in the fleet&quot;,1,
&quot;Unsubscribe&quot;,1,
&quot;Wrong amount&quot;,1,
&quot;Wrong code/item&quot;,1
,0 ) == 1</expression>
    </formulas>
    <formulas>
        <description>Determines if the Screen field should be visible</description>
        <name>DisputedQuantityFieldVisible</name>
        <dataType>Boolean</dataType>
        <expression>CASE( {!Get_Case_Information.CTBR_Case_Reason__c},
&quot;Availability&quot;,1,
&quot;Back Order&quot;,1,
&quot;Package Labeled Wrong&quot;,1
,0 ) == 1</expression>
    </formulas>
    <formulas>
        <name>IsInternalUser</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.ContactId}=&quot;&quot;</expression>
    </formulas>
    <formulas>
        <description>Determines if the Screen field should be visible</description>
        <name>ModelSerialNumberFieldVisible</name>
        <dataType>Boolean</dataType>
        <expression>CASE( {!Get_Case_Information.CTBR_Case_Reason__c},
&quot;Package Labeled Wrong&quot;,1
,0 ) == 1</expression>
    </formulas>
    <formulas>
        <name>OrderNumberVisibility</name>
        <dataType>Boolean</dataType>
        <expression>CASE({!Get_Case_Information.CTBR_Case_Reason__c},
&quot;Arrival forecast&quot;,1,
&quot;Availability&quot;,1,
&quot;Back Order&quot;,1,
&quot;Bill Copies&quot;,1,
&quot;Cancellation&quot;,1,
&quot;Complaint&quot;,1,
&quot;Credit&quot;,1,
&quot;Credit Memos&quot;,1,
&quot;Damage Parts&quot;,1,
&quot;Delivery Notes&quot;,1,
&quot;Delivery Time&quot;,1,
&quot;Extension&quot;,1,
&quot;Invoice issue&quot;,1,
&quot;Invoice Problems&quot;,1,
&quot;Missing item&quot;,1,
&quot;New register&quot;,1,
&quot;Order Entry Error&quot;,1,
&quot;Order status&quot;,1,
&quot;Order Status/Tracking&quot;,1,
&quot;Package Labeled Wrong&quot;,1,
&quot;Packing&quot;,1,
&quot;Parcial order&quot;,1,
&quot;Payment Terms&quot;,1,
&quot;PreOrder&quot;,1,
&quot;Refusal&quot;,1,
&quot;Register Update&quot;,1,
&quot;Return notice&quot;,1,
&quot;Shipping Value&quot;,1,
&quot;Wrong amount&quot;,1,
&quot;Wrong code/item&quot;,1,
&quot;Wrong Price&quot;,1
,0 ) == 1</expression>
    </formulas>
    <formulas>
        <description>Determines if the Screen field should be visible</description>
        <name>PackingSlipFieldVisible</name>
        <dataType>Boolean</dataType>
        <expression>CASE({!Get_Case_Information.CTBR_Case_Reason__c},
&quot;Package Labeled Wrong&quot;,1
,0 ) == 1</expression>
    </formulas>
    <formulas>
        <name>PartNumVisible</name>
        <dataType>Boolean</dataType>
        <expression>CASE( {!Get_Case_Information.CTBR_Case_Reason__c},
&quot;Availability&quot;,1,
&quot;Back Order&quot;,1,
&quot;Complaint&quot;,1,
&quot;Credit Memos&quot;,1,
&quot;Credit&quot;,1,
&quot;Invoice issue&quot;,1,
&quot;Order Entry Error&quot;,1,
&quot;Order Status/Tracking&quot;,1,
&quot;Package Labeled Wrong &quot;,1,
&quot;Part with problem&quot;,1
,0 ) == 1</expression>
    </formulas>
    <formulas>
        <description>Determines if the Screen field should be visible</description>
        <name>PhotoFieldVisible</name>
        <dataType>Boolean</dataType>
        <expression>CASE( {!Get_Case_Information.CTBR_Case_Reason__c},
&quot;Package Labeled Wrong&quot;,1,
&quot;Damage Parts&quot;,1,
&quot;Delivery Notes&quot;,1
,0 ) == 1</expression>
    </formulas>
    <interviewLabel>CTBR Case Link Parts Screen II {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTBR Case Link Parts Screen II</label>
    <loops>
        <description>Count the number of photos attached</description>
        <name>CheckPhotosI</name>
        <label>CheckPhotosI</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <collectionReference>CTBRCasePhotos.fileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_photo_file_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>are_there_photos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Count the number of photos attached</description>
        <name>CheckPhotosII</name>
        <label>CheckPhotosII</label>
        <locationX>1062</locationX>
        <locationY>1238</locationY>
        <collectionReference>CTBRCasePhotosII.fileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Photos_II</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>are_there_photos_II</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Order_Products</name>
        <label>Loop Order Products</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <collectionReference>OrderProductsTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateCaseSalesOrderFields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateCaseOrderSalesRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCaseOrderSalesRecords</name>
        <label>CreateCaseOrderSalesRecords</label>
        <locationX>544</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>update_case_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>colCaseSalesOrderRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Case Information</description>
        <name>Get_Case_Information</name>
        <label>Get Case Information</label>
        <locationX>544</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CTBR_Tied_to_Order</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>906</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Order_Products_for_Selection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_case_0</name>
        <label>update case</label>
        <locationX>544</locationX>
        <locationY>2558</locationY>
        <connector>
            <targetReference>InternalUser</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Case_Information</inputReference>
    </recordUpdates>
    <screens>
        <name>CaseRefresh</name>
        <label>CaseRefresh</label>
        <locationX>412</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>redirectToCase</name>
            <extensionName>c:NATT_FlowRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Order_Products_for_Selection</name>
        <label>Display Order Products for Selection</label>
        <locationX>906</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Num_of_Order_Products</targetReference>
        </connector>
        <fields>
            <name>OrderProductsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Order_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Part_Number__c,UnitPrice,Quantity,TotalPrice,NATT_Product_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Part_Number__c:133, UnitPrice:119, Quantity:96, TotalPrice:142, NATT_Product_Name__c:413</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select Oder Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>finish screen</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1498</locationX>
        <locationY>2678</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Desculpe! Ocorreu um erro.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Choose which order to add</description>
        <name>Select_Order_Screen</name>
        <label>Select Order Screen</label>
        <locationX>906</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <fields>
            <name>OrderLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>NATT_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue> Pedido</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>NATT_Case_Sales_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>lets the user update fields that go directly on the case sales order that gets created</description>
        <name>UpdateCaseSalesOrderFields</name>
        <label>UpdateCaseSalesOrderFields</label>
        <locationX>1062</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previa/Previo</backButtonLabel>
        <connector>
            <targetReference>CheckPhotosII</targetReference>
        </connector>
        <fields>
            <name>AddFieldsDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Actualizar valores para&lt;/strong&gt;&lt;strong&gt; {!Loop_Order_Products.Part_Number__c}, {!Loop_Order_Products.NATT_Product_Name__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Disputed_Quantity__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DisputedQuantityFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Packing_Slip_Number__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PackingSlipFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Model_Number__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ModelSerialNumberFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Serial_Number__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ModelSerialNumberFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Additional_Detail__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AdditionalDetailCustomerCommentsFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CTBRCasePhotosII</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>As fotos anexadas estarão disponíveis nos Arquivos na lista relacionada do Caso.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fotos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>CTBR_PhotosAttached</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PhotoFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>lets the user update fields that go directly on the case sales order that gets created</description>
        <name>UpdateCaseSalesOrderFields_0</name>
        <label>UpdateCaseSalesOrderFields</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Update_JDE_SO</targetReference>
        </connector>
        <fields>
            <name>AddFieldsDisplayText_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Actualizar Valores para el Pedido o Producto&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SalesOrderInstructions</name>
            <fieldText>&lt;p&gt;Atualizar valores para o Pedido de Venda da Carrier e/ou Número da Peça.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OrderNumberVisibility</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>OrdersAvailableinSalesforce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>JDE_Sales_Order</name>
            <dataType>String</dataType>
            <fieldText>Pedido de Venda da Carrier</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Insira o Número do seu Pedido de Venda JDE&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OrderNumberVisibility</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>OrdersAvailableinSalesforce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PartNumberLinkInstructions</name>
            <fieldText>&lt;p&gt;Selecione o Número da Peça clicando na caixa abaixo e digitando o nome da peça/descrição (por exemplo, gerador) ou especificando o Número da Peça.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PartNumVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PartNumberLink</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>NATT_Salesforce_Product_Link__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Link do Número da Peça</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>NATT_Case_Sales_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PartNumVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PartNumberFreeFormInstructions</name>
            <fieldText>&lt;p&gt;É sempre melhor usar o link do Número da Peça para especificar um Número da Peça. Isso reduz o tempo de processamento do caso. Se você não conseguir usar o link do Número da Peça, inclua o Número da Peça na caixa Peça # (texto em formato livre) e na caixa Descrição do Peça # (texto em formato livre) abaixo.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PartNumVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Part__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PartNumVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>OrdersAvailableinSalesforce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Part_Description__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PartNumVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>OrdersAvailableinSalesforce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Disputed_Quantity__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DisputedQuantityFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Packing_Slip_Number__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PackingSlipFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Model_Number__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ModelSerialNumberFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Serial_Number__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ModelSerialNumberFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Additional_Detail__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AdditionalDetailCustomerCommentsFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CTBRCasePhotos</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fotos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>As fotos anexadas estarão disponíveis nos Arquivos na lista relacionada do Caso.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>CTBR_PhotosAttached</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PhotoFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>418</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetWorkflowMode</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Case Order junction object to create</description>
        <name>colCaseSalesOrderRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Case_Sales_Order__c</objectType>
    </variables>
    <variables>
        <description>Photos for the Sales - Order are attached to the Case for ease of access.  The names are stored on the Case - Order.</description>
        <name>CTBR_PhotosAttached</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>At initial rollout of Cases the Orders were not available in Salesforce.  This variable is used to determine if an alternative workflow should be applied.</description>
        <name>OrdersAvailableinSalesforce</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Count the attached photos</description>
        <name>PhotoCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Single Variable to combine names of files attached into a text stream.</description>
        <name>PhotosAttachedSingleVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recCaseSalesOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Case_Sales_Order__c</objectType>
    </variables>
    <variables>
        <description>the case where this started</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>contains the last file name of the looped text collection, file uploaded</description>
        <name>varFileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
