NATTQA-ENV/force-app/main/default/flows/CTBR_Address_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ASSN_CTBR_Junction_With_Address</name>
        <label>ASSN CTBR Junction With Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Var_CTBR_Junction_Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CTBR_Junction_Record.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CTBR_Junction_Record.CTBR_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CTBR_Junction_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CTBR_Junction_Record_Creation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Type_Checking_for_Address</name>
        <label>Record Type Checking for Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTBR_Address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSN_CTBR_Junction_With_Address</targetReference>
            </connector>
            <label>Outcome</label>
        </rules>
    </decisions>
    <description>CTBR Junction object Creation</description>
    <environments>Default</environments>
    <formulas>
        <name>Var_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.NATT_Account_Name__c} +&apos; - &apos;+{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>CTBR Address After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTBR Address After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CTBR_Junction_Record_Creation</name>
        <label>CTBR Junction Record Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Var_CTBR_Junction_Record</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Checking_for_Address</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>NATT_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Units Ship To</stringValue>
            </value>
        </filters>
        <object>NATT_Address__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_CTBR_Junction_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ctbr_Account_Address_Junction__c</objectType>
    </variables>
</Flow>
