NATTQA-ENV/force-app/main/default/flows/CTBR_Checkout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CartToOrder</name>
        <label>CartToOrder</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>cartToOrderAction</actionName>
        <actionType>cartToOrderAction</actionType>
        <connector>
            <targetReference>getCheckoutSessionOrderId</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cartToOrderAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>NATT_B2BDelivery</name>
        <label>NATT_B2BDelivery</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>NATT_B2bDelivery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TesB2bCheckoutScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderType</name>
            <value>
                <elementReference>Ordertype</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NATT_B2bDelivery</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>jdeOrderType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </constants>
    <constants>
        <name>Ordertype</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CTBR</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>CTBR Checkout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTBR Checkout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <recordLookups>
        <name>getCheckoutSessionOrderId</name>
        <label>getCheckoutSessionOrderId</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWebCartData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainCheckoutSession.Id</elementReference>
            </value>
        </filters>
        <object>CartCheckoutSession</object>
        <outputAssignments>
            <assignToReference>orderId</assignToReference>
            <field>OrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOrderRtId</name>
        <label>getOrderRtId</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTBR_Parts_Order</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>orderRtId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getWebCartData</name>
        <label>getWebCartData</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrderRtId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebCart</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CloseCart</name>
        <label>CloseCart</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>OrderDetailConfirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCheckoutSession_0</name>
        <label>updateCheckoutSession</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>CartToOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainCheckoutSession.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NextState</field>
            <value>
                <stringValue>Cart To Order</stringValue>
            </value>
        </inputAssignments>
        <object>CartCheckoutSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrder</name>
        <label>updateOrder</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>CloseCart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>getWebCartData.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>getWebCartData.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>getWebCartData.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>getWebCartData.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTBR_Freight_Payment__c</field>
            <value>
                <elementReference>getWebCartData.CTBR_Freight_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTBR_Shipment_Method__c</field>
            <value>
                <elementReference>getWebCartData.CTBR_Shipment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Point_Address__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Contact_Point_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Contact_Email__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Order_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Contact_Name__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Order_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Contact_Phone__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Order_Contact_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Dealer_Comments__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Dealer_Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Freight_Account_Number__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Freight_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_JdeOrderType__c</field>
            <value>
                <elementReference>jdeOrderType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Order_Status__c</field>
            <value>
                <stringValue>Awaiting Pricing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Payment_Instruction__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Payment_Instruction__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Purchase_Order__c</field>
            <value>
                <elementReference>getWebCartData.PoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Shipment_Method__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipping_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Shipment_Terms__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Shipping_Address__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipping_Address_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Transaction_Id__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Transaction_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Transaction_Payment_Id__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Transaction_Payment_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Warehouse__c</field>
            <value>
                <stringValue>CTB01</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>orderRtId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipping_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipping_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>OrderDetailConfirmation</name>
        <label>OrderDetailConfirmation</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OrderDetailRedirect</targetReference>
        </connector>
        <fields>
            <name>WarningText1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;em&gt;Ordem gerada de forma&amp;nbsp;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;em&gt;exitosa (não pode ser atualizada),&amp;nbsp;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;em&gt;favor retornar à página&amp;nbsp;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;em&gt;principal clicando no &lt;u&gt;início&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>recordId2</name>
            <extensionName>c:natt_CtbrOrderDetailsComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>orderId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OrderDetailRedirect</name>
        <label>OrderDetailRedirect</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectToOrder</name>
            <extensionName>forceCommunity:flowRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>orderconfirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>orderId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TesB2bCheckoutScreen</name>
        <label>TesB2bCheckoutScreen</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateCheckoutSession_0</targetReference>
        </connector>
        <fields>
            <name>ctbrCheckout</name>
            <extensionName>c:nattCtbrCheckout</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderType</name>
                <value>
                    <elementReference>Ordertype</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>sfdc_checkout__CheckoutTemplate</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Or_Create_Session_Subflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>The Get or Create Session node retrieves or creates the CartCheckoutSession for a given cart ID. There is only one valid session for a cart at a time. The most likely scenarios are Session.isArchived=false and Session.state is not Error or Completed.</description>
        <name>Get_Or_Create_Session_Subflow</name>
        <label>Get Or Create Session</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>NATT_B2BDelivery</targetReference>
        </connector>
        <flowName>sfdc_checkout__CheckoutSession</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>mainCheckoutSession</assignToReference>
            <name>checkoutSession</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>debug</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>jobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainCheckoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderRtId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shouldCloseCart</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
