NATTQA-ENV/force-app/main/default/flows/CTM_Submit_Quote_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Auto_Submit_Quote_for_Approval</name>
        <label>Auto Submit Quote for Approval</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>SuccessfullySubmittedforApproval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>CTM Unit Submit Quote for Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Quote_contains_line_items</name>
        <label>Quote contains line items</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Auto_Submit_Quote_for_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SubmitQuote</defaultConnectorLabel>
        <rules>
            <name>NoQuoteLines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SBQQ__LineItemCount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Quote_for_Approval</targetReference>
            </connector>
            <label>NoQuoteLines</label>
        </rules>
        <rules>
            <name>RequiredFieldsNotPopulated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.NATT_End_Customer__r.Puesto__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.NATT_End_Customer__r.NATT_Company_Legal_name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PopulateRequiredFields</targetReference>
            </connector>
            <label>RequiredFieldsNotPopulated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CTM - Submit Quote for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTM - Submit Quote for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>PopulateRequiredFields</name>
        <label>PopulateRequiredFields</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PopulatedRequiredFields</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(244, 0, 0);&quot;&gt;Los campos ‘Puesto’ y ‘Nombre Legal de la Compañía’ del cliente final son requeridos &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(244, 0, 0);&quot;&gt;(Click en link de Cliente Final en la sección Información de Sistema, revisar si los campos de Puesto y Nombre Legal de la Compañía tienen valores)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_Quote_for_Approval</name>
        <label>Submit Quote for Approval</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 0, 0); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Se requiere configurar la cotización y seleccionar la unidad. Clic en ‘Modificar partidas’ para añadir la unidad, configurarla y enviar la cotización por aprobación.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessfullySubmittedforApproval</name>
        <label>SuccessfullySubmittedforApproval</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>QuoteSubmittedforApproval</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 21, 253); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Cotización fue enviada correctamente por aprobación&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quote_contains_line_items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
</Flow>
