NATTQA-ENV/force-app/main/default/flows/CTM_Order_After_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Activated_Check</name>
        <label>Activated Check</label>
        <locationX>1238</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>needs_activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Number_of_Order_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Order</targetReference>
            </connector>
            <label>needs activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Record</name>
        <label>Check Quote Record</label>
        <locationX>446</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>CTM_Dealer_Region_1_Mexico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.CTM_Dealer_Region_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mexico</targetReference>
            </connector>
            <label>CTM Dealer Region 1 - Mexico</label>
        </rules>
        <rules>
            <name>CTM_Dealer_Region_2_Central_America_and_Caribbean</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.CTM_Dealer_Region_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Central_America_and_Caribbean</targetReference>
            </connector>
            <label>CTM Dealer Region 2 - Central America and Caribbean</label>
        </rules>
        <rules>
            <name>CTM_Dealer_Region_3_South_America</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.CTM_Dealer_Region_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CTM_dealer_related_to_panama_or_not</targetReference>
            </connector>
            <label>CTM Dealer Region 3 - South America</label>
        </rules>
    </decisions>
    <decisions>
        <name>CTM_dealer_related_to_panama_or_not</name>
        <label>CTM dealer related to panama or not</label>
        <locationX>534</locationX>
        <locationY>726</locationY>
        <defaultConnector>
            <targetReference>Update_Warehouse_to_105</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Panama_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Warehouse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Panama</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Origen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Panama</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_warehouse_to_panama</targetReference>
            </connector>
            <label>Panama Checked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>CTM Carrier Number Update</description>
        <name>DefaultRegionCarrierNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.CTM_Dealer_Region3_Carrier_Number})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>CTM Carrier Number Update</description>
        <name>Region1CarrierNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.CTM_Dealer_Region1_Carrier_Number})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>CTM Carrier Number Update</description>
        <name>Region2CarrierNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.CTM_Dealer_Region2_Carrier_Number})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>CTM Carrier Number Update</description>
        <name>Region3CarrierNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Label.CTM_Dealer_Region3_Carrier_Number})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CTM Order After Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTM Order After Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CTM_Units_Order_RecordType</name>
        <label>Get CTM Units Order RecordType</label>
        <locationX>369</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Order_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTM_Units_Order</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>CTMUnitsOrderRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Order</name>
        <label>Activate Order</label>
        <locationX>1106</locationX>
        <locationY>432</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Central_America_and_Caribbean</name>
        <label>Central America and Caribbean</label>
        <locationX>332</locationX>
        <locationY>693</locationY>
        <inputAssignments>
            <field>NATT_Carrier_Number__c</field>
            <value>
                <elementReference>Region2CarrierNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Warehouse__c</field>
            <value>
                <stringValue>MEX</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Default</name>
        <label>Default</label>
        <locationX>843</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>NATT_Carrier_Number__c</field>
            <value>
                <elementReference>DefaultRegionCarrierNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Warehouse__c</field>
            <value>
                <stringValue>MIA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Mexico</name>
        <label>Mexico</label>
        <locationX>103</locationX>
        <locationY>699</locationY>
        <inputAssignments>
            <field>NATT_Carrier_Number__c</field>
            <value>
                <elementReference>Region1CarrierNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Warehouse__c</field>
            <value>
                <stringValue>MEX</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_RecordType</name>
        <label>Update Order RecordType</label>
        <locationX>504</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>Check_Quote_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CTMUnitsOrderRT</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Warehouse_to_105</name>
        <label>Update Warehouse to 105</label>
        <locationX>758</locationX>
        <locationY>847</locationY>
        <inputAssignments>
            <field>NATT_Carrier_Number__c</field>
            <value>
                <elementReference>Region3CarrierNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Warehouse__c</field>
            <value>
                <stringValue>MIA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_warehouse_to_panama</name>
        <label>update warehouse to panama</label>
        <locationX>410</locationX>
        <locationY>855</locationY>
        <inputAssignments>
            <field>NATT_Carrier_Number__c</field>
            <value>
                <elementReference>Region3CarrierNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Warehouse__c</field>
            <value>
                <stringValue>PAN</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>562</locationX>
        <locationY>11</locationY>
        <connector>
            <targetReference>Get_CTM_Units_Order_RecordType</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Quote_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MX_Units_Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quote_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTM_Units_Quote_Approved</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Wait_for_Activation</name>
            <connector>
                <targetReference>Activated_Check</targetReference>
            </connector>
            <label>Wait for Activation</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>NATT_Activate_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CTMUnitsOrderRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
