NATTQA-ENV/force-app/main/default/flows/CTM_Checkout_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CartToOrder</name>
        <label>CartToOrder</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>cartToOrderAction</actionName>
        <actionType>cartToOrderAction</actionType>
        <connector>
            <targetReference>getCheckoutSessionOrderId</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cartToOrderAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Delivery_Methods</name>
        <label>Delivery Methods</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>NATT_B2bDelivery</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LWC_Checkout</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderType</name>
            <value>
                <stringValue>CTM</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NATT_B2bDelivery</nameSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Same_Day</name>
        <choiceText>{!$Label.NATT_Checkout_Same_Day}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stock</name>
        <choiceText>{!$Label.NATT_Checkout_Stock}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unit_Down</name>
        <choiceText>{!$Label.NATT_Checkout_Unit_Down}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <description>Checkout Flow for Mexico (CTM) Storefront</description>
    <environments>Default</environments>
    <interviewLabel>CTM Checkout Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTM Checkout Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <recordLookups>
        <name>getAccountBillingAddressInfo</name>
        <label>getAccountBillingAddressInfo</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOrderRtId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWebCartData.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NATT_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NATT_Address__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NATT_Street__c</queriedFields>
        <queriedFields>NATT_City__c</queriedFields>
        <queriedFields>NATT_State_Province__c</queriedFields>
        <queriedFields>NATT_Zip_Postal_Code__c</queriedFields>
        <queriedFields>NATT_Country__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCheckoutSessionOrderId</name>
        <label>getCheckoutSessionOrderId</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWebCartData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainCheckoutSession.Id</elementReference>
            </value>
        </filters>
        <object>CartCheckoutSession</object>
        <outputAssignments>
            <assignToReference>orderId</assignToReference>
            <field>OrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOrderRtId</name>
        <label>getOrderRtId</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTM_Parts_Order</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>orderRtId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getWebCartData</name>
        <label>getWebCartData</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountBillingAddressInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebCart</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CloseCart</name>
        <label>CloseCart</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>OrderDetailsConfirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCheckoutSession</name>
        <label>updateCheckoutSession</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>CartToOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainCheckoutSession.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NextState</field>
            <value>
                <stringValue>Cart To Order</stringValue>
            </value>
        </inputAssignments>
        <object>CartCheckoutSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrder</name>
        <label>updateOrder</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>CloseCart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>getAccountBillingAddressInfo.NATT_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>getAccountBillingAddressInfo.NATT_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>getAccountBillingAddressInfo.NATT_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>getAccountBillingAddressInfo.NATT_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>getAccountBillingAddressInfo.NATT_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Final_Project__c</field>
            <value>
                <elementReference>getWebCartData.Client_Final_Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Point_Address__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Contact_Point_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_CTM_Payment_Terms__c</field>
            <value>
                <elementReference>getWebCartData.NATT_CTM_Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Contact_Email__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Order_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Contact_Name__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Order_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Contact_Phone__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Order_Contact_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Freight_Account_Number__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Freight_Account_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Incoterm__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Incoterm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_JdeOrderType__c</field>
            <value>
                <elementReference>getWebCartData.NATT_JDE_Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Purchase_Order__c</field>
            <value>
                <elementReference>getWebCartData.PoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Shipment_Method__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipping_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Shipment_Terms__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Shipping_Address__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipping_Address_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Warehouse__c</field>
            <value>
                <elementReference>getWebCartData.NATT_Warehouse__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>orderRtId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipping_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipping_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipping_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipping_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>getWebCartData.NATT_Shipping_Street__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>LWC_Checkout</name>
        <label>LWC Checkout</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>updateCheckoutSession</targetReference>
        </connector>
        <fields>
            <name>PpgCtmCheckout</name>
            <extensionName>c:nattCtmCheckout</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderType</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OrderDetailRedirect</name>
        <label>OrderDetailRedirect</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectToOrder</name>
            <extensionName>forceCommunity:flowRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>order/Order/</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OrderDetailsConfirmation</name>
        <label>OrderDetailsConfirmation</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OrderDetailRedirect</targetReference>
        </connector>
        <fields>
            <name>WarningText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(31, 56, 100);&quot;&gt;&lt;em&gt;Orden generada de forma exitosa (no se puede actualizar), favor de regresar a la página principal dando clic en &lt;u&gt;Inicio&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>recordId</name>
            <extensionName>c:natt_OrderDetailsComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>orderId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Inicio</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_or_Create_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_or_Create_Session</name>
        <label>Get or Create Session</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Delivery_Methods</targetReference>
        </connector>
        <flowName>PPG_Checkout_Session</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>mainCheckoutSession</assignToReference>
            <name>checkoutSession</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>debug</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>deliveryMethodOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainCheckoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>orderRtId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shouldCloseCart</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
