NATTQA-ENV/force-app/main/default/flows/CTM_Default_Quote_Origen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Owner_Specific_Country</name>
        <label>Owner Specific Country</label>
        <locationX>842</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Set_Origen_to_Miami</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Miami</defaultConnectorLabel>
        <rules>
            <name>Mexico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Default_List_Price_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mexico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Origen_to_Mexico</targetReference>
            </connector>
            <label>Mexico</label>
        </rules>
        <rules>
            <name>Colombia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Default_List_Price_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colombia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Origen_to_Colombia</targetReference>
            </connector>
            <label>Colombia</label>
        </rules>
        <rules>
            <name>Peru</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Default_List_Price_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Peru</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Origen_to_Peru</targetReference>
            </connector>
            <label>Peru</label>
        </rules>
        <rules>
            <name>Chile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Default_List_Price_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Origen_to_Chile</targetReference>
            </connector>
            <label>Chile</label>
        </rules>
        <rules>
            <name>Ecuador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Default_List_Price_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ecuador</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Origen_to_Ecuador</targetReference>
            </connector>
            <label>Ecuador</label>
        </rules>
        <rules>
            <name>REFRITRANS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Default_List_Price_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REFRITRANS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Origen_to_REFRITRANS</targetReference>
            </connector>
            <label>REFRITRANS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_CTM_Regional_Manager</name>
        <label>Update CTM Regional Manager</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_CTM_Manager_to_Jesus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CTM Dealer Region 3 or default</defaultConnectorLabel>
        <rules>
            <name>CTM_Dealer_Region_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.CTM_Dealer_Region_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CTM_Manager_to_Stefany</targetReference>
            </connector>
            <label>CTM Dealer Region 1</label>
        </rules>
        <rules>
            <name>CTM_Dealer_Region_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.CTM_Dealer_Region_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CTM_Manager_to_Viviana</targetReference>
            </connector>
            <label>CTM Dealer Region 2</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CTM Default Origen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTM Default Quote Origen v3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Origen_to_Chile</name>
        <label>Set Origen to Chile</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Chile</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Origen_to_Colombia</name>
        <label>Set Origen to Colombia</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Colombia</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Origen_to_Ecuador</name>
        <label>Set Origen to Ecuador</label>
        <locationX>1106</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Ecuador</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Origen_to_Mexico</name>
        <label>Set Origen to Mexico</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Mexico</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Origen_to_Miami</name>
        <label>Set Origen to Miami</label>
        <locationX>1634</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Manufacturing Plant</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Origen_to_Peru</name>
        <label>Set Origen to Peru</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>Peru</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Origen_to_REFRITRANS</name>
        <label>Set Origen to REFRITRANS</label>
        <locationX>1370</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <stringValue>REFRITRANS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CTM_Manager_to_Jesus</name>
        <label>Update CTM Manager to Jesus</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Owner_Specific_Country</targetReference>
        </connector>
        <inputAssignments>
            <field>CTM_Regional_Manager_Approver__c</field>
            <value>
                <elementReference>$Label.CTM_Dealer_Region3_Approver</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CTM_Manager_to_Stefany</name>
        <label>Update CTM Manager to Stefany</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Owner_Specific_Country</targetReference>
        </connector>
        <inputAssignments>
            <field>CTM_Regional_Manager_Approver__c</field>
            <value>
                <elementReference>$Label.CTM_Dealer_Region1_Approver</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CTM_Manager_to_Viviana</name>
        <label>Update CTM Manager to Viviana</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Owner_Specific_Country</targetReference>
        </connector>
        <inputAssignments>
            <field>CTM_Regional_Manager_Approver__c</field>
            <value>
                <elementReference>$Label.CTM_Dealer_Region2_Approver</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Template_Id</name>
        <label>Update Quote Template Id</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_CTM_Regional_Manager</targetReference>
        </connector>
        <inputAssignments>
            <field>CTM_Finance_Approver__c</field>
            <value>
                <elementReference>$Label.CTM_Finance_Approver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTM_General_Manager_Approver__c</field>
            <value>
                <elementReference>$Label.CTM_General_Manager_Approver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTM_Sales_Director_Approver__c</field>
            <value>
                <elementReference>$Label.CTM_Sales_Director_Approver</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__QuoteTemplateId__c</field>
            <value>
                <elementReference>$Label.CTM_Units_Proposal_Document</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Quote_Template_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_Quote_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MX_Units_Quote</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
