NATTQA-ENV/force-app/main/default/flows/CTM_Case_Link_Parts_Screen_II.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refresh</name>
        <label>Refresh</label>
        <locationX>1163</locationX>
        <locationY>1401</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Refresh1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <stringValue>/detail/{!recordId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh1</name>
        <label>Refresh</label>
        <locationX>1324</locationX>
        <locationY>1401</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <stringValue>/detail/{!recordId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Order_Record</name>
        <label>Assign Case - Order Record</label>
        <locationX>1394</locationX>
        <locationY>1083</locationY>
        <assignmentItems>
            <assignToReference>colCaseSalesOrderRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recCaseSalesOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Order_Record_0</name>
        <label>Assign Case - Order Record</label>
        <locationX>589</locationX>
        <locationY>1081</locationY>
        <assignmentItems>
            <assignToReference>colCaseSalesOrderRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recCaseSalesOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCaseOrderSalesRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_photo_file_name</name>
        <label>Assign photo file name</label>
        <locationX>388</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>varFileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckPhotosI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPhotosI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecCaseSalesOrderValues</name>
        <label>AssignRecCaseSalesOrderValues</label>
        <locationX>1582</locationX>
        <locationY>1083</locationY>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Order_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecCaseSalesOrderValues_0</name>
        <label>AssignRecCaseSalesOrderValues</label>
        <locationX>390</locationX>
        <locationY>1081</locationY>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Salesforce_Product_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PartNumberLink.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Order_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Photos_II</name>
        <label>Count Photos II</label>
        <locationX>1581</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>varFileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckPhotosII</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPhotosII</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add photo names to the Case - Order.  Set the Photo Attached field to True.</description>
        <name>SetPhotoAttachedI</name>
        <label>SetPhotoAttached</label>
        <locationX>160</locationX>
        <locationY>1185</locationY>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Photo_attached_to_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRecCaseSalesOrderValues_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPhotoAttachedII</name>
        <label>SetPhotoAttached</label>
        <locationX>1809</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_Photo_attached_to_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRecCaseSalesOrderValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>The workflow is different if Orders are not available in Salesforce.  This is a temporary condition because B2B Commerce is being rolled out after Cases.</description>
        <name>SetWorkflowMode</name>
        <label>SetWorkflowMode</label>
        <locationX>731</locationX>
        <locationY>184</locationY>
        <assignmentItems>
            <assignToReference>OrdersAvailableinSalesforce</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the value captured on the screen flow to the JDE SO # field.  A text field was used on the object so that the input can be made mandatory when displayed but not when it is not displayed.</description>
        <name>Update_JDE_SO</name>
        <label>Update JDE SO #</label>
        <locationX>567</locationX>
        <locationY>905</locationY>
        <assignmentItems>
            <assignToReference>recCaseSalesOrder.NATT_JDE_SO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JDE_Sales_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPhotosI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>are_there_photos</name>
        <label>are there photos?</label>
        <locationX>151</locationX>
        <locationY>1006</locationY>
        <defaultConnector>
            <targetReference>AssignRecCaseSalesOrderValues_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no_Photos</defaultConnectorLabel>
        <rules>
            <name>yes_photos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFileName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPhotoAttachedI</targetReference>
            </connector>
            <label>yes_photos</label>
        </rules>
    </decisions>
    <decisions>
        <name>are_there_photos_II</name>
        <label>are there photos?</label>
        <locationX>1800</locationX>
        <locationY>994</locationY>
        <defaultConnector>
            <targetReference>AssignRecCaseSalesOrderValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no_photos</defaultConnectorLabel>
        <rules>
            <name>yes_photos_II</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFileName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetPhotoAttachedII</targetReference>
            </connector>
            <label>yes_photos</label>
        </rules>
    </decisions>
    <decisions>
        <name>InternalUser</name>
        <label>InternalUser</label>
        <locationX>933</locationX>
        <locationY>1401</locationY>
        <defaultConnector>
            <targetReference>Refresh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_IsInternalUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsInternalUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseRefresh</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Incorrect Manual, New Part Set-up, NSU and Technical Question are not tied to an Order.</description>
        <name>NATT_Tied_to_Order</name>
        <label>Tied to Order</label>
        <locationX>723</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Select_Order_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not_Tied_To_Order</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Information.CTM_Case_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coverage Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Information.CTM_Case_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Part Issue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Information.CTM_Case_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Documentation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrdersAvailableinSalesforce</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseSalesOrderFields_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks the number of order products included</description>
        <name>Num_of_Order_Products</name>
        <label>Num of Order Products</label>
        <locationX>910</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>UpdateCaseSalesOrderFields_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Order Products Selected</defaultConnectorLabel>
        <rules>
            <name>Order_Products_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderProductsTable.numberOfRowsSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Order_Products</targetReference>
            </connector>
            <label>Order Products Selected</label>
        </rules>
    </decisions>
    <description>Adds field selection to CTM Case Link Parts Screen</description>
    <environments>Default</environments>
    <formulas>
        <description>Determines if the Screen field should be visible</description>
        <name>AdditionalDetailCustomerCommentsFieldVisible</name>
        <dataType>Boolean</dataType>
        <expression>CASE( {!Get_Case_Information.CTM_Case_Reason__c},
&quot;Complaint&quot;,1,
&quot;Concealed Damage&quot;,1,
&quot;Coverage Information&quot;,1,
&quot;Credit Memos&quot;,1,
&quot;Damages&quot;,1,
&quot;Freight Company Complaints&quot;,1,
&quot;Freight Company Damage&quot;,1,
&quot;Incorrect Part Received&quot;,1,
&quot;Invoice issue&quot;,1,
&quot;Missing Parts&quot;,1,
&quot;Overage&quot;,1,
&quot;Package Labeled Wrong&quot;,1,
&quot;Part Issue&quot;,1,
&quot;Product Documentation&quot;,1,
&quot;Short Shipment&quot;,1
,0 ) == 1</expression>
    </formulas>
    <formulas>
        <description>Determines if the Screen field should be visible</description>
        <name>DisputedQuantityFieldVisible</name>
        <dataType>Boolean</dataType>
        <expression>CASE( {!Get_Case_Information.CTM_Case_Reason__c},
&quot;Availability&quot;,1,
&quot;Back Order&quot;,1,
&quot;Complaint&quot;,1,
&quot;Concealed Damage&quot;,1,
&quot;Coverage Information&quot;,1,
&quot;Credit Memos&quot;,1,
&quot;Credits&quot;,1,
&quot;Customer Ordered in Error&quot;,1,
&quot;Damages&quot;,1,
&quot;Freight Company Damage&quot;,1,
&quot;Incorrect Part Received&quot;,1,
&quot;Instructions not clear&quot;,1,
&quot;Invoice issue&quot;,1,
&quot;Missing Parts&quot;,1,
&quot;Order Entry Error&quot;,1,
&quot;Order Status/Tracking&quot;,1,
&quot;Overage&quot;,1,
&quot;Package Labeled Wrong&quot;,1,
&quot;Part Issue&quot;,1,
&quot;Product Documentation&quot;,1,
&quot;Short Shipment&quot;,1
,0 ) == 1</expression>
    </formulas>
    <formulas>
        <name>IsInternalUser</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.ContactId}=&quot;&quot;</expression>
    </formulas>
    <formulas>
        <description>Determines if the Screen field should be visible</description>
        <name>ModelSerialNumberFieldVisible</name>
        <dataType>Boolean</dataType>
        <expression>CASE( {!Get_Case_Information.CTM_Case_Reason__c},
&quot;Coverage Information&quot;,1,
&quot;Part Issue&quot;,1,
&quot;Product Documentation&quot;,1
,0 ) == 1</expression>
    </formulas>
    <formulas>
        <name>OrderNumberVisibility</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Case_Information.RecordType.DeveloperName}!=&quot;CTM_Performance_Parts&quot;</expression>
    </formulas>
    <formulas>
        <description>Determines if the Screen field should be visible</description>
        <name>PackingSlipFieldVisible</name>
        <dataType>Boolean</dataType>
        <expression>CASE({!Get_Case_Information.CTM_Case_Reason__c},
&quot;Complaint&quot;,1,
&quot;Concealed Damage&quot;,1,
&quot;Damages&quot;,1,
&quot;Freight Company Complaints&quot;,1,
&quot;Freight Company Damage&quot;,1,
&quot;Incorrect Part Received&quot;,1,
&quot;Missing Parts&quot;,1,
&quot;Package Labeled Wrong&quot;,1,
&quot;Short Shipment&quot;,1
,0 ) == 1</expression>
    </formulas>
    <formulas>
        <name>PartNumVisible</name>
        <dataType>Boolean</dataType>
        <expression>CASE( {!Get_Case_Information.CTM_Case_Reason__c},
&quot;Availability&quot;,1,
&quot;Back Order&quot;,1,
&quot;Complaint&quot;,1,
&quot;Concealed Damage&quot;,1,
&quot;Coverage Information&quot;,1,
&quot;Credit Memos&quot;,1,
&quot;Credits&quot;,1,
&quot;Customer Ordered in Error&quot;,1,
&quot;Damages&quot;,1,
&quot;Freight Company Complaints&quot;,1,
&quot;Freight Company Damage&quot;,1,
&quot;Incorrect Part Received&quot;,1,
&quot;Instructions not clear&quot;,1,
&quot;Invoice issue&quot;,1,
&quot;Missing Parts&quot;,1,
&quot;Order Entry Error&quot;,1,
&quot;Order Status/Tracking&quot;,1,
&quot;Overage&quot;,1,
&quot;Package Labeled Wrong&quot;,1,
&quot;Part Issue&quot;,1,
&quot;Product Documentation&quot;,1,
&quot;Short Shipment&quot;,1
,0 ) == 1</expression>
    </formulas>
    <formulas>
        <description>Determines if the Screen field should be visible</description>
        <name>PhotoFieldVisible</name>
        <dataType>Boolean</dataType>
        <expression>CASE( {!Get_Case_Information.CTM_Case_Reason__c},
&quot;Complaint&quot;,1,
&quot;Concealed Damage&quot;,1,
&quot;Damages&quot;,1,
&quot;Freight Company Damage&quot;,1,
&quot;Incorrect Part Received&quot;,1,
&quot;Package Labeled Wrong&quot;,1
,0 ) == 1</expression>
    </formulas>
    <interviewLabel>CTM Case Link Parts Screen II {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CTM Case Link Parts Screen II</label>
    <loops>
        <description>Count the number of photos attached</description>
        <name>CheckPhotosI</name>
        <label>CheckPhotosI</label>
        <locationX>387</locationX>
        <locationY>905</locationY>
        <collectionReference>NATTCasePhotos.fileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_photo_file_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>are_there_photos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Count the number of photos attached</description>
        <name>CheckPhotosII</name>
        <label>CheckPhotosII</label>
        <locationX>1581</locationX>
        <locationY>917</locationY>
        <collectionReference>CTMCasePhotosII.fileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Photos_II</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>are_there_photos_II</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Order_Products</name>
        <label>Loop Order Products</label>
        <locationX>1091</locationX>
        <locationY>1075</locationY>
        <collectionReference>OrderProductsTable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateCaseSalesOrderFields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateCaseOrderSalesRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCaseOrderSalesRecords</name>
        <label>CreateCaseOrderSalesRecords</label>
        <locationX>775</locationX>
        <locationY>1081</locationY>
        <connector>
            <targetReference>update_case_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>colCaseSalesOrderRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Case Information</description>
        <name>Get_Case_Information</name>
        <label>Get Case Information</label>
        <locationX>731</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NATT_Tied_to_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>919</locationX>
        <locationY>615</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Order_Products_for_Selection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_case_0</name>
        <label>update case</label>
        <locationX>941</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>InternalUser</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Get_Case_Information</inputReference>
    </recordUpdates>
    <screens>
        <name>CaseRefresh</name>
        <label>CaseRefresh</label>
        <locationX>941</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Previa/Previo</backButtonLabel>
        <fields>
            <name>redirectToCase</name>
            <extensionName>c:NATT_FlowRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Order_Products_for_Selection</name>
        <label>Display Order Products for Selection</label>
        <locationX>918</locationX>
        <locationY>745</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previa/Previo</backButtonLabel>
        <connector>
            <targetReference>Num_of_Order_Products</targetReference>
        </connector>
        <fields>
            <name>OrderProductsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Order_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Part_Number__c,UnitPrice,Quantity,TotalPrice,NATT_Product_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Part_Number__c:133, UnitPrice:119, Quantity:96, TotalPrice:142, NATT_Product_Name__c:413</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Select Oder Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_tableBorder</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>finish screen</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1394</locationX>
        <locationY>769</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Previa/Previo</backButtonLabel>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;¡Lo siento! Se ha producido un error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausa</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Choose which order to add</description>
        <name>Select_Order_Screen</name>
        <label>Select Order Screen</label>
        <locationX>919</locationX>
        <locationY>478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
        <fields>
            <name>OrderLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>NATT_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue> Pedido</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>NATT_Case_Sales_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>lets the user update fields that go directly on the case sales order that gets created</description>
        <name>UpdateCaseSalesOrderFields</name>
        <label>UpdateCaseSalesOrderFields</label>
        <locationX>1392</locationX>
        <locationY>917</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previa/Previo</backButtonLabel>
        <connector>
            <targetReference>CheckPhotosII</targetReference>
        </connector>
        <fields>
            <name>AddFieldsDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Actualizar valores para&lt;/b&gt;&lt;b&gt; {!Loop_Order_Products.Part_Number__c}, {!Loop_Order_Products.NATT_Product_Name__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Disputed_Quantity__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DisputedQuantityFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Packing_Slip_Number__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PackingSlipFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Model_Number__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ModelSerialNumberFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Serial_Number__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ModelSerialNumberFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Additional_Detail__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AdditionalDetailCustomerCommentsFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CTMCasePhotosII</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Las fotos adjuntas estarán disponibles en los Archivos en la lista relacionada del Caso.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fotos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>CTM_PhotosAttached</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PhotoFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>lets the user update fields that go directly on the case sales order that gets created</description>
        <name>UpdateCaseSalesOrderFields_0</name>
        <label>UpdateCaseSalesOrderFields</label>
        <locationX>730</locationX>
        <locationY>905</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previa/Previo</backButtonLabel>
        <connector>
            <targetReference>Update_JDE_SO</targetReference>
        </connector>
        <fields>
            <name>AddFieldsDisplayText_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Actualizar Valores para el Pedido o Producto&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SalesOrderInstructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14.6667px; font-family: Calibri;&quot;&gt;Actualice los valores para la orden de venta del transportista y/o el número de pieza.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OrderNumberVisibility</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>OrdersAvailableinSalesforce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>JDE_Sales_Order</name>
            <dataType>String</dataType>
            <fieldText>Carrier Órdenes de venta</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Ingrese su número de orden de venta JDE&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>OrderNumberVisibility</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>OrdersAvailableinSalesforce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PartNumberLinkInstructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 14.6667px; font-family: Calibri;&quot;&gt;Seleccione Número de pieza haciendo clic en el cuadro a continuación y escribiendo un nombre/descripción de pieza (p. ej., generador) o especificando el Número de pieza.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PartNumVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PartNumberLink</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>NATT_Salesforce_Product_Link__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Enlace de número de pieza</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>NATT_Case_Sales_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PartNumVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PartNumberFreeFormInstructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(36, 36, 36);&quot;&gt;Siempre es mejor utilizar el enlace de número de parte para especificar un número de parte. Esto reduce el tiempo de procesamiento del caso. Si no puede utilizar el enlace del número de parte, incluya el número de parte en de &apos;parte #&apos; (texto de forma libre) y en el cuadro &apos;Descripción del número de parte&apos; (texto de forma libre) a continuación.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PartNumVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Part__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PartNumVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>OrdersAvailableinSalesforce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Part_Description__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PartNumVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>OrdersAvailableinSalesforce</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Disputed_Quantity__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DisputedQuantityFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Packing_Slip_Number__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PackingSlipFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Model_Number__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ModelSerialNumberFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Serial_Number__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ModelSerialNumberFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recCaseSalesOrder.NATT_Additional_Detail__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AdditionalDetailCustomerCommentsFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NATTCasePhotos</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fotos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Attached photos will be available in the Files on the related list on the Case.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>CTM_PhotosAttached</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PhotoFieldVisible</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Terminar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>605</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>SetWorkflowMode</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Case Order junction object to create</description>
        <name>colCaseSalesOrderRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Case_Sales_Order__c</objectType>
    </variables>
    <variables>
        <description>Photos for the Sales - Order are attached to the Case for ease of access.  The names are stored on the Case - Order.</description>
        <name>CTM_PhotosAttached</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>At initial rollout of Cases the Orders were not available in Salesforce.  This variable is used to determine if an alternative workflow should be applied.</description>
        <name>OrdersAvailableinSalesforce</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Count the attached photos</description>
        <name>PhotoCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Single Variable to combine names of files attached into a text stream.</description>
        <name>PhotosAttachedSingleVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recCaseSalesOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Case_Sales_Order__c</objectType>
    </variables>
    <variables>
        <description>the case where this started</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>contains the last file name of the looped text collection, file uploaded</description>
        <name>varFileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
