NATTQA-ENV/force-app/main/default/flows/Customer_Feedback_Followup_NPS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>CSIrecordtype</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CSI_Customer_Survey_Index</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Account_Owner_Is_In_Active</name>
        <label>Check If Account Owner Is In Active</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_for_Account_Owner_s_Manager_Dealer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nps_Contact_Id__r.Account.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.nps_Likelihood_to_recommend__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.nps_Contact_Id__r.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_NPS_User</targetReference>
            </connector>
            <label>Case for Account Owner&apos;s Manager Dealer</label>
        </rules>
        <rules>
            <name>Check_If_Account_Owner_Is_In_Active_enduser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nps_Contact_Id__r.Account.NATT_Dealership__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.nps_Contact_Id__r.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.nps_Likelihood_to_recommend__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_NPS_User_1</targetReference>
            </connector>
            <label>Check If Account Owner Is In Active enduser</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Likelihood_to_recommend</name>
        <label>Check Likelihood to recommend</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check_If_Account_Owner_Is_In_Active</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Likelihood_to_recommend_value_less_than_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nps_Likelihood_to_recommend__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.nps_Contact_Id__r.Account.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.nps_Contact_Id__r.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team_Member_record</targetReference>
            </connector>
            <label>Likelihood to recommend value less than 7</label>
        </rules>
        <rules>
            <name>End_Customer_flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nps_Likelihood_to_recommend__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.nps_Contact_Id__r.Account.NATT_Dealership__r.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.nps_Contact_Id__r.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Team_Member_record_Enduser</targetReference>
            </connector>
            <label>End Customer flow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DescriptionFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.nps_Contact_Id__r.Account.Name}+BR() +
{!$Record.nps_Contact_Id__r.LastName}+BR()+
TEXT({!$Record.nps_Response_Main_score__c})+BR()+
{!$Record.nps_Response_Main_score_comment__c}</expression>
    </formulas>
    <interviewLabel>Customer Feedback Followup NPS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Feedback Followup NPS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_2_of_Create_Followup_Case</name>
        <label>Copy 2 of Create Followup Case</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Customer_Survey_Type__c</field>
            <value>
                <elementReference>$Record.Customer_Survey_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Account__c</field>
            <value>
                <elementReference>$Record.nps_Contact_Id__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Contact__c</field>
            <value>
                <elementReference>$Record.nps_Contact_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>NPS process – Qualtrics</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_NPS_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012O3000002emKvIAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Customer Feedback Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nps_AlertID__c</field>
            <value>
                <elementReference>$Record.nps_Record_NPS_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nps_NPS_Feedback_id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nps_Ticket_Number__c</field>
            <value>
                <elementReference>$Record.nps_Ticket_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Followup_Case</name>
        <label>Create Followup Case</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Customer_Survey_Type__c</field>
            <value>
                <elementReference>$Record.Customer_Survey_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Account__c</field>
            <value>
                <elementReference>$Record.nps_Contact_Id__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Contact__c</field>
            <value>
                <elementReference>$Record.nps_Contact_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>NPS process – Qualtrics</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Account_Team_Member_record.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012aJ000000BMbVQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Customer Feedback Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nps_AlertID__c</field>
            <value>
                <elementReference>$Record.nps_Record_NPS_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nps_NPS_Feedback_id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nps_Ticket_Number__c</field>
            <value>
                <elementReference>$Record.nps_Ticket_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Followup_Case_End_User</name>
        <label>Create Followup Case End User</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Customer_Survey_Type__c</field>
            <value>
                <elementReference>$Record.Customer_Survey_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Account__c</field>
            <value>
                <elementReference>$Record.nps_Contact_Id__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Contact__c</field>
            <value>
                <elementReference>$Record.nps_Contact_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>NPS process – Qualtrics</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Account_Team_Member_record_Enduser.UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012aJ000000BMbVQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Customer Feedback Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nps_AlertID__c</field>
            <value>
                <elementReference>$Record.nps_Record_NPS_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nps_NPS_Feedback_id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nps_Ticket_Number__c</field>
            <value>
                <elementReference>$Record.nps_Ticket_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Followup_Case_Enduser</name>
        <label>Create Followup Case Enduser</label>
        <locationX>842</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Customer_Survey_Type__c</field>
            <value>
                <elementReference>$Record.Customer_Survey_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Account__c</field>
            <value>
                <elementReference>$Record.nps_Contact_Id__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Contact__c</field>
            <value>
                <elementReference>$Record.nps_Contact_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>NPS process – Qualtrics</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_NPS_User_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012O3000002emKvIAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Customer Feedback Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nps_AlertID__c</field>
            <value>
                <elementReference>$Record.nps_Record_NPS_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nps_NPS_Feedback_id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nps_Ticket_Number__c</field>
            <value>
                <elementReference>$Record.nps_Ticket_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_NPS_User</name>
        <label>Find NPS User</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Create_Followup_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualtrics integration User NATT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_NPS_User_1</name>
        <label>Find NPS User 1</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Followup_Case_Enduser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualtrics integration User NATT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Team_Member_record</name>
        <label>Get Account Team Member record</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Followup_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nps_Contact_Id__r.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EAM - NATT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Team_Member_record_Enduser</name>
        <label>Get Account Team Member record Enduser</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Followup_Case_End_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nps_Contact_Id__r.Account.NATT_Dealership__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EAM - NATT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NPS_Mapping_Metadata_record</name>
        <label>Get NPS Mapping Metadata record</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact_Influence__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NPS_Contact_Influence_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NPS_record</name>
        <label>Get NPS record</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Response_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>nps_Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Fields</name>
        <label>Update Contact Fields</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Check_Likelihood_to_recommend</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nps_Contact_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Influence__c</field>
            <value>
                <elementReference>Get_NPS_Mapping_Metadata_record.Contact_Influence_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_NPS_Performance_of_our_Services__c</field>
            <value>
                <elementReference>$Record.nps_The_performance_of_our_Services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response_LikelyHood__c</field>
            <value>
                <elementReference>$Record.nps_Likelihood_to_recommend__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nps_Latest_delivery_of_our_product__c</field>
            <value>
                <elementReference>$Record.nps_The_delivery_of_our_Products__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Response_account</name>
        <label>Update Response account</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_NPS_Mapping_Metadata_record</targetReference>
        </connector>
        <inputAssignments>
            <field>NPS_Account__c</field>
            <value>
                <elementReference>$Record.nps_Account_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NPS_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>nps_Likelihood_to_recommend__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>nps_Feedback__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
