NATTQA-ENV/force-app/main/default/flows/NAC_Sent_Email_Notification_on_Account_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>notify_internal</name>
        <label>notify internal</label>
        <locationX>263</locationX>
        <locationY>623</locationY>
        <actionName>Account.NAC_sent_Notification_upon_new_account_creation_internal_users</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.NAC_sent_Notification_upon_new_account_creation_internal_users</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Account_approved_email_alert</name>
        <label>Send Account approved email alert</label>
        <locationX>539</locationX>
        <locationY>617</locationY>
        <actionName>Account.NAC_sent_Notification_upon_new_account_approval</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.NAC_sent_Notification_upon_new_account_approval</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Sent_a_notifier_email</name>
        <label>Sent a notifier email</label>
        <locationX>263</locationX>
        <locationY>503</locationY>
        <actionName>Account.NAC_sent_Notification_upon_new_account_creation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>notify_internal</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.NAC_sent_Notification_upon_new_account_creation</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_email_field_is_there_or_not</name>
        <label>Check email field is there or not</label>
        <locationX>527</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifAccountstatusifpending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NAC_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckIfNewOrNot</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_a_notifier_email</targetReference>
            </connector>
            <label>if Account status if pending</label>
        </rules>
        <rules>
            <name>if_Account_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NAC_status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckIfNewOrNot</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Account_approved_email_alert</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>if Account is Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckIfNewOrNot</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>NAC_Sent Email Notification on Account creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NAC_Sent Email Notification on Account creation/Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_email_field_is_there_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WOD_2_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
