NATTQA-ENV/force-app/main/default/flows/NAOCAP_Add_External_Managed_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_External_Managed_Accounts</name>
        <label>Assign to External Managed Accounts</label>
        <locationX>812</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>newExternalManagedAccount.TargetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newExternalManagedAccount.ManagedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Record_for_the_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newExternalManagedAccount.AccessBuyFor</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newExternalManagedAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactAndTargetAccountName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_the_Managed_Account_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Type_Check</name>
        <label>Record Type Check</label>
        <locationX>223</locationX>
        <locationY>475</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Check1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Other_Fields_from_Contact.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAOCAP End Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Other_Accounts_to_Manage</targetReference>
            </connector>
            <label>Record Type Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Target_is_Buyer_and_Not_Same_Account</name>
        <label>Verify Target is Buyer and Not Same Account</label>
        <locationX>523</locationX>
        <locationY>869</locationY>
        <defaultConnector>
            <targetReference>Assign_to_External_Managed_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found a correct Buyer Account</defaultConnectorLabel>
        <rules>
            <name>Target_is_not_buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Buyer_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Target_is_not_Buyer</targetReference>
            </connector>
            <label>Target is not buyer</label>
        </rules>
        <rules>
            <name>Same_Account_as_Current_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_All_Other_Fields_from_Contact.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stop_Same_Account</targetReference>
            </connector>
            <label>Same Account as Current Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>contactAndTargetAccountName</name>
        <dataType>String</dataType>
        <expression>{!Get_All_Other_Fields_from_Contact.Name}&amp;&quot;-&quot;&amp;{!Account.recordName}</expression>
    </formulas>
    <interviewLabel>NAOCAP Add External Managed Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NAOCAP Add External Managed Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_the_Managed_Account_Record</name>
        <label>Create the Managed Account Record</label>
        <locationX>814</locationX>
        <locationY>1097</locationY>
        <inputReference>newExternalManagedAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Other_Fields_from_Contact</name>
        <label>Get All Other Fields from Contact</label>
        <locationX>513</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyer_Accounts</name>
        <label>Get Buyer Accounts</label>
        <locationX>529</locationX>
        <locationY>730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Target_is_Buyer_and_Not_Same_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BuyerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BuyerAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record_for_the_Contact</name>
        <label>Get User Record for the Contact</label>
        <locationX>522</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Other_Fields_from_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Other_Accounts_to_Manage</name>
        <label>Add Other Accounts to Manage</label>
        <locationX>526</locationX>
        <locationY>589</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Buyer_Accounts</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>TargetId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Target Account Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>DelegatedAccount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stop_Same_Account</name>
        <label>Stop - Same Account</label>
        <locationX>549</locationX>
        <locationY>1056</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SameAccount</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Stop : You are trying to setup the same Account as Target - Choose a Different Account to Manage&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;This account is primary account for this contact&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stop_Target_is_not_Buyer</name>
        <label>Stop - Target is not Buyer</label>
        <locationX>371</locationX>
        <locationY>1046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SetupTargetasBuyer</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 26, 26); background-color: rgb(255, 255, 255);&quot;&gt;Please Enable this Account as Buyer Before adding this account as a managed account!!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_User_Record_for_the_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newExternalManagedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DelegatedAccount</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
