NATTQA-ENV/force-app/main/default/flows/NAOCAP_Contact_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_an_Email_to_the_carrier_cap_nao_issues_when_a_contact_is_inserted</name>
        <label>Send an Email to the carrier cap nao issues when a contact is inserted</label>
        <locationX>522</locationX>
        <locationY>548</locationY>
        <actionName>Contact.NAOCAP_New_Contact_Request_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.NAOCAP_New_Contact_Request_Alert</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_RecordType</name>
        <label>Check for RecordType</label>
        <locationX>519</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NAOCAP_End_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckForNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NAC_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAOCAP End Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_an_Email_to_the_carrier_cap_nao_issues_when_a_contact_is_inserted</targetReference>
            </connector>
            <label>NAOCAP End Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckForNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>NAOCAP Contact Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NAOCAP Contact Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>401</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Check_for_RecordType</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
