NATTQA-ENV/force-app/main/default/flows/NAOCAP_Case_Creation_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NAOCAP_Aftermarket_Part_Case_Creation_Email_Alert</name>
        <label>NAOCAP Aftermarket Part Case Creation Email Alert</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <actionName>Case.NAOCAP_Aftermarket_Part_Case_Creation_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Contact_id_not_null_after_market</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.NAOCAP_Aftermarket_Part_Case_Creation_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>NAOCAP_Core_Return_Case_Creation_Email_Alert</name>
        <label>NAOCAP Core Return Case Creation Email Alert</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>Case.NAOCAP_Core_Return_Case_Creation_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>contact_Id_not_null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.NAOCAP_Core_Return_Case_Creation_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_and_notify_new_core_return_case_created</name>
        <label>Send and notify new core return case created</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <actionName>Case.NAC_CoreReturnNewCaseAlert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.NAC_CoreReturnNewCaseAlert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Bell_notification_when_new_AfterMarket_case_created</name>
        <label>Send Bell notification when new AfterMarket case created</label>
        <locationX>578</locationX>
        <locationY>1751</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_New_General_Enquiry_email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_notification_for_Aftermarket_creation.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>New Aftermarket case created ,Please click here to view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Aftermarket case created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>store_recipient_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Bell_notification_when_new_core_case_created</name>
        <label>Send Bell notification when new core case created</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Send_and_notify_new_core_return_case_created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_notification_for_Core_case_creation.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>New Core return case created ,Please click here to view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Core Return case created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>store_recipient_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_New_General_Enquiry_email_Alert</name>
        <label>Send New General Enquiry email Alert</label>
        <locationX>578</locationX>
        <locationY>1871</locationY>
        <actionName>Case.NAC_After_Market_General_enquiry_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.NAC_After_Market_General_enquiry_alert</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_recipient_id</name>
        <label>Assign recipient id</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>store_recipient_id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_the_community_user_records_for_core.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_notification_for_Core_case_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Id_Aftermarket</name>
        <label>Assign Recipient Id Aftermarket</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>store_recipient_id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_the_community_user_records_AfterMarket.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_notification_for_Aftermarket_creation</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NAOCAP_Aftermarket_Part_Queue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NAOCAP_Aftermarket_Part_Queue</stringValue>
        </value>
    </constants>
    <constants>
        <name>NAOCAP_Core_Returns_Queue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NAOCAP_Core_Returns_Queue</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>644</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NAOCAP_Core_Returns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nac_core_returns</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Core_Return_Queue_Name</targetReference>
            </connector>
            <label>NAOCAP Core Returns</label>
        </rules>
        <rules>
            <name>NAOCAP_Aftermarket_Parts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAC_Performance_Parts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_General_Enquiry_Queue_Name</targetReference>
            </connector>
            <label>NAOCAP Aftermarket Parts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_size_of_public_group</name>
        <label>Check size of public group</label>
        <locationX>710</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Contact_id_not_null_after_market</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_size_of_public_group_member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Group_members_from_group_name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAOCAP_Aftermarket_Part_Case_Creation_Email_Alert</targetReference>
            </connector>
            <label>Check size of public group member</label>
        </rules>
    </decisions>
    <decisions>
        <name>contact_Id_not_null</name>
        <label>contact Id not null</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_id_not_null_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_community_user_records_for_core</targetReference>
            </connector>
            <label>Contact id not null check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_id_not_null_after_market</name>
        <label>Contact id not null after market</label>
        <locationX>710</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_id_not_null_check_after_market</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_the_community_user_records_AfterMarket</targetReference>
            </connector>
            <label>Contact id not null check after market</label>
        </rules>
    </decisions>
    <decisions>
        <name>Group_size_of_PPG_group_for_core_return</name>
        <label>Group size of PPG group for core return</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>contact_Id_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Getting_Group_size_of_PPG_group_for_core_return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_ppg_Group_Members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NAOCAP_Core_Return_Case_Creation_Email_Alert</targetReference>
            </connector>
            <label>Getting Group size of PPG group for core return</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>NAOCAP Case Creation Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NAOCAP Case Creation Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_ppg_Group_Members</name>
        <label>Get All ppg Group Members</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Group_size_of_PPG_group_for_core_return</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ppg_Group_name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Core_Return_Queue_Name</name>
        <label>Get Core Return Queue Name</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Core_Return_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NAOCAP_Core_Returns_Queue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_notification_for_Aftermarket_creation</name>
        <label>Get Custom notification for Aftermarket creation</label>
        <locationX>578</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Bell_notification_when_new_AfterMarket_case_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_General_Enquiry_Case_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_notification_for_Core_case_creation</name>
        <label>Get Custom notification for Core case creation</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Bell_notification_when_new_core_case_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Core_Case_Notification_Update_to_user</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_General_Enquiry_Queue_Name</name>
        <label>Get General Enquiry Queue Name</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_General_Enquiry_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NAOCAP_Aftermarket_Part_Queue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Id_From_Name</name>
        <label>Get Group Id from name</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_Group_members_from_group_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAOCAP Customer Service users</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ppg_Group_name</name>
        <label>Get ppg Group name</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_ppg_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NAOCAP PPG</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_community_user_records_AfterMarket</name>
        <label>Get the community user records AfterMarket</label>
        <locationX>578</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Recipient_Id_Aftermarket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_community_user_records_for_core</name>
        <label>Get the community user records for core</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_recipient_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_Group_members_from_group_name</name>
        <label>Getting Group members from group name</label>
        <locationX>710</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_size_of_public_group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Group_Id_From_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Core_Return_Owner</name>
        <label>Update Core Return Owner</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_ppg_Group_name</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Core_Return_Queue_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_General_Enquiry_Owner</name>
        <label>Update General Enquiry Owner</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Group_Id_From_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_General_Enquiry_Queue_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>store_recipient_id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
