NATTQA-ENV/force-app/main/default/flows/NATT_Asset_After_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_New_Quote_Line_Values</name>
        <label>Assign New Quote Line Values</label>
        <locationX>636</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>Loop_Upgraded_Quote_Lines.NATT_Locked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Locked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Upgraded_Quote_Lines.NATT_Ship_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Ship_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Quote_Line_for_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Line_for_Update</name>
        <label>Assign Quote Line for Update</label>
        <locationX>790</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>QuoteLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Upgraded_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Upgraded_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RecordType_To_Asset</name>
        <label>Assign RecordType To Asset</label>
        <locationX>448</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Is_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Root_Asset_CPQ</name>
        <label>Assign Root Asset (CPQ)</label>
        <locationX>368</locationX>
        <locationY>769</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__RootAsset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Custom_Root_Asset_CPQ__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAssetRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asset_Is_Updated</name>
        <label>Asset Is Updated</label>
        <locationX>162</locationX>
        <locationY>598</locationY>
        <defaultConnector>
            <targetReference>Check_Root_Asset_CPQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Locked Not Updated</defaultConnectorLabel>
        <rules>
            <name>Asset_Updated</name>
            <conditionLogic>2 AND (1 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Locked__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Locked__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__OrderProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Ship_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Ship_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Upgraded_Quote_Lines</targetReference>
            </connector>
            <label>Asset Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Root_Asset_CPQ</name>
        <label>Check Root Asset (CPQ)</label>
        <locationX>160</locationX>
        <locationY>753</locationY>
        <defaultConnector>
            <targetReference>UpdateAssetRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Root_Asset_CPQ_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__RootAsset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RequiredByAsset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Custom_Root_Asset_CPQ__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Root_Asset_CPQ</targetReference>
            </connector>
            <label>Root Asset (CPQ) is null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_is_Master</name>
        <label>Record Type is Master</label>
        <locationX>165</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Asset_Is_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Applicable</defaultConnectorLabel>
        <rules>
            <name>Recordtype_Should_Be_Units</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Recordtype_Developer_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Asset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_RecordType__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>NATT_Units_Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType</targetReference>
            </connector>
            <label>Recordtype Should Be Units</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateAssetRecord</name>
        <label>UpdateAssetRecord</label>
        <locationX>159</locationX>
        <locationY>910</locationY>
        <defaultConnectorLabel>Don&apos;t Update</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_Record</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpgradedNullCheck</name>
        <label>UpgradedNullCheck</label>
        <locationX>469</locationX>
        <locationY>618</locationY>
        <defaultConnectorLabel>Don&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Records_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpgradedQuoteLines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Upgraded_Quote_Lines</targetReference>
            </connector>
            <label>Records Exist</label>
        </rules>
    </decisions>
    <description>Actions on the Asset After An Update</description>
    <environments>Default</environments>
    <interviewLabel>NATT Asset After Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT Asset After Update Flow</label>
    <loops>
        <name>Loop_Upgraded_Quote_Lines</name>
        <label>Loop Upgraded Quote Lines</label>
        <locationX>635</locationX>
        <locationY>623</locationY>
        <collectionReference>UpgradedQuoteLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Quote_Line_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>315</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_RecordType_To_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATT_Units_Asset</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Upgraded_Quote_Lines</name>
        <label>Get Upgraded Quote Lines</label>
        <locationX>360</locationX>
        <locationY>616</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpgradedNullCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__UpgradedAsset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NATT_Quote_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ordered</stringValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>UpgradedQuoteLines</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the original asset</description>
        <name>Update_Asset_Record</name>
        <label>Update Asset Record</label>
        <locationX>173</locationX>
        <locationY>1080</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Lines</name>
        <label>Update Quote Lines</label>
        <locationX>911</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>Check_Root_Asset_CPQ</targetReference>
        </connector>
        <inputReference>QuoteLinesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>46</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Record_Type_is_Master</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_Quote_RecordType__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>NATT_Units_Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Hide_Asset__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>QuoteLinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>UpdateRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UpgradedQuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
