NATTQA-ENV/force-app/main/default/flows/NATT_Order_Before_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_JDE_Sales_Order</name>
        <label>Update JDE Sales Order #</label>
        <locationX>1303</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>$Record.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Original_JDE_Sales_Order__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Amendment_Order</name>
        <label>Amendment Order?</label>
        <locationX>1081</locationX>
        <locationY>302</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_JDE_Sales_Order_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_JDE_Sales_Order</targetReference>
            </connector>
            <label>Amendment?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Number_Change</name>
        <label>Product Number Change</label>
        <locationX>1083</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>Amendment_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Product_Number_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>TRUE</label>
        </rules>
    </decisions>
    <description>Handles updates on the Order Object - Before Save</description>
    <environments>Default</environments>
    <interviewLabel>NATT Order Before Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT Order Before Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>1296</locationX>
        <locationY>128</locationY>
        <connector>
            <targetReference>Amendment_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>NATT_Boomi_Order_Status__c</field>
            <value>
                <stringValue>Main Product Number Change</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>621</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Product_Number_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_Recordtype_Developer_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>NATT_Units</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
