NATTQA-ENV/force-app/main/default/flows/NATT_Order_Product_After_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Locked_Value</name>
        <label>Assign Locked Value</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_Assets_To_Update.NATT_Locked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Locked__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Assets_To_Update.NATT_Ship_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Ship_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatedAssets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdatedAssets</name>
        <label>UpdatedAssets</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>NewAssetValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assets_To_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assets_To_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>checks to see if locked has been changed, so locked can be updated on the other related cpq objects for validation.</description>
        <name>Has_locked_been_changed</name>
        <label>Has locked__c been changed</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Ship_Date_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Locked_c_is_changed</name>
            <conditionLogic>2 AND (1 OR 5) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Locked__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Locked__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Order_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Order_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Amendment_Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Ship_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Ship_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_to_Lock</targetReference>
            </connector>
            <label>Locked__c is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>NATT_Requested_Ship_Date_Change</name>
        <label>NATT Requested Ship Date Change</label>
        <locationX>446</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requested_Ship_Date_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Requested_Ship_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Is_Base_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.NATT_Requested_Ship_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Requested_Ship_Date_Change_Log</targetReference>
            </connector>
            <label>Requested Ship Date Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ship_Date_Change</name>
        <label>Ship Date Change</label>
        <locationX>446</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>NATT_Requested_Ship_Date_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ship_Date_Changes</name>
            <conditionLogic>1 AND 2 AND (3 OR  5) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Order_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Order_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Requested_Ship_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Requested_Ship_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Order.NATT_Boomi_Order_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OrderHeaderChangePending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Requested_Ship_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Order.NATT_Requested_Ship_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order</targetReference>
            </connector>
            <label>Ship Date Changes</label>
        </rules>
    </decisions>
    <description>The NATT flow on the order product - record triggered, after save. This flow alo includes logic related tro change logs.</description>
    <environments>Default</environments>
    <formulas>
        <name>Comment_for_CSR_Task</name>
        <dataType>String</dataType>
        <expression>{!$Record.OrderItemNumber}&amp;&quot; - Requested Ship Date was changed from &quot; &amp; TEXT({!$Record__Prior.NATT_Requested_Ship_Date__c}) &amp; &quot; to &quot; &amp; TEXT({!$Record.NATT_Requested_Ship_Date__c}) &amp; &quot;.&quot;</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Subject_for_CSR_Task</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Order.NATT_Product_Family__c})&amp;&quot; - Requested Ship Date Change Review&quot;</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>UpdateChangelogHistoryField</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;br/&gt;&lt;b&gt;NATT Field: Requested Ship Date&lt;/b&gt;&lt;br/&gt;Original Value:&apos;+TEXT ({!$Record__Prior.NATT_Requested_Ship_Date__c})+&apos;&lt;br/&gt;New Value:&apos;+TEXT ({!$Record.NATT_Requested_Ship_Date__c})</expression>
    </formulas>
    <interviewLabel>NATT Order Product After Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT Order Product After Save Flow</label>
    <loops>
        <name>Loop_Assets_To_Update</name>
        <label>Loop Assets To Update</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>AssetsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Locked_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Asset_to_Locked</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Requested_Ship_Date_Change_Log</name>
        <label>Create Requested Ship Date Change Log</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Update_Asset_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>NATT_Account__c</field>
            <value>
                <elementReference>$Record.Order.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Change_Initiated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Change_Log_History__c</field>
            <value>
                <elementReference>UpdateChangelogHistoryField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Change_Type__c</field>
            <value>
                <stringValue>Requested Ship Date Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Field__c</field>
            <value>
                <stringValue>Requested Ship Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_JDE_Sales_Order_Number__c</field>
            <value>
                <elementReference>$Record.Order.NATT_JDE_Sales_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Opportunity__c</field>
            <value>
                <elementReference>$Record.Order.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Order_Product__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Order__c</field>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Product_Family__c</field>
            <value>
                <elementReference>$Record.Order.NATT_Product_Family__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Quote__c</field>
            <value>
                <elementReference>$Record.Order.SBQQ__Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Unit__c</field>
            <value>
                <elementReference>$Record.Order.NATT_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <object>NATT_Change_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_to_Lock</name>
        <label>Get Asset to Lock</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assets_To_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Ship_Date_Change</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>AssetsToUpdate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>NATT_Locked__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Record</name>
        <label>Update Asset Record</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OrderProduct__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NATT_Requested_Ship_Date__c</field>
            <value>
                <elementReference>$Record.NATT_Requested_Ship_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_to_Locked</name>
        <label>Update Asset to Locked</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Ship_Date_Change</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Ship_Date_Change</targetReference>
        </faultConnector>
        <inputReference>NewAssetValues</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>NATT_Requested_Ship_Date_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NATT_Boomi_Order_Status__c</field>
            <value>
                <stringValue>OrderHeaderChangePending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Requested_Ship_Date__c</field>
            <value>
                <elementReference>$Record.NATT_Requested_Ship_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_locked_been_changed</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NewAssetValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>QuoteLinesToUpdateLocked</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>UpdatedReqShipDateOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
