NATTQA-ENV/force-app/main/default/flows/NATT_Quote_After_Save_Update_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>1603</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>colInsertChangeLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varReconfigurationUnitDisc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Net_Amount_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_0</name>
        <label>Add to collection</label>
        <locationX>1757</locationX>
        <locationY>459</locationY>
        <assignmentItems>
            <assignToReference>colInsertChangeLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varReconfigurationNetAmt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>colInsertChangeLogs_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_0_0</name>
        <label>Add to collection</label>
        <locationX>915</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>colInsertChangeLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varReconfigurationUnitDisc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approved_Net_Amount_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_0_0_0</name>
        <label>Add to collection</label>
        <locationX>740</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>colInsertChangeLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varReconfigurationNetAmt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_QL_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_0_0_0_0</name>
        <label>Add to collection</label>
        <locationX>173</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>colInsertChangeLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQLChangeLogs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>On_Units_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_0_0_0_0_0</name>
        <label>Add to collection</label>
        <locationX>162</locationX>
        <locationY>673</locationY>
        <assignmentItems>
            <assignToReference>colInsertChangeLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQLChangeLogs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>On_Units_Removed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_0_0_0_0_0_0</name>
        <label>Add to collection</label>
        <locationX>172</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>colInsertChangeLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQLChangeLogs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Off_Units_Removed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_0_0_0_0_0_0_0</name>
        <label>Add to collection</label>
        <locationX>162</locationX>
        <locationY>861</locationY>
        <assignmentItems>
            <assignToReference>colInsertChangeLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQLChangeLogs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Off_Units_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_0_0_0_0_0_0_0_0</name>
        <label>Add to collection</label>
        <locationX>168</locationX>
        <locationY>1191</locationY>
        <assignmentItems>
            <assignToReference>colInsertChangeLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQLChangeLogs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cloned_a_Unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_0_0_0_0_0_0_0_0_0</name>
        <label>Add to collection</label>
        <locationX>174</locationX>
        <locationY>1359</locationY>
        <assignmentItems>
            <assignToReference>colInsertChangeLogs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varQLChangeLogs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_QL_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approved_Create_Reconfiguration_Change_Log_Net_Amount</name>
        <label>Approved - Create Reconfiguration Change Log - Net Amount</label>
        <locationX>739</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reconfiguration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Original_JDE_Sales_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Net Amount</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Original_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__NetAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approved_Create_Reconfiguration_Change_Log_Unit_Discount</name>
        <label>Approved - Create Reconfiguration Change Log - Unit Discount %</label>
        <locationX>923</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reconfiguration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Original_JDE_Sales_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total Order Discount Percent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Original_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Original_Order__r.NATT_Total_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Total_Discount2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Closed_Lost</name>
        <label>Assign Opportunity Closed Lost</label>
        <locationX>1602</locationX>
        <locationY>853</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateOpportunityNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_Required_eSolutions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Closed_Won</name>
        <label>Assign Opportunity Closed Won</label>
        <locationX>1613</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateOpportunityNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_eSolutions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Oppty_Stage_to</name>
        <label>Assign Oppty Stage to Quoting</label>
        <locationX>1589</locationX>
        <locationY>1780</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quoting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateOpportunityNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_is_Approved_but_not_ordered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Base_Unit_Quantity_Create_Reconfiguration_Change_Log</name>
        <label>Base Unit Quantity - Create Reconfiguration Change Log</label>
        <locationX>327</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reconfiguration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Original_JDE_Sales_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Original_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__UpgradedAsset__r.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cloned_a_Unit_Create_Reconfiguration_Change_Log</name>
        <label>Cloned a Unit - Create Reconfiguration Change Log</label>
        <locationX>327</locationX>
        <locationY>1359</locationY>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reconfiguration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Original_JDE_Sales_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmClonedAUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Original_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Reconfiguration_Change_Log_Net_Amount</name>
        <label>Create Reconfiguration Change Log - Net Amount</label>
        <locationX>1755</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reconfiguration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Original_JDE_Sales_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Net Amount</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Original_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.SBQQ__NetAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__NetAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationNetAmt.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Reconfiguration_Change_Log_Unit_Discount</name>
        <label>Create Reconfiguration Change Log - Unit Discount %</label>
        <locationX>1596</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reconfiguration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Original_JDE_Sales_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total Order Discount Percent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Original_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.NATT_Total_Discount2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Total_Discount2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varReconfigurationUnitDisc.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Off_Unit_Added_Create_Reconfiguration_Change_Log</name>
        <label>Off Unit Added - Create Reconfiguration Change Log</label>
        <locationX>323</locationX>
        <locationY>1028</locationY>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reconfiguration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Original_JDE_Sales_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOffUnitAddedProductName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Original_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Off_Unit_Removed_Create_Reconfiguration_Change_Log</name>
        <label>Off Unit Removed - Create Reconfiguration Change Log</label>
        <locationX>322</locationX>
        <locationY>1183</locationY>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reconfiguration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Original_JDE_Sales_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOffUnitRemovedProductName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Original_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>On_Unit_Added_Create_Reconfiguration_Change_Log</name>
        <label>On Unit Added - Create Reconfiguration Change Log</label>
        <locationX>328</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reconfiguration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Original_JDE_Sales_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOnUnitAddedProductName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Original_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>On_Unit_Removed_Create_Reconfiguration_Change_Log</name>
        <label>On Unit Removed - Create Reconfiguration Change Log</label>
        <locationX>329</locationX>
        <locationY>853</locationY>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reconfiguration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Original_JDE_Sales_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOnUnitRemovedProductName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_QL_Records.SBQQ__Quote__r.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_Original_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLChangeLogs.NATT_New_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Status_to_Draft</name>
        <label>Set Approval Status to Draft</label>
        <locationX>1588</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>boolRecordUpdateNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quoting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateOpportunityNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Has_Approval_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Tracking_Values</name>
        <label>Set Field Tracking Values</label>
        <locationX>1561</locationX>
        <locationY>2641</locationY>
        <assignmentItems>
            <assignToReference>$Record.NATT_Total_Discount_Track__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Total_Discount2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NATT_Net_Amount_Track__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__NetAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NATT_Total_Unit_Quantity_Track__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Total_Unit_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolRecordUpdateNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Customer_Stock</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_End_Customer_Stock</name>
        <label>Set Opp End Customer/Stock</label>
        <locationX>1562</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.NATT_End_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_End_Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.NATT_Stock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Stock__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateOpportunityNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_to_CSR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Oppty_Stage_to_Closing</name>
        <label>Set Oppty Stage to Closing</label>
        <locationX>1555</locationX>
        <locationY>2244</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateOpportunityNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Tracking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Approval_Required</name>
        <label>Set Status to Approval Required</label>
        <locationX>1597</locationX>
        <locationY>1071</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolRecordUpdateNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Approval_Required_eSolutions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_No_Approval_Required</name>
        <label>Set Status to No Approval Required</label>
        <locationX>1590</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolRecordUpdateNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Approval</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Amendment_Quote</name>
        <label>Amendment Quote</label>
        <locationX>1264</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Win_eSolutions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Change_Log_Reconfiguration_Type_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Line_Records</targetReference>
            </connector>
            <label>Create Change Log - Reconfiguration Type (Approved)</label>
        </rules>
        <rules>
            <name>Create_Change_Log_Reconfiguration_Type_Pending_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Original_Order_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Discount_Changed</targetReference>
            </connector>
            <label>Create Change Log - Reconfiguration Type (Pending Approval)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_Required_eSolutions</name>
        <label>Approval Required eSolutions</label>
        <locationX>1267</locationX>
        <locationY>981</locationY>
        <defaultConnector>
            <targetReference>No_Approval_Required_eSolutions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discount_is_added</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_eSolutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Approval Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Approval_Required</targetReference>
            </connector>
            <label>Discount is added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approved_Net_Amount_Changed</name>
        <label>Approved - Net Amount Changed?</label>
        <locationX>732</locationX>
        <locationY>315</locationY>
        <defaultConnector>
            <targetReference>Loop_in_QL_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_Net_Amount_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__NetAmount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.NATT_Original_Order__r.NATT_Net_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Create_Reconfiguration_Change_Log_Net_Amount</targetReference>
            </connector>
            <label>Approved - Net Amount Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approved_Unit_Discount_Changed</name>
        <label>Approved - Unit Discount Changed?</label>
        <locationX>910</locationX>
        <locationY>316</locationY>
        <defaultConnector>
            <targetReference>Approved_Net_Amount_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_Unit_Discount_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Discount2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.NATT_Original_Order__r.NATT_Total_Discount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approved_Create_Reconfiguration_Change_Log_Unit_Discount</targetReference>
            </connector>
            <label>Approved -Unit Discount % Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Base_Unit_Quantity_Changed</name>
        <label>Base Unit - Quantity Changed</label>
        <locationX>498</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>On_Units_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Change_Log_Reconfiguration_Type_Quantity_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__Quantity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_in_QL_Records.SBQQ__UpgradedAsset__r.Quantity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.NATT_Is_Base_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__UpgradedAsset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Base_Unit_Quantity_Create_Reconfiguration_Change_Log</targetReference>
            </connector>
            <label>Create Change Log - Reconfiguration Type (Quantity Changed)</label>
        </rules>
    </decisions>
    <decisions>
        <description>for when esolutions is canceled</description>
        <name>Cancel_eSolutions</name>
        <label>Cancel eSolutions</label>
        <locationX>1267</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Approval_Required_eSolutions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>eSolutions_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_eSolutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Closed_Lost</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>eSolutions Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cloned_a_Unit</name>
        <label>Cloned a Unit</label>
        <locationX>508</locationX>
        <locationY>1353</locationY>
        <defaultConnector>
            <targetReference>Loop_in_QL_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Base_unit_cloned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.NATT_Is_Base_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cloned_a_Unit_Create_Reconfiguration_Change_Log</targetReference>
            </connector>
            <label>Base unit cloned</label>
        </rules>
    </decisions>
    <decisions>
        <name>colInsertChangeLogs_not_null</name>
        <label>colInsertChangeLogs not null?</label>
        <locationX>2013</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>Win_eSolutions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>colInsertChangeLogs_is_null_FALSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colInsertChangeLogs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reconfiguration_Change_Log</targetReference>
            </connector>
            <label>colInsertChangeLogs is null = FALSE</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Customer_Stock</name>
        <label>End Customer/Stock</label>
        <locationX>1282</locationX>
        <locationY>2717</locationY>
        <defaultConnector>
            <targetReference>Send_Task_to_CSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_Customer_Stock_Update</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_End_Customer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Stock__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_End_Customer_Stock</targetReference>
            </connector>
            <label>End Customer/Stock Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_Change_Logs</name>
        <label>Insert Change Logs?</label>
        <locationX>238</locationX>
        <locationY>316</locationY>
        <defaultConnector>
            <targetReference>Win_eSolutions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insert_Logs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colInsertChangeLogs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Change_Log_Reconfiguration</targetReference>
            </connector>
            <label>Insert Logs?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Net_Amount_Changed</name>
        <label>Net Amount Changed?</label>
        <locationX>1747</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>colInsertChangeLogs_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Net_Amount_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__NetAmount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SBQQ__NetAmount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reconfiguration_Change_Log_Net_Amount</targetReference>
            </connector>
            <label>Net Amount Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Approval_Required_eSolutions</name>
        <label>No Approval Required eSolutions</label>
        <locationX>1272</locationX>
        <locationY>1179</locationY>
        <defaultConnector>
            <targetReference>Reset_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_discount</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_eSolutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Discount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Discount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__LineItemCount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_No_Approval_Required</targetReference>
            </connector>
            <label>No discount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Off_Units_Added</name>
        <label>Off Units Added?</label>
        <locationX>502</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Off_Units_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Added_Off_Units_Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.NATT_P_N__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__RequiredBy__r.SBQQ__UpgradedAsset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__UpgradedAsset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__RequiredBy__r.SBQQ__Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Off_Unit_Added_Create_Reconfiguration_Change_Log</targetReference>
            </connector>
            <label>Added Off Units - Amendment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Off_Units_Removed</name>
        <label>Off Units Removed?</label>
        <locationX>499</locationX>
        <locationY>1182</locationY>
        <defaultConnector>
            <targetReference>Cloned_a_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Removed_Off_Units_Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__UpgradedAsset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__RequiredBy__r.SBQQ__UpgradedAsset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__UpgradedAsset__r.Quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_in_QL_Records.SBQQ__Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__RequiredBy__r.SBQQ__Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.NATT_P_N__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Off_Unit_Removed_Create_Reconfiguration_Change_Log</targetReference>
            </connector>
            <label>Removed Off Units - Amendment</label>
        </rules>
    </decisions>
    <decisions>
        <name>On_Units_Added</name>
        <label>On Units Added?</label>
        <locationX>498</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>On_Units_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Added_On_Units_Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.NATT_P_N__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__RequiredBy__r.SBQQ__UpgradedAsset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__UpgradedAsset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__RequiredBy__r.SBQQ__Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Unit_Added_Create_Reconfiguration_Change_Log</targetReference>
            </connector>
            <label>Added On Units - Amendment</label>
        </rules>
    </decisions>
    <decisions>
        <name>On_Units_Removed</name>
        <label>On Units Removed?</label>
        <locationX>500</locationX>
        <locationY>845</locationY>
        <defaultConnector>
            <targetReference>Off_Units_Added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Removed_On_Units_Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__UpgradedAsset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__RequiredBy__r.SBQQ__UpgradedAsset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__UpgradedAsset__r.Quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_in_QL_Records.SBQQ__Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.SBQQ__RequiredBy__r.SBQQ__Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_in_QL_Records.NATT_P_N__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Unit_Removed_Create_Reconfiguration_Change_Log</targetReference>
            </connector>
            <label>Removed On Units - Amendment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Has_Approval_Needed</name>
        <label>Quote Has Approval Needed</label>
        <locationX>1272</locationX>
        <locationY>1666</locationY>
        <defaultConnector>
            <targetReference>Quote_is_Approved_but_not_ordered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_is_in_approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>NATT_Units_Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Oppty_Stage_to</targetReference>
            </connector>
            <label>Quote is in approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_is_Approved_but_not_ordered</name>
        <label>Quote is Approved but not ordered</label>
        <locationX>1280</locationX>
        <locationY>1989</locationY>
        <defaultConnector>
            <targetReference>Set_Field_Tracking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>NATT_Units_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Oppty_Stage_to_Closing</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reset_Approval</name>
        <label>Reset Approval</label>
        <locationX>1270</locationX>
        <locationY>1409</locationY>
        <defaultConnector>
            <targetReference>Quote_Has_Approval_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Net_changed_after_approval</name>
            <conditionLogic>(1 AND 2 AND 3 AND 11) OR (4 AND 3 AND 5 AND 11) OR (6 AND 7 AND 8 AND 11) OR (1 AND 2 AND (5 OR 10) AND 9 AND 11)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>NATT_Units_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Order_Net_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_BluEdge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__NetAmount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>NATT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__LineItemCount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Purchase_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Discount_Track__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Migrated_Ordered__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approval_Status_to_Draft</targetReference>
            </connector>
            <label>Net changed after approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Task_to_CSR</name>
        <label>Send Task to CSR</label>
        <locationX>1280</locationX>
        <locationY>2893</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ready_for_Task</name>
            <conditionLogic>(1 AND 2 AND 3 AND 5 AND 6 AND 7) OR (1 AND 3 AND 4 AND 5 AND 6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Purchase_Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Configured_Unit_Code__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NATT_BluEdge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Original_JDE_Sales_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CSR_Queue_Id</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>ready for task</label>
        </rules>
        <rules>
            <name>ready_for_BluEdge_task</name>
            <conditionLogic>(1 AND 2 AND 3 AND 5 AND 6 AND 7) OR (1 AND 3 AND 4 AND 5 AND 6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Purchase_Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Configured_Unit_Code__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_BluEdge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Original_JDE_Sales_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BluEdge_Queue_Id</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>ready for BluEdge task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Field_Tracking</name>
        <label>Set Field Tracking</label>
        <locationX>1278</locationX>
        <locationY>2555</locationY>
        <defaultConnector>
            <targetReference>End_Customer_Stock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Discount2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__NetAmount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Unit_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Field_Tracking_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_Discount_Changed</name>
        <label>Unit Discount Changed?</label>
        <locationX>1590</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Net_Amount_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unit_Discount_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmUnitDiscountChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reconfiguration_Change_Log_Unit_Discount</targetReference>
            </connector>
            <label>Unit Discount % Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Oppty_Needed</name>
        <label>Update Oppty Needed</label>
        <locationX>1284</locationX>
        <locationY>3359</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolUpdateOpportunityNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Oppty_Values</targetReference>
            </connector>
            <label>Update Oppty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Quote_Needed</name>
        <label>Update Quote Needed</label>
        <locationX>1283</locationX>
        <locationY>3136</locationY>
        <defaultConnector>
            <targetReference>Update_Oppty_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolRecordUpdateNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Values</targetReference>
            </connector>
            <label>Update Quote</label>
        </rules>
    </decisions>
    <decisions>
        <description>for when eSolutions is won</description>
        <name>Win_eSolutions</name>
        <label>Win eSolutions</label>
        <locationX>1265</locationX>
        <locationY>565</locationY>
        <defaultConnector>
            <targetReference>Cancel_eSolutions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>eSolutions_is_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_eSolutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Closed_Won</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>eSolutions is Won</label>
        </rules>
    </decisions>
    <description>For actions that happen after save - adjusted so the product number closes the oppty</description>
    <environments>Default</environments>
    <formulas>
        <name>BluEdgeIdFormula</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(DATEVALUE({!$Record.CreatedDate}))) &amp; 
IF(LEN(TEXT(MONTH(DATEVALUE({!$Record.CreatedDate}))))=1,&quot;0&quot;,NULL) &amp;
TEXT(MONTH(DATEVALUE({!$Record.CreatedDate}))) &amp; {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>frmClonedAUnit</name>
        <dataType>String</dataType>
        <expression>&quot;Cloned unit: &quot; &amp; {!Loop_in_QL_Records.SBQQ__ProductName__c} &amp; &quot;\n&quot; &amp;
&quot;Requested Ship Date: &quot; &amp; TEXT({!Loop_in_QL_Records.NATT_Requested_Ship_Date__c}) &amp; &quot;\n&quot; &amp;
&quot;Quantity: &quot; &amp; TEXT({!Loop_in_QL_Records.SBQQ__Quantity__c})</expression>
    </formulas>
    <formulas>
        <name>frmOffUnitAddedProductName</name>
        <dataType>String</dataType>
        <expression>&quot;Off unit option (&quot; &amp; {!Loop_in_QL_Records.SBQQ__ProductName__c} &amp; &quot;) was added.&quot;</expression>
    </formulas>
    <formulas>
        <name>frmOffUnitRemovedProductName</name>
        <dataType>String</dataType>
        <expression>&quot;Off unit option (&quot; &amp; {!Loop_in_QL_Records.SBQQ__ProductName__c} &amp; &quot;) was removed.&quot;</expression>
    </formulas>
    <formulas>
        <name>frmOnUnitAddedProductName</name>
        <dataType>String</dataType>
        <expression>&quot;On unit option (&quot; &amp; {!Loop_in_QL_Records.SBQQ__ProductName__c} &amp; &quot;) was added.&quot;</expression>
    </formulas>
    <formulas>
        <name>frmOnUnitRemovedProductName</name>
        <dataType>String</dataType>
        <expression>&quot;On unit option (&quot; &amp; {!Loop_in_QL_Records.SBQQ__ProductName__c} &amp; &quot;) was removed.&quot;</expression>
    </formulas>
    <formulas>
        <name>frmUnitDiscountChanged</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND({!$Record__Prior.NATT_Total_Discount2__c} != {!$Record.NATT_Total_Discount2__c}, NOT(ISNEW())), true, false)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>calculates the reminder for the csr task</description>
        <name>ReminderDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+5</expression>
    </formulas>
    <formulas>
        <description>used in the task that gets created for the CSR</description>
        <name>Subject_For_CSR_Task</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.NATT_Product_Family__c})&amp;&quot; - Add a Product Number and/or Paint Code to Quote&quot;</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>NATT Quote After Save Update V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT Quote After Save Update V2</label>
    <loops>
        <name>Loop_in_QL_Records</name>
        <label>Loop in QL Records</label>
        <locationX>505</locationX>
        <locationY>314</locationY>
        <collectionReference>Get_Quote_Line_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Base_Unit_Quantity_Changed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Change_Logs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_for_BluEdge_Queue</name>
        <label>Create Task for BluEdge Queue</label>
        <locationX>914</locationX>
        <locationY>3137</locationY>
        <connector>
            <targetReference>Update_Quote_Needed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Quote_Needed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Dealer_Account__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_BluEdge_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>ReminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_For_CSR_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_CSRs</name>
        <label>Create Task for CSRs</label>
        <locationX>1708</locationX>
        <locationY>3137</locationY>
        <connector>
            <targetReference>Update_Quote_Needed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Quote_Needed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Dealer_Account__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_CSR_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>ReminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_For_CSR_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Change_Log_Reconfiguration</name>
        <label>Insert Change Log Reconfiguration</label>
        <locationX>50</locationX>
        <locationY>313</locationY>
        <connector>
            <targetReference>Win_eSolutions</targetReference>
        </connector>
        <inputReference>colInsertChangeLogs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Reconfiguration_Change_Log</name>
        <label>Reconfiguration Change Log</label>
        <locationX>2028</locationX>
        <locationY>470</locationY>
        <connector>
            <targetReference>Win_eSolutions</targetReference>
        </connector>
        <inputReference>colInsertChangeLogs</inputReference>
    </recordCreates>
    <recordLookups>
        <description>looks up the BluEdge Queue Id</description>
        <name>Get_BluEdge_Queue_Id</name>
        <label>Get BluEdge Queue Id</label>
        <locationX>1035</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_for_BluEdge_Queue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Quote_Needed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BluEdge_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>looks up the CSR Queue Id</description>
        <name>Get_CSR_Queue_Id</name>
        <label>Get CSR Queue Id</label>
        <locationX>1585</locationX>
        <locationY>3003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_for_CSRs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Quote_Needed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSR_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Records</name>
        <label>Get Quote Line Records</label>
        <locationX>1075</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approved_Unit_Discount_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>on the original quote</description>
        <name>Set_Oppty_Values</name>
        <label>Set Oppty Values</label>
        <locationX>1491</locationX>
        <locationY>3353</locationY>
        <inputReference>recOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>on the original quote</description>
        <name>Set_Quote_Values</name>
        <label>Set Quote Values</label>
        <locationX>982</locationX>
        <locationY>3243</locationY>
        <connector>
            <targetReference>Update_Oppty_Needed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Oppty_Needed</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1144</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>Amendment_Quote</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR 3 OR (4 AND 5)</filterLogic>
        <filters>
            <field>NATT_Quote_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATT_Units_Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Quote_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATT_BluEdge</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Quote_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATT_eSolutions</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Number_of_Price_Rule_Updates__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Quote_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATT_Units_Quote_Amendment</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>checked if a record update is needed - evaluated at the end of flow</description>
        <name>boolRecordUpdateNeeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolUpdateOpportunityNeeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>colInsertChangeLogs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Change_Log__c</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InflghtQuotesToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>NumberOfOrderedBaseUnits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfUpgradedQuoteLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varDefaultApprovalUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQLChangeLogs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Change_Log__c</objectType>
    </variables>
    <variables>
        <name>varReconfigurationNetAmt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Change_Log__c</objectType>
    </variables>
    <variables>
        <name>varReconfigurationUnitDisc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Change_Log__c</objectType>
    </variables>
</Flow>
