NATTQA-ENV/force-app/main/default/flows/NATT_Order_Product_Set_Effective_Quantity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_New_Collection_To_Update</name>
        <label>Assign to New Collection To Update</label>
        <locationX>650</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>colRelatedOrderProductsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Order_Products_4_Assignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Order_Products_4_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_the_quantity</name>
        <label>Count the quantity</label>
        <locationX>387</locationX>
        <locationY>136</locationY>
        <assignmentItems>
            <assignToReference>varEffectiveQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Order_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateRelatedOrderProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Effective_Quantity</name>
        <label>Set Effective Quantity</label>
        <locationX>515</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>Loop_Related_Order_Products_4_Assignment.NATT_Current_Effective_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEffectiveQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_New_Collection_To_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_Needed</name>
        <label>Update Needed</label>
        <locationX>663</locationX>
        <locationY>300</locationY>
        <defaultConnectorLabel>Not Needed</defaultConnectorLabel>
        <rules>
            <name>Update_Is_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateRelatedOrderProducts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Effective_Quantity</targetReference>
            </connector>
            <label>Update Is Needed</label>
        </rules>
    </decisions>
    <description>sets the effective quantity of the related order products for use with order update functionality</description>
    <environments>Default</environments>
    <interviewLabel>NATT Order Product Set Effective Quantity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT Order Product Set Effective Quantity</label>
    <loops>
        <description>loops through all the related order products</description>
        <name>Loop_Related_Order_Products</name>
        <label>Loop Related Order Products</label>
        <locationX>384</locationX>
        <locationY>299</locationY>
        <collectionReference>Get_Related_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_the_quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Related_Order_Products_4_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>loops through related order products to assign the effective quantity from the past loop</description>
        <name>Loop_Related_Order_Products_4_Assignment</name>
        <label>Loop Related Order Products 4 Assignment</label>
        <locationX>518</locationX>
        <locationY>302</locationY>
        <collectionReference>Get_Related_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Effective_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Needed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Order_Products</name>
        <label>Get Related Order Products</label>
        <locationX>173</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_QuoteLine_Id_for_Amendment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_QuoteLine_Id_for_Amendment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NATT_Order_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATT_Units</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Is_Base_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>updates the related order products</description>
        <name>Update_Effective_Quantity</name>
        <label>Update Effective Quantity</label>
        <locationX>809</locationX>
        <locationY>298</locationY>
        <inputReference>colRelatedOrderProductsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Get_Related_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_Order_Record_Type_Developer_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>NATT_Units</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Is_Base_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>update these order products</description>
        <name>colRelatedOrderProductsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>UpdateRelatedOrderProducts</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varEffectiveQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
