NATTQA-ENV/force-app/main/default/flows/NATT_Case_Return_Items_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Referesh</name>
        <label>Refresh</label>
        <locationX>875</locationX>
        <locationY>194</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Refresh1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <stringValue>/detail/{!recordId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Refresh1</name>
        <label>Refresh</label>
        <locationX>1011</locationX>
        <locationY>194</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <stringValue>/detail/{!recordId}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>True_InternalUser</name>
        <label>InternalUser</label>
        <locationX>569</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>NotAuthorized</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InternalUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Information</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Processing Return Items for a Case</description>
    <formulas>
        <name>InternalUser</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.ContactId}=&quot;&quot;</expression>
    </formulas>
    <interviewLabel>NATT Case Return Items Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT Case Return Items Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Information</name>
        <label>Get Case Information</label>
        <locationX>575</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetReturnItemInformation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Case Information</description>
        <name>GetReturnItemInformation</name>
        <label>GetReturnItemInformation</label>
        <locationX>575</locationX>
        <locationY>487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisplayReturnItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NATT_Return_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Return Items with edits.</description>
        <name>UpdateReturnItems</name>
        <label>UpdateReturnItems</label>
        <locationX>571</locationX>
        <locationY>778</locationY>
        <inputReference>ReturnItemTable.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <description>Display Return Items for processing</description>
        <name>DisplayReturnItems</name>
        <label>DisplayReturnItems</label>
        <locationX>571</locationX>
        <locationY>637</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateReturnItems</targetReference>
        </connector>
        <fields>
            <name>ReturnItemTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>NATT_Return_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>NATT_Return_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GetReturnItemInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>NATT_Quantity__c:true, NATT_Serial__c:true, NATT_Warranty__c:true, NATT_MPR_Tag__c:true, NATT_Received_Core__c:true, NATT_Accepted_Quantity__c:true, NATT_Rejected_Quantity__c:true, NATT_Remarks_Notes__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,NATT_JDE_Parts_Bill_To_Code__c,NATT_Part_Number__c,NATT_Quantity__c,NATT_Serial__c,NATT_Warranty__c,NATT_MPR_Tag__c,NATT_Received_Core__c,NATT_Accepted_Quantity__c,NATT_Rejected_Quantity__c,NATT_Remarks_Notes__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:123, NATT_JDE_Parts_Bill_To_Code__c:98, NATT_Part_Number__c:146, NATT_Quantity__c:99, NATT_Serial__c:95, NATT_Warranty__c:113, NATT_MPR_Tag__c:108, NATT_Received_Core__c:112, NATT_Accepted_Quantity__c:117, NATT_Rejected_Quantity__c:110, NATT_Remarks_Notes__c:159</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>NATT_Quantity__c:center, NATT_Received_Core__c:center, NATT_Accepted_Quantity__c:center, NATT_Rejected_Quantity__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navigateNextOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Dealers are not authorized to process return items.</description>
        <name>NotAuthorized</name>
        <label>NotAuthorized</label>
        <locationX>751</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Referesh</targetReference>
        </connector>
        <fields>
            <name>NotAuthorizedMessage</name>
            <fieldText>&lt;p&gt;Processing Return Items is not a Dealer function.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>451</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>True_InternalUser</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
