NATTQA-ENV/force-app/main/default/flows/NATT_Units_Quote_Default_Grouping_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_QMargin_Flag_Fields</name>
        <label>Assign QMargin Flag Fields</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.QMargin_DOS_Lower_Bound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NATT_Approval_Record.Margin_DOS_Lower_Bound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QMargin_EAM_Lower_Bound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NATT_Approval_Record.Margin_EAM_Lower_Bound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QMargin_RD_Lower_Bound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NATT_Approval_Record.Margin_RD_Lower_Bound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QMargin_Sales_Ops_Lower_Bound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NATT_Approval_Record.Margin_Sales_Ops_Lower_Bound__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Address_Fields_from_NATT_Address</name>
        <label>Update Address Fields from NATT Address</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Billing_Address__r.NATT_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Billing_Address__r.NATT_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Billing_Address__r.NATT_Zip_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Billing_Address__r.NATT_State_Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Shipping_Address__r.NATT_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Shipping_Address__r.NATT_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Shipping_Address__r.NATT_Zip_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ShippingState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Shipping_Address__r.NATT_State_Province__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_by_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Order_by_Field</name>
        <label>Update Order by Field</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__OrderBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NATT_Requested_Ship_Date__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Units_Quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Units_Quote</name>
        <label>Check Units Quote</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Units_Quote</name>
            <conditionLogic>(1 OR 7)  AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.NATT_Margin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QMargin_DOS_Lower_Bound__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QMargin_EAM_Lower_Bound__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QMargin_RD_Lower_Bound__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QMargin_Sales_Ops_Lower_Bound__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Quote_Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NATT_Approval_Record</targetReference>
            </connector>
            <label>Units Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Address_fields</name>
        <label>Update Address fields</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_Order_by_Field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NATT_Units_Quote</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Billing_Address__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Shipping_Address__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isBillingNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsShippingNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NATT_Units_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Direct_Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Address_Fields_from_NATT_Address</targetReference>
            </connector>
            <label>Natt Units Quote</label>
        </rules>
    </decisions>
    <description>Before Save Flow created to update &apos;Order by&apos; field on creation of NATT Units Quote for creating multiple Orders, update address fields on change natt address</description>
    <environments>Default</environments>
    <formulas>
        <name>BillingStreet</name>
        <dataType>String</dataType>
        <expression>LEFT ({!$Record.NATT_Billing_Address__r.NATT_Street__c} + &apos; &apos; + 
{!$Record.NATT_Billing_Address__r.NATT_Street_2__c} + &apos; &apos; + 
{!$Record.NATT_Billing_Address__r.NATT_Street_3__c} + &apos; &apos; + 
{!$Record.NATT_Billing_Address__r.NATT_Street_4__c},255)</expression>
    </formulas>
    <formulas>
        <name>isBillingNull</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISBLANK({!$Record.SBQQ__BillingStreet__c}), 
 ISBLANK({!$Record.SBQQ__BillingCity__c}),
 ISBLANK({!$Record.SBQQ__BillingCountry__c}), 
ISBLANK({!$Record.SBQQ__BillingPostalCode__c}), 
ISBLANK({!$Record.SBQQ__BillingState__c}) )</expression>
    </formulas>
    <formulas>
        <name>IsShippingNull</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISBLANK({!$Record.SBQQ__ShippingStreet__c}), 
 ISBLANK({!$Record.SBQQ__ShippingCity__c}),
 ISBLANK({!$Record.SBQQ__ShippingCountry__c}), 
ISBLANK({!$Record.SBQQ__ShippingPostalCode__c}), 
ISBLANK({!$Record.SBQQ__ShippingState__c}) )</expression>
    </formulas>
    <formulas>
        <name>NewquoteCheck</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>ShippingStreet</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.NATT_Shipping_Address__r.NATT_Street__c} + &apos; &apos; + 
{!$Record.NATT_Shipping_Address__r.NATT_Street_2__c} + &apos; &apos; + 
{!$Record.NATT_Shipping_Address__r.NATT_Street_3__c} + &apos; &apos; + 
{!$Record.NATT_Shipping_Address__r.NATT_Street_4__c},255)</expression>
    </formulas>
    <interviewLabel>NATT - Units Quote Default Grouping Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT - Units Quote Default Grouping Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_NATT_Approval_Record</name>
        <label>Get NATT Approval Record</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_QMargin_Flag_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Product_Family__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NATT_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Unit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NATT_Approval_Process__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Address_fields</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;NATT_Units_Quote&apos; || {!$Record.RecordType.DeveloperName} = &apos;NATT_Direct_Sales&apos; || {!$Record.RecordType.DeveloperName} = &apos;NATT_Units_Quote_Amendment&apos; || {!$Record.RecordType.DeveloperName} = &apos;NATT_Direct_Sales_Quote_Amendment&apos;</filterFormula>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
