NATTQA-ENV/force-app/main/default/flows/NATT_Update_Original_JDE_Sales_Order_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>collectionOfOrderProductsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Order_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Original_JDE_Sales_Number</name>
        <label>Assign Original JDE Sales Number</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Order_Products.NATT_Original_JDE_Sales_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_JDE_Sales_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>For new orders only</description>
    <interviewLabel>NATT Update Original JDE Sales Order Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT Update Original JDE Sales Order Number</label>
    <loops>
        <name>Loop_Through_Order_Products</name>
        <label>Loop Through Order Products</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_Order_Product_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Original_JDE_Sales_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Product_Records</name>
        <label>Get Order Product Records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>updates the original jde order number</description>
        <name>Update_order</name>
        <label>Update order</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Get_Order_Product_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>NATT_Original_JDE_Sales_Order__c</field>
            <value>
                <elementReference>$Record.NATT_JDE_Sales_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Products</name>
        <label>Update Order Products</label>
        <locationX>176</locationX>
        <locationY>1007</locationY>
        <inputReference>collectionOfOrderProductsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_JDE_Sales_Order_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Original_JDE_Sales_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>collectionOfOrderProductsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
