NATTQA-ENV/force-app/main/default/flows/NATT_Update_Customer_Account_Fields_on_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Competitor_Values_in_Variable</name>
        <label>Assign Competitor Values in Variable</label>
        <locationX>720</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>Division</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CompetitorAccount.NATT_Division__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CompetitorAccount.NATT_Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CompetitorAccount.NATT_Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Customer_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_in_Variable</name>
        <label>Assign Customer Values in Variable</label>
        <locationX>404</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>Division</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Dealership_Account.NATT_Division__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Dealership_Account.NATT_Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Region</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Dealership_Account.NATT_Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Customer_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dealership_Is_Not_Null</name>
        <label>Dealership Is Null</label>
        <locationX>445</locationX>
        <locationY>392</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Customer_Account_Record</name>
            <conditionLogic>(2 OR 3 OR 4) AND 1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Dealership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MX_Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTBR_Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dealership_Account</targetReference>
            </connector>
            <label>Customer Account Record</label>
        </rules>
        <rules>
            <name>Competitor_Account_Record</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Competitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MX_Competitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTBR_Competitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_PAR_Dealer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CompetitorAccount</targetReference>
            </connector>
            <label>Competitor Account Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>NATT Update Customer Account Fields on Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT Update Customer Account Fields on Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CompetitorAccount</name>
        <label>Get CompetitorAccount</label>
        <locationX>719</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Competitor_Values_in_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_PAR_Dealer_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dealership_Account</name>
        <label>Get Dealership Account</label>
        <locationX>203</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_in_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Dealership__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Customer_Record</name>
        <label>Update Customer Record</label>
        <locationX>990</locationX>
        <locationY>714</locationY>
        <inputAssignments>
            <field>NATT_Division__c</field>
            <value>
                <elementReference>Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Organization__c</field>
            <value>
                <elementReference>BusinessUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Region__c</field>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>328</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Dealership_Is_Not_Null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>NATT_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MX_Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTBR_Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATT_Competitor</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MX_Competitor</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTBR_Competitor</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BusinessUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Division</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
