NATTQA-ENV/force-app/main/default/flows/NATT_Core_Return_Items_Received.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>When all Core Returns are received the Contact will be notified.</description>
        <name>Notify_Case_Contact_of_Core_Returns_Received</name>
        <label>Notify Case Contact of Core Returns Received</label>
        <locationX>172</locationX>
        <locationY>1836</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Notification_Sent_Field_on_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CoreReturnItemsReceivedEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.NATT_Case__r.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>All Core Return Items Received</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Received_Return_Item_Count</name>
        <label>Received Return Item Count</label>
        <locationX>460</locationX>
        <locationY>1076</locationY>
        <assignmentItems>
            <assignToReference>ReceivedReturnItems</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Received_Return_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Return_Item_Count</name>
        <label>Total Return Item Count</label>
        <locationX>459</locationX>
        <locationY>752</locationY>
        <assignmentItems>
            <assignToReference>TotalCoreReturnItems</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Return_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Compare Total Return Items to Received Return Items.  If they are equal all Return Items have been received.</description>
        <name>All_Return_Items_Received</name>
        <label>All Return Items Received</label>
        <locationX>167</locationX>
        <locationY>1269</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReceivedReturnItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalCoreReturnItems</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Email_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the Contact record has an email address</description>
        <name>Email_is_Not_Null</name>
        <label>Email is Not Null</label>
        <locationX>165</locationX>
        <locationY>1653</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Email_Address.Contact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Case_Contact_of_Core_Returns_Received</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the current Core Return Item is not received or if a previous notification was sent no additional notifications are sent.  Note:  The User (internal) can reset the check (Core Items Received Notification Sent is set to unchecked) if there is a reason to resend the notification.</description>
        <name>Should_Case_be_Checked_for_Notification_Criteria</name>
        <label>Should Case be Checked for Notification Criteria</label>
        <locationX>168</locationX>
        <locationY>385</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Check_for_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Case__r.NATT_Core_Items_Rcv_Notification_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Items_for_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Notify Dealer when all Core Returns are Received</description>
    <formulas>
        <name>LinktoCase</name>
        <dataType>String</dataType>
        <expression>&quot;https://ttcgidv1-transicoldtest.cs4.force.com/carriersolutioncenter/s/detail/&quot;&amp;{!$Record.NATT_Case__r.Id}</expression>
    </formulas>
    <interviewLabel>NATT Core Return Items Received {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT Core Return Items Received</label>
    <loops>
        <name>Count_Received_Return_Items</name>
        <label>Count Received Return Items</label>
        <locationX>175</locationX>
        <locationY>1076</locationY>
        <collectionReference>Return_Items_Received</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Received_Return_Item_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Return_Items_Received</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Count_Return_Items</name>
        <label>Count Return Items</label>
        <locationX>175</locationX>
        <locationY>752</locationY>
        <collectionReference>CoreReturnItemsReceived</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Return_Item_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Return_Items_Received</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the email Address for the Case Contact</description>
        <name>Get_Contact_Email_Address</name>
        <label>Get Contact Email Address</label>
        <locationX>172</locationX>
        <locationY>1458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Return Items for the Case</description>
        <name>Return_Items_for_Case</name>
        <label>Return Items for Case</label>
        <locationX>176</locationX>
        <locationY>613</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Return_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Case__c</elementReference>
            </value>
        </filters>
        <object>NATT_Return_Item__c</object>
        <outputReference>CoreReturnItemsReceived</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Return_Items_Received</name>
        <label>Return Items Received</label>
        <locationX>176</locationX>
        <locationY>921</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Received_Return_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_Received_Core__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NATT_Return_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Once a notification is sent mark the &quot;Core Items Received Notification Sent&quot; to prevent repeat notifications</description>
        <name>Update_Notification_Sent_Field_on_Case</name>
        <label>Update Notification Sent Field on Case</label>
        <locationX>174</locationX>
        <locationY>2003</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NATT_Core_Items_Rcv_Notification_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Should_Case_be_Checked_for_Notification_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_Received_Core__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>NATT_Return_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Template used to generate the email notification when all Core Return Items are Received</description>
        <name>CoreReturnItemsReceivedEmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>All Core Return Items Received
Case:  {!$Record.NATT_Case__r.CaseNumber}
Case Contact:  {!$Record.NATT_Case__r.Contact.FirstName}  {!$Record.NATT_Case__r.Contact.LastName}
Account:  {!$Record.NATT_Case__r.Account.Name}
Record Link:  {!LinktoCase}</text>
    </textTemplates>
    <variables>
        <name>CoreReturnItemsReceived</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Return_Item__c</objectType>
    </variables>
    <variables>
        <name>ReceivedReturnItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCoreReturnItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
