NATTQA-ENV/force-app/main/default/flows/NATT_Order_After_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Email Notification send to Approvers and Quote Owner whenever BluEdge Quote is converted to a new Order</description>
        <name>BluEdge_Quote_Converted_To_An_Order</name>
        <label>BluEdge Quote Converted To An Order</label>
        <locationX>336</locationX>
        <locationY>8748</locationY>
        <actionName>Order.NATT_BluEdge_Quote_Converted_To_An_Order</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Is_Quote_Units</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.NATT_BluEdge_Quote_Converted_To_An_Order</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Send notification to Owner and Unit Approvers that a new Order is created</description>
        <name>Unit_Quote_Converted_to_an_Order</name>
        <label>Unit Quote Converted to an Order</label>
        <locationX>336</locationX>
        <locationY>9048</locationY>
        <actionName>Order.NATT_Units_Quote_Converted_To_An_Order</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.NATT_Units_Quote_Converted_To_An_Order</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Boomi_Status_OrderHeaderChangePending</name>
        <label>Assign Boomi Status -OrderHeaderChangePending</label>
        <locationX>666</locationX>
        <locationY>7224</locationY>
        <assignmentItems>
            <assignToReference>$Record.NATT_Boomi_Order_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderHeaderChangePending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordUpdateNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_is_Uncontracted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Boomi_Status_OrderHeaderChangePending_0</name>
        <label>Assign Boomi Status -OrderHeaderChangePending</label>
        <locationX>402</locationX>
        <locationY>7224</locationY>
        <assignmentItems>
            <assignToReference>$Record.NATT_Boomi_Order_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordUpdateNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_is_Uncontracted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Header_Values_To_Orders</name>
        <label>Assign Header Values To Orders</label>
        <locationX>138</locationX>
        <locationY>6144</locationY>
        <assignmentItems>
            <assignToReference>Loop_Related_Orders.NATT_Mark_For_Special_Delivery_Instructi__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Mark_For_Special_Delivery_Instructi__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Related_Orders.NATT_Shipment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Shipment_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Related_Orders.NATT_Dealer_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Dealer_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Related_Orders.NATT_End_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_End_Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Related_Orders.NATT_Purchase_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Purchase_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assigns the new record type to the record</description>
        <name>Assign_new_record_type</name>
        <label>Assign new record type</label>
        <locationX>402</locationX>
        <locationY>5520</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordUpdateNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NATT_Boomi_Order_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderAmendmentChangePending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Field_is_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assigns the owner to the be the quote owner</description>
        <name>Assign_owner</name>
        <label>Assign owner</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordUpdateNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_End_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>358</locationX>
        <locationY>3600</locationY>
        <assignmentItems>
            <assignToReference>Inflight_Quotes_Loop.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invalid Due To Order Status Change</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Quotes_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stock</name>
        <label>Assign Stock</label>
        <locationX>182</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>$Record.NATT_Stock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordUpdateNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_New_Collection</name>
        <label>Assign to New Collection</label>
        <locationX>138</locationX>
        <locationY>6252</locationY>
        <assignmentItems>
            <assignToReference>RelatedOrdersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Orders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_new_collection_to_update</name>
        <label>Assign to new collection to update</label>
        <locationX>490</locationX>
        <locationY>7848</locationY>
        <assignmentItems>
            <assignToReference>UpdatedOrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Order_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Quotes_to_Update</name>
        <label>Assign to Quotes to Update</label>
        <locationX>358</locationX>
        <locationY>3708</locationY>
        <assignmentItems>
            <assignToReference>InflightQuotes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Inflight_Quotes_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inflight_Quotes_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assigns the total values summed to the original order</description>
        <name>Assign_Totals_to_Orders_Fields</name>
        <label>Assign Totals to Orders Fields</label>
        <locationX>358</locationX>
        <locationY>4764</locationY>
        <assignmentItems>
            <assignToReference>$Record.NATT_List_Amount_All_Related_Orders__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTotalOrderListAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NATT_Net_Amount_All_Related_Orders__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTotalOrderNetAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordUpdateNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NATT_List_Amount_All_Related_Orders_Disc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTotalOrderListAmountDisc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NATT_Net_Amount_All_Related_Orders_Disc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTotalOrderNetAmountDisc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Whole_Order_Group_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Whole_Order_Group_To_Update</name>
        <label>Collect Whole Order Group To Update</label>
        <locationX>358</locationX>
        <locationY>4872</locationY>
        <assignmentItems>
            <assignToReference>OrderGroupToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>x2_Loop_through_Order_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>x2_Loop_through_Order_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Header_Change_Log_Assignment</name>
        <label>Order Header Change Log Assignment</label>
        <locationX>886</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Header Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_JDE_Sales_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrackHistory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpadateNatt_Change_Log_HistoryField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Log_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrackHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NATT_Order_Header_Change_Mark_For_Special_Delivery_Instructions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Header_Change_Log_Assignment_0</name>
        <label>Order Header Change Log Assignment</label>
        <locationX>886</locationX>
        <locationY>1800</locationY>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Header Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_JDE_Sales_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrackHistory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatechangeLogDealerComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Log_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrackHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NATT_Order_Header_Change_Market_Segments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Header_Change_Log_Assignment_0_0</name>
        <label>Order Header Change Log Assignment</label>
        <locationX>886</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Header Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_JDE_Sales_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrackHistory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateMarkforSpecialDelivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Log_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrackHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NATT_Order_Header_Change_End_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Header_Change_Log_Assignment_0_0_0</name>
        <label>Order Header Change Log Assignment</label>
        <locationX>886</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Header Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_JDE_Sales_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrackHistory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateEndcustomer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Log_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrackHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NATT_Order_Header_Change_Stock</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Header_Change_Log_Assignment_0_0_0_0</name>
        <label>Order Header Change Log Assignment</label>
        <locationX>886</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Header Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_JDE_Sales_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrackHistory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateChangeLogforOrderHistoryStock</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Log_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrackHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NATT_Order_Header_Change_Dealer_Comments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Header_Change_Log_Assignment_0_0_0_0_0</name>
        <label>Order Header Change Log Assignment</label>
        <locationX>886</locationX>
        <locationY>2100</locationY>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Header Change</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_JDE_Sales_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrackHistory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeLogHistoryForMarketSegemnt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Log_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrackHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NATT_Shipment_Method_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Shipment_Change_Log_Assignment</name>
        <label>Order Shipment Change Log Assignment</label>
        <locationX>886</locationX>
        <locationY>2400</locationY>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipment Method</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_JDE_Sales_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrackHistory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateChangeLogHistoryForShipmentMethod</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Log_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrackHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NATT_Ship_To_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Shipment_To_Change_Log_Assignment</name>
        <label>Order Shipment To Change Log Assignment</label>
        <locationX>886</locationX>
        <locationY>2700</locationY>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipment Method</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Initiated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_JDE_Sales_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_JDE_Sales_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TrackHistory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>updatehistorytoshiptoaddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOrderHeaderChangeLog.NATT_Change_Log_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrackHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NATT_Change_Log_Collection_not_equals_to_NULL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>sums the amounts required for quote approval</description>
        <name>Sum_The_Amounts</name>
        <label>Sum The Amounts</label>
        <locationX>358</locationX>
        <locationY>4464</locationY>
        <assignmentItems>
            <assignToReference>varTotalOrderListAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>x1_Loop_through_Order_Group.NATT_List_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalOrderNetAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>x1_Loop_through_Order_Group.NATT_Net_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalOrderListAmountDisc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>x1_Loop_through_Order_Group.NATT_List_Amount_Disc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalOrderNetAmountDisc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>x1_Loop_through_Order_Group.NATT_Net_Amount_Disc__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>x1_Loop_through_Order_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncontract_Order_Products</name>
        <label>Uncontract Order Products</label>
        <locationX>490</locationX>
        <locationY>7740</locationY>
        <assignmentItems>
            <assignToReference>Loop_Order_Products.SBQQ__Contracted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_new_collection_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_IsOrderNew_to_False</name>
        <label>Update IsOrderNew to False</label>
        <locationX>1018</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>IsOrderNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NATT_Order_Header_Change_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Order is new</description>
        <name>Update_IsOrderNew_to_True</name>
        <label>Update IsOrderNew to True</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>IsOrderNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_is_not_Quote_onwner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activated_Check</name>
        <label>Activated Check</label>
        <locationX>1458</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>needs_activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Number_of_Order_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Order</targetReference>
            </connector>
            <label>needs activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amendment_Invalidate_Inflight_Quotes</name>
        <label>Amendment - Invalidate Inflight Quotes</label>
        <locationX>666</locationX>
        <locationY>3276</locationY>
        <defaultConnector>
            <targetReference>Update_Total_Amount_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inflight_Quotes</targetReference>
            </connector>
            <label>Is Amendment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quote_BluEdge</name>
        <label>Is Quote BluEdge</label>
        <locationX>468</locationX>
        <locationY>8640</locationY>
        <defaultConnector>
            <targetReference>Is_Quote_Units</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_is_BluEdge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>NATT_BluEdge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BluEdge_Quote_Converted_To_An_Order</targetReference>
            </connector>
            <label>Quote is BluEdge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quote_Units</name>
        <label>Is Quote Units</label>
        <locationX>468</locationX>
        <locationY>8940</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_is_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unit_Quote_Converted_to_an_Order</targetReference>
            </connector>
            <label>Quote is Unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>NATT_Change_Log_Collection_not_equals_to_NULL</name>
        <label>NATT Change Log Collection not equals to NULL</label>
        <locationX>1018</locationX>
        <locationY>2892</locationY>
        <defaultConnector>
            <targetReference>Amendment_Invalidate_Inflight_Quotes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Log_Collection_not_equals_to_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOrderHeaderChangeLog</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Header_Change_Log</targetReference>
            </connector>
            <label>Change Log Collection not equals to NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>NATT_Order_Header_Change_Dealer_Comments</name>
        <label>NATT Order Header Change - Dealer Comments</label>
        <locationX>1018</locationX>
        <locationY>1692</locationY>
        <defaultConnector>
            <targetReference>NATT_Order_Header_Change_Market_Segments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Header_Change_Dealer_Comments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Dealer_Comments__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Header_Change_Log_Assignment_0</targetReference>
            </connector>
            <label>Order Header Change - Dealer Comments</label>
        </rules>
    </decisions>
    <decisions>
        <name>NATT_Order_Header_Change_End_Customer</name>
        <label>NATT Order Header Change - End Customer</label>
        <locationX>1018</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>NATT_Order_Header_Change_Stock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Header_Change_End_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_End_Customer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Header_Change_Log_Assignment_0_0_0</targetReference>
            </connector>
            <label>Order Header Change - End Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>NATT_Order_Header_Change_Mark_For_Special_Delivery_Instructions</name>
        <label>NATT Order Header Change - Mark For Special Delivery Instructions</label>
        <locationX>1018</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>NATT_Order_Header_Change_End_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Header_Change_Mark_For_Special_Delivery_Instructions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Mark_For_Special_Delivery_Instructi__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Header_Change_Log_Assignment_0_0</targetReference>
            </connector>
            <label>Order Header Change - Mark For Special Delivery Instructions</label>
        </rules>
    </decisions>
    <decisions>
        <name>NATT_Order_Header_Change_Market_Segments</name>
        <label>NATT Order Header Change - Market Segments</label>
        <locationX>1018</locationX>
        <locationY>1992</locationY>
        <defaultConnector>
            <targetReference>NATT_Shipment_Method_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Header_Change_Market_Segment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Market_Segment2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Header_Change_Log_Assignment_0_0_0_0_0</targetReference>
            </connector>
            <label>Order Header Change - Market Segment</label>
        </rules>
    </decisions>
    <decisions>
        <name>NATT_Order_Header_Change_PO</name>
        <label>NATT Order Header Change - PO#</label>
        <locationX>1018</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>NATT_Order_Header_Change_Mark_For_Special_Delivery_Instructions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Header_Change_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Purchase_Order__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Header_Change_Log_Assignment</targetReference>
            </connector>
            <label>Order Header Change - PO #</label>
        </rules>
    </decisions>
    <decisions>
        <name>NATT_Order_Header_Change_Stock</name>
        <label>NATT Order Header Change - Stock</label>
        <locationX>1018</locationX>
        <locationY>1392</locationY>
        <defaultConnector>
            <targetReference>NATT_Order_Header_Change_Dealer_Comments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Header_Change_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Stock__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Header_Change_Log_Assignment_0_0_0_0</targetReference>
            </connector>
            <label>Order Header Change - Stock</label>
        </rules>
    </decisions>
    <decisions>
        <name>NATT_Ship_To_Change</name>
        <label>NATT Ship-To Change</label>
        <locationX>1018</locationX>
        <locationY>2592</locationY>
        <defaultConnector>
            <targetReference>NATT_Change_Log_Collection_not_equals_to_NULL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ship_To_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Shipping_Address__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Shipment_To_Change_Log_Assignment</targetReference>
            </connector>
            <label>Ship-To Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>NATT_Shipment_Method_Change</name>
        <label>NATT Shipment Method Change</label>
        <locationX>1018</locationX>
        <locationY>2292</locationY>
        <defaultConnector>
            <targetReference>NATT_Ship_To_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipment_Method_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Shipment_Method__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Shipment_Change_Log_Assignment</targetReference>
            </connector>
            <label>Shipment Method Change</label>
        </rules>
    </decisions>
    <decisions>
        <description>this is a new units order</description>
        <name>New_NATT_Order</name>
        <label>New NATT Order</label>
        <locationX>666</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Update_IsOrderNew_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Quote_Status_to_Ordered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Recordtype_Developer_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>NATT_Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IsOrderNew_to_True</targetReference>
            </connector>
            <label>Update Quote Status to Ordered</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_End_Customer</name>
        <label>No End Customer</label>
        <locationX>314</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_End_Customer_on_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_End_Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Stock__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stock</targetReference>
            </connector>
            <label>No End Customer on Order</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks to see if any of the order fields are updated</description>
        <name>Order_Field_is_Updated</name>
        <label>Order Field is Updated</label>
        <locationX>666</locationX>
        <locationY>5712</locationY>
        <defaultConnector>
            <targetReference>Unit_Product_Number_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Header_fields_are_updated</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Recordtype_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Mark_For_Special_Delivery_Instructi__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Mark_For_Special_Delivery_Instructi__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_End_Customer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_End_Customer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Dealer_Comments__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Dealer_Comments__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Shipment_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Shipment_Method__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Purchase_Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Purchase_Order__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Related_Orders</targetReference>
            </connector>
            <label>Order Header fields are updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_is_Uncontracted</name>
        <label>Order is Uncontracted</label>
        <locationX>666</locationX>
        <locationY>7416</locationY>
        <defaultConnector>
            <targetReference>OrderRecordUpdateNeeded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>uncontracted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Products</targetReference>
            </connector>
            <label>uncontracted</label>
        </rules>
    </decisions>
    <decisions>
        <description>decide if an update of the record is needed</description>
        <name>OrderRecordUpdateNeeded</name>
        <label>OrderRecordUpdateNeeded?</label>
        <locationX>666</locationX>
        <locationY>8232</locationY>
        <defaultConnector>
            <targetReference>Was_Order_new</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>update_order_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordUpdateNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_The_Order</targetReference>
            </connector>
            <label>update order record</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks to see if the owner is the quote owner.</description>
        <name>Owner_is_not_Quote_onwner</name>
        <label>Owner is not Quote onwner</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>No_End_Customer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Missmatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Quote__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_owner</targetReference>
            </connector>
            <label>Owner Missmatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Orders_Check</name>
        <label>Related Orders Check</label>
        <locationX>314</locationX>
        <locationY>5928</locationY>
        <defaultConnector>
            <targetReference>Unit_Product_Number_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Related_Orders_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Related_Orders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Related_Orders</targetReference>
            </connector>
            <label>Related Orders Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_Product_Number_Changed</name>
        <label>Unit Product Number Changed?</label>
        <locationX>666</locationX>
        <locationY>6768</locationY>
        <defaultConnector>
            <targetReference>Update_New_Order_Boomi_Status_OrderHeaderChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Configured_Unit_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Configured_Unit_Code__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Configured_Unit_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Original_Order</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_New_Order_Boomi_Status_OrderHeaderChange</name>
        <label>Update New Order Boomi Status - OrderHeaderChange</label>
        <locationX>666</locationX>
        <locationY>7116</locationY>
        <defaultConnector>
            <targetReference>Order_is_Uncontracted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Recordtype_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Boomi_Status_OrderHeaderChangePending_0</targetReference>
            </connector>
            <label>Order is New</label>
        </rules>
        <rules>
            <name>Update_Boomi_Status</name>
            <conditionLogic>(1 AND 2 AND 9) AND (3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Recordtype_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Mark_For_Special_Delivery_Instructi__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Mark_For_Special_Delivery_Instructi__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Purchase_Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Purchase_Order__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Shipping_Address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Shipping_Address__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_End_Customer__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_End_Customer__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Dealer_Comments__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Dealer_Comments__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Shipment_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.NATT_Shipment_Method__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contracted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Boomi_Status_OrderHeaderChangePending</targetReference>
            </connector>
            <label>Update Boomi Status</label>
        </rules>
    </decisions>
    <decisions>
        <description>updates the record type  if the order is the type of amendment</description>
        <name>Update_Record_Type</name>
        <label>Update Record Type</label>
        <locationX>666</locationX>
        <locationY>5304</locationY>
        <defaultConnector>
            <targetReference>Order_Field_is_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Recordtype_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_ID</targetReference>
            </connector>
            <label>Change Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>These are used when setting amounts for discounts on quote for discount approval</description>
        <name>Update_Total_Amount_Fields</name>
        <label>Update Total Amount Fields</label>
        <locationX>666</locationX>
        <locationY>4140</locationY>
        <defaultConnector>
            <targetReference>Update_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Total_Fields_on_Order</name>
            <conditionLogic>3 AND 4 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_List_Amount_All_Related_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Net_Amount_All_Related_Orders__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Original_Order_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Whole_Order_Group</targetReference>
            </connector>
            <label>Update Total Fields on Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Order_new</name>
        <label>Was Order new</label>
        <locationX>666</locationX>
        <locationY>8532</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_was_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsOrderNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Quote_BluEdge</targetReference>
            </connector>
            <label>Order was new</label>
        </rules>
    </decisions>
    <description>Handles updates on the Order Object - After Save</description>
    <environments>Default</environments>
    <formulas>
        <name>ChangeLogHistoryForMarketSegemnt</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
   {!TrackHistory} + 
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Order Header Change&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: Market Segment &lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; + {!frmrecordPriorMarketSegment} + 
    &apos;&lt;br/&gt;New Value: &apos; + {!frmrecordMarketSegment},
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Order Header Change&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: Market Segment&lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; + {!frmrecordPriorMarketSegment} + 
    &apos;&lt;br/&gt;New Value: &apos; + {!frmrecordMarketSegment}
)</expression>
    </formulas>
    <formulas>
        <name>DealerComments</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!$Record.NATT_Dealer_Comments__c} , &quot;&lt;p&gt;&quot; , NULL )</expression>
    </formulas>
    <formulas>
        <name>frmrecordMarketSegment</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.NATT_Market_Segment2__c},
&quot;AEM&quot;, &quot;APU/OEM&quot;,
&quot;ADY&quot;, &quot;APU/Dry&quot;,
&quot;DEM&quot;, &quot;Diesel/OEM&quot;,
&quot;HEM&quot;, &quot;Heat/OEM&quot;,
&quot;TEM&quot;, &quot;Trailer/OEM&quot;,
&quot;VEM&quot;, &quot;Variable/OEM&quot;,
&quot;ADO&quot;, &quot;APU/Distribution&quot;,
&quot;AFO&quot;, &quot;APU/For Hire&quot;,
&quot;AGO&quot;, &quot;APU/Dairy&amp;Grocery&quot;,
&quot;ALO&quot;, &quot;APU/Leasing&quot;,
&quot;ASO&quot;, &quot;APU/Stock&quot;,
&quot;DDO&quot;, &quot;Diesel/Distribution&quot;,
&quot;DFO&quot;, &quot;Diesel/For Hire&quot;,
&quot;DGO&quot;, &quot;Diesel/Dairy&amp;Grocery&quot;,
&quot;DLO&quot;, &quot;Diesel/Leasing&quot;,
&quot;DSO&quot;, &quot;Diesel/Stock&quot;,
&quot;HBO&quot;, &quot;Heat/Box Car&quot;,
&quot;HDO&quot;, &quot;Heat/Distribution&quot;,
&quot;HFO&quot;, &quot;Heat/For Hire&quot;,
&quot;HGO&quot;, &quot;Heat/Dairy&amp;Grocery&quot;,
&quot;HIO&quot;, &quot;Heat/Intermodal&quot;,
&quot;HLO&quot;, &quot;Heat/Leasing&quot;,
&quot;HSO&quot;, &quot;Heat/Stock&quot;,
&quot;TBO&quot;, &quot;Trailer/Box Car&quot;,
&quot;TDO&quot;, &quot;Trailer/Distribution&quot;,
&quot;TFO&quot;, &quot;Trailer/For Hire&quot;,
&quot;TGO&quot;, &quot;Trailer/Dairy&amp;Grocery&quot;,
&quot;TIO&quot;, &quot;Trailer/Intermodal&quot;,
&quot;TLO&quot;, &quot;Trailer/Leasing&quot;,
&quot;TSO&quot;, &quot;Trailer/Stock&quot;,
&quot;VDO&quot;, &quot;Variable/Distribution&quot;,
&quot;VFO&quot;, &quot;Variable/For Hire&quot;,
&quot;VGO&quot;, &quot;Variable/Dairy&amp;Grocery&quot;,
&quot;VLO&quot;, &quot;Variable/Leasing&quot;,
&quot;VSO&quot;, &quot;Variable/Stock&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>frmrecordPriorMarketSegment</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record__Prior.NATT_Market_Segment2__c},
&quot;AEM&quot;, &quot;APU/OEM&quot;,
&quot;ADY&quot;, &quot;APU/Dry&quot;,
&quot;DEM&quot;, &quot;Diesel/OEM&quot;,
&quot;HEM&quot;, &quot;Heat/OEM&quot;,
&quot;TEM&quot;, &quot;Trailer/OEM&quot;,
&quot;VEM&quot;, &quot;Variable/OEM&quot;,
&quot;ADO&quot;, &quot;APU/Distribution&quot;,
&quot;AFO&quot;, &quot;APU/For Hire&quot;,
&quot;AGO&quot;, &quot;APU/Dairy&amp;Grocery&quot;,
&quot;ALO&quot;, &quot;APU/Leasing&quot;,
&quot;ASO&quot;, &quot;APU/Stock&quot;,
&quot;DDO&quot;, &quot;Diesel/Distribution&quot;,
&quot;DFO&quot;, &quot;Diesel/For Hire&quot;,
&quot;DGO&quot;, &quot;Diesel/Dairy&amp;Grocery&quot;,
&quot;DLO&quot;, &quot;Diesel/Leasing&quot;,
&quot;DSO&quot;, &quot;Diesel/Stock&quot;,
&quot;HBO&quot;, &quot;Heat/Box Car&quot;,
&quot;HDO&quot;, &quot;Heat/Distribution&quot;,
&quot;HFO&quot;, &quot;Heat/For Hire&quot;,
&quot;HGO&quot;, &quot;Heat/Dairy&amp;Grocery&quot;,
&quot;HIO&quot;, &quot;Heat/Intermodal&quot;,
&quot;HLO&quot;, &quot;Heat/Leasing&quot;,
&quot;HSO&quot;, &quot;Heat/Stock&quot;,
&quot;TBO&quot;, &quot;Trailer/Box Car&quot;,
&quot;TDO&quot;, &quot;Trailer/Distribution&quot;,
&quot;TFO&quot;, &quot;Trailer/For Hire&quot;,
&quot;TGO&quot;, &quot;Trailer/Dairy&amp;Grocery&quot;,
&quot;TIO&quot;, &quot;Trailer/Intermodal&quot;,
&quot;TLO&quot;, &quot;Trailer/Leasing&quot;,
&quot;TSO&quot;, &quot;Trailer/Stock&quot;,
&quot;VDO&quot;, &quot;Variable/Distribution&quot;,
&quot;VFO&quot;, &quot;Variable/For Hire&quot;,
&quot;VGO&quot;, &quot;Variable/Dairy&amp;Grocery&quot;,
&quot;VLO&quot;, &quot;Variable/Leasing&quot;,
&quot;VSO&quot;, &quot;Variable/Stock&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>frmrecordPriorShipmentMethod</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record__Prior.NATT_Shipment_Method__c}, &quot;9&quot;), 
     &quot;Customer Pickup&quot;,
     IF(ISPICKVAL({!$Record__Prior.NATT_Shipment_Method__c}, &quot;BW&quot;), &quot;Best Way&quot;, &quot;ABF&quot;))</expression>
    </formulas>
    <formulas>
        <name>frmrecordPriorShippingAddress</name>
        <dataType>String</dataType>
        <expression>&quot;Shipping Street: &quot; &amp; {!$Record__Prior.ShippingStreet} &amp; BR() &amp;
&quot;Shipping City: &quot; &amp; {!$Record__Prior.ShippingCity} &amp; BR() &amp;
&quot;Shipping Stare/Province: &quot; &amp; {!$Record__Prior.ShippingState} &amp; BR() &amp;
&quot;Shipping Zip/Postal Code: &quot; &amp; {!$Record__Prior.ShippingPostalCode}</expression>
    </formulas>
    <formulas>
        <name>frmRecordShipmentMethod</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.NATT_Shipment_Method__c}, &quot;9&quot;), 
     &quot;Customer Pickup&quot;,
     IF(ISPICKVAL({!$Record.NATT_Shipment_Method__c}, &quot;BW&quot;), &quot;Best Way&quot;, &quot;ABF&quot;))</expression>
    </formulas>
    <formulas>
        <name>frmrecordShippingAddress</name>
        <dataType>String</dataType>
        <expression>&quot;Shipping Street: &quot; &amp; {!$Record.ShippingStreet} &amp; BR() &amp;
&quot;Shipping City: &quot; &amp; {!$Record.ShippingCity} &amp; BR() &amp;
&quot;Shipping Stare/Province: &quot; &amp; {!$Record.ShippingState} &amp; BR() &amp;
&quot;Shipping Zip/Postal Code: &quot; &amp; {!$Record.ShippingPostalCode}</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>PriorDealerComments</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!$Record__Prior.NATT_Dealer_Comments__c} , &quot;&lt;p&gt;&quot; , NULL )</expression>
    </formulas>
    <formulas>
        <name>Subject_for_CSR_Task</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.NATT_Product_Family__c})&amp;&quot; - Order Header Change Review&quot;</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>UpadateNatt_Change_Log_HistoryField</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
     {!TrackHistory} + 
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Order Header Change&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: PO #&lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; + {!$Record__Prior.NATT_Purchase_Order__c} + 
    &apos;&lt;br/&gt;New Value: &apos; + {!$Record.NATT_Purchase_Order__c},
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Order Header Change&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: PO #&lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; + {!$Record__Prior.NATT_Purchase_Order__c} + 
    &apos;&lt;br/&gt;New Value: &apos; + {!$Record.NATT_Purchase_Order__c}
)</expression>
    </formulas>
    <formulas>
        <name>updatechangeLogDealerComments</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
     {!TrackHistory} + 
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Order Header Change&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: Dealer Comments &lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; +TRIM({!PriorDealerComments}) + 
    &apos;&lt;br/&gt;New Value: &apos; +TRIM({!DealerComments}),
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Order Header Change&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: Dealer Comments&lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; +TRIM({!PriorDealerComments}) + 
    &apos;&lt;br/&gt;New Value: &apos; +TRIM({!DealerComments})
)</expression>
    </formulas>
    <formulas>
        <name>UpdateChangeLogforOrderHistoryStock</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
     {!TrackHistory} + 
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Order Header Change&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: Stock &lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; + IF({!$Record__Prior.NATT_Stock__c}, &quot;True&quot;, &quot;False&quot;) + 
    &apos;&lt;br/&gt;New Value: &apos; + IF({!$Record.NATT_Stock__c}, &quot;True&quot;, &quot;False&quot;),
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Order Header Change&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: Stock&lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; + IF({!$Record__Prior.NATT_Stock__c}, &quot;True&quot;, &quot;False&quot;) + 
    &apos;&lt;br/&gt;New Value: &apos; + IF({!$Record.NATT_Stock__c}, &quot;True&quot;, &quot;False&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>UpdateChangeLogHistoryForShipmentMethod</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
     {!TrackHistory} + 
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Shipment Method&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: Shipment Method &lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; + {!frmrecordPriorShipmentMethod} + 
    &apos;&lt;br/&gt;New Value: &apos; + {!frmRecordShipmentMethod},
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Shipment Method&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: Shipment Method&lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; + {!frmrecordPriorShipmentMethod} + 
    &apos;&lt;br/&gt;New Value: &apos; + {!frmRecordShipmentMethod})</expression>
    </formulas>
    <formulas>
        <name>UpdateEndcustomer</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
     {!TrackHistory} + 
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Order Header Change&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: End Customer &lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; + {!$Record__Prior.NATT_End_Customer__r.Name} + 
    &apos;&lt;br/&gt;New Value: &apos; + {!$Record.NATT_End_Customer__r.Name},
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Order Header Change&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: End Customer&lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; + {!$Record__Prior.NATT_End_Customer__r.Name} + 
    &apos;&lt;br/&gt;New Value: &apos; + {!$Record.NATT_End_Customer__r.Name}
)</expression>
    </formulas>
    <formulas>
        <name>updatehistorytoshiptoaddress</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
    {!TrackHistory} + 
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Ship-To&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: Shipping Address &lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; + {!frmrecordPriorShippingAddress} + 
    &apos;&lt;br/&gt;New Value: &apos; + {!frmrecordShippingAddress},
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Ship-To&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: Shipping Address&lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; + {!frmrecordPriorShippingAddress} + 
    &apos;&lt;br/&gt;New Value: &apos; + {!frmrecordShippingAddress})</expression>
    </formulas>
    <formulas>
        <name>UpdateMarkforSpecialDelivery</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(
     {!TrackHistory} + 
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Order Header Change&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: Mark For Special Delivery Instructions &lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; + {!$Record__Prior.NATT_Mark_For_Special_Delivery_Instructi__c} + 
    &apos;&lt;br/&gt;New Value: &apos; + {!$Record.NATT_Mark_For_Special_Delivery_Instructi__c},
    &apos;&lt;br/&gt;&lt;b&gt;NATT Change Type: Order Header Change&lt;/b&gt;&lt;br/&gt;&lt;b&gt;NATT Field: Mark For Special Delivery Instructions &lt;/b&gt;&lt;br/&gt;&apos; +
    &apos;Original Value: &apos; + {!$Record__Prior.NATT_Mark_For_Special_Delivery_Instructi__c} + 
    &apos;&lt;br/&gt;New Value: &apos; + {!$Record.NATT_Mark_For_Special_Delivery_Instructi__c}
)</expression>
    </formulas>
    <interviewLabel>NATT Order After Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT Order After Save Flow</label>
    <loops>
        <name>Inflight_Quotes_Loop</name>
        <label>Inflight Quotes Loop</label>
        <locationX>270</locationX>
        <locationY>3492</locationY>
        <collectionReference>Get_Inflight_Quotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Inflight_Quotes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Order_Products</name>
        <label>Loop Order Products</label>
        <locationX>402</locationX>
        <locationY>7632</locationY>
        <collectionReference>Get_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Uncontract_Order_Products</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Related_Orders</name>
        <label>Loop Related Orders</label>
        <locationX>50</locationX>
        <locationY>6036</locationY>
        <collectionReference>Get_All_Related_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Header_Values_To_Orders</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRelatedOrders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>loops through order group to sum values for future quote approvals</description>
        <name>x1_Loop_through_Order_Group</name>
        <label>1 Loop through Order Group</label>
        <locationX>270</locationX>
        <locationY>4356</locationY>
        <collectionReference>Get_Whole_Order_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_The_Amounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>x2_Loop_through_Order_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>loops through order group to sum values for future quote approvals</description>
        <name>x2_Loop_through_Order_Group</name>
        <label>2 Loop through Order Group</label>
        <locationX>270</locationX>
        <locationY>4656</locationY>
        <collectionReference>Get_Whole_Order_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Totals_to_Orders_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Group</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Header_Change_Log</name>
        <label>Create Order Header Change Log</label>
        <locationX>886</locationX>
        <locationY>3000</locationY>
        <connector>
            <targetReference>Amendment_Invalidate_Inflight_Quotes</targetReference>
        </connector>
        <inputReference>varOrderHeaderChangeLog</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Related_Orders</name>
        <label>Get All Related Orders</label>
        <locationX>314</locationX>
        <locationY>5820</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Orders_Check</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Unit_Product_Number_Changed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_Original_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inflight_Quotes</name>
        <label>Get Inflight Quotes</label>
        <locationX>270</locationX>
        <locationY>3384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inflight_Quotes_Loop</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Total_Amount_Fields</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Invalid Due To Order Status Change</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Ordered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Quote_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATT_Units_Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Amendment</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Original_Order_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Original_Order_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>402</locationX>
        <locationY>7524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Order_Products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>OrderRecordUpdateNeeded</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get the correct record type id</description>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>402</locationX>
        <locationY>5412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_new_record_type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Unit_Product_Number_Changed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATT_Units_Amendment_Order</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the whole group of orders including the original</description>
        <name>Get_Whole_Order_Group</name>
        <label>Get Whole Order Group</label>
        <locationX>270</locationX>
        <locationY>4248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>x1_Loop_through_Order_Group</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Record_Type</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_Original_Order_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Original_Order_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Order</name>
        <label>Activate Order</label>
        <locationX>1326</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inflight_Quotes</name>
        <label>Update Inflight Quotes</label>
        <locationX>270</locationX>
        <locationY>3900</locationY>
        <connector>
            <targetReference>Update_Total_Amount_Fields</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Total_Amount_Fields</targetReference>
        </faultConnector>
        <inputReference>InflightQuotes</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Group</name>
        <label>Update Order Group</label>
        <locationX>270</locationX>
        <locationY>5064</locationY>
        <connector>
            <targetReference>Update_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Record_Type</targetReference>
        </faultConnector>
        <inputReference>Get_Whole_Order_Group</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Products</name>
        <label>Update Order Products</label>
        <locationX>402</locationX>
        <locationY>8040</locationY>
        <connector>
            <targetReference>OrderRecordUpdateNeeded</targetReference>
        </connector>
        <inputReference>UpdatedOrderProducts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Order</name>
        <label>Update Original Order</label>
        <locationX>402</locationX>
        <locationY>6876</locationY>
        <connector>
            <targetReference>Update_New_Order_Boomi_Status_OrderHeaderChange</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_New_Order_Boomi_Status_OrderHeaderChange</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Original_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NATT_Configured_Unit_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Configured_Unit_Code__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NATT_Configured_Unit_Code__c</field>
            <value>
                <elementReference>$Record.NATT_Configured_Unit_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Status</name>
        <label>Update Status to Ordered</label>
        <locationX>314</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Amendment_Invalidate_Inflight_Quotes</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Amendment_Invalidate_Inflight_Quotes</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Ordered</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>updates the record that started the flow</description>
        <name>Update_The_Order</name>
        <label>Update The Order</label>
        <locationX>534</locationX>
        <locationY>8340</locationY>
        <connector>
            <targetReference>Was_Order_new</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRelatedOrders</name>
        <label>UpdateRelatedOrders</label>
        <locationX>50</locationX>
        <locationY>6444</locationY>
        <connector>
            <targetReference>Unit_Product_Number_Changed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Unit_Product_Number_Changed</targetReference>
        </faultConnector>
        <inputReference>RelatedOrdersToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>936</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_NATT_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_Recordtype_Developer_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>NATT_Units</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Wait_for_Activation</name>
            <connector>
                <targetReference>Activated_Check</targetReference>
            </connector>
            <label>Wait for Activation</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>NATT_Activate_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllRelatedOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>colChangeLogInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Change_Log__c</objectType>
    </variables>
    <variables>
        <name>InflightQuotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>IsOrderNew</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderGroupToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>QueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CSR_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordUpdateNeeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RelatedOrdersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>TrackHistory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedOrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>varOrderHeaderChangeLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Change_Log__c</objectType>
    </variables>
    <variables>
        <name>varRequestedShipDateChangeLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Change_Log__c</objectType>
    </variables>
    <variables>
        <name>varShipmentMethodChangeLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Change_Log__c</objectType>
    </variables>
    <variables>
        <name>varShipToChangeLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Change_Log__c</objectType>
    </variables>
    <variables>
        <description>the sum of the NATT List amounts for all the orders in the group - ALL</description>
        <name>varTotalOrderListAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>the sum of the NATT List amounts for all the orders in the group (discountable only)</description>
        <name>varTotalOrderListAmountDisc</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>the net amount of all the orders in the group summed - ALL</description>
        <name>varTotalOrderNetAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>the net amount of all the orders in the group summed (discountable only)</description>
        <name>varTotalOrderNetAmountDisc</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
