NATTQA-ENV/force-app/main/default/flows/NATT_Quote_After_Save_Update_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NATT_Unit_Quote_Bump_Pricing_Notification</name>
        <label>NATT Unit Quote Bump Pricing Notification</label>
        <locationX>710</locationX>
        <locationY>4343</locationY>
        <actionName>SBQQ__Quote__c.NATT_Unit_Quote_Bump_Pricing_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.NATT_Unit_Quote_Bump_Pricing_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Opportunity_Closed_Lost</name>
        <label>Assign Opportunity Closed Lost</label>
        <locationX>710</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateOpportunityNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_Required_eSolutions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Closed_Won</name>
        <label>Assign Opportunity Closed Won</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateOpportunityNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_eSolutions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Oppty_Stage_to</name>
        <label>Assign Oppty Stage to Quoting</label>
        <locationX>710</locationX>
        <locationY>1931</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quoting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateOpportunityNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Field_Tracking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approval_Status_to_Draft</name>
        <label>Set Approval Status to Draft</label>
        <locationX>710</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>boolRecordUpdateNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quoting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateOpportunityNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Has_Approval_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Field_Tracking_Values</name>
        <label>Set Field Tracking Values</label>
        <locationX>710</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>$Record.NATT_Total_Discount_Track__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Total_Discount2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NATT_Net_Amount_Track__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__NetAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NATT_Total_Unit_Quantity_Track__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Total_Unit_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolRecordUpdateNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Customer_Stock</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_End_Customer_Stock</name>
        <label>Set Opp End Customer/Stock</label>
        <locationX>710</locationX>
        <locationY>2531</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.NATT_End_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_End_Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.NATT_Stock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Stock__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateOpportunityNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Task_to_CSR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Approval_Required</name>
        <label>Set Status to Approval Required</label>
        <locationX>710</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolRecordUpdateNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Approval_Required_eSolutions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_No_Approval_Required</name>
        <label>Set Status to No Approval Required</label>
        <locationX>710</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Approval Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolRecordUpdateNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Approval</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approval_Required_eSolutions</name>
        <label>Approval Required eSolutions</label>
        <locationX>842</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>No_Approval_Required_eSolutions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discount_is_added</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_eSolutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Approval Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Approval_Required</targetReference>
            </connector>
            <label>Discount is added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bump_Pricing_has_been_applied_to_an_Unit_Quote</name>
        <label>Bump Pricing has been applied to an Unit Quote</label>
        <locationX>842</locationX>
        <locationY>4235</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bump_Pricing_has_been_applied_when_pending_approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Discount2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NATT_Unit_Quote_Bump_Pricing_Notification</targetReference>
            </connector>
            <label>Bump Pricing has been applied when pending approval</label>
        </rules>
    </decisions>
    <decisions>
        <description>for when esolutions is canceled</description>
        <name>Cancel_eSolutions</name>
        <label>Cancel eSolutions</label>
        <locationX>842</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Approval_Required_eSolutions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>eSolutions_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_eSolutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Closed_Lost</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>eSolutions Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_LYNX_Fleet_Product</name>
        <label>Check LYNX Fleet Product</label>
        <locationX>842</locationX>
        <locationY>3179</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Count_Total_Lynx_Fleet__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lynx_Queue_Id</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Customer_Stock</name>
        <label>End Customer/Stock</label>
        <locationX>842</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Send_Task_to_CSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_Customer_Stock_Update</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_End_Customer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Stock__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_End_Customer_Stock</targetReference>
            </connector>
            <label>End Customer/Stock Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Approval_Required_eSolutions</name>
        <label>No Approval Required eSolutions</label>
        <locationX>842</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>Reset_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_discount</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_eSolutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Discount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Discount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__LineItemCount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_No_Approval_Required</targetReference>
            </connector>
            <label>No discount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Has_Approval_Needed</name>
        <label>Quote Has Approval Needed</label>
        <locationX>842</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Set_Field_Tracking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_is_in_approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>NATT_Units_Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Oppty_Stage_to</targetReference>
            </connector>
            <label>Quote is in approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reset_Approval</name>
        <label>Reset Approval</label>
        <locationX>842</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Quote_Has_Approval_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Net_changed_after_approval</name>
            <conditionLogic>(1 AND 2 AND 3 AND 11) OR (4 AND 3 AND 5 AND 11 AND 12) OR (6 AND 7 AND 8 AND 11 AND 12 AND 13) OR (1 AND 2 AND (5 OR 10) AND 9 AND 11)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>NATT_Units_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Order_Net_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_BluEdge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__NetAmount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>NATT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__LineItemCount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Purchase_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Discount_Track__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Migrated_Ordered__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.NATT_Status_Fx__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approval_Status_to_Draft</targetReference>
            </connector>
            <label>Net changed after approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Task_to_CSR</name>
        <label>Send Task to CSR</label>
        <locationX>842</locationX>
        <locationY>2723</locationY>
        <defaultConnector>
            <targetReference>Check_LYNX_Fleet_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ready_for_Task</name>
            <conditionLogic>(1 AND 2 AND 3 AND 5 AND 6 AND 7) OR (1 AND 3 AND 4 AND 5 AND 6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Purchase_Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Configured_Unit_Code__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NATT_BluEdge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Original_JDE_Sales_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CSR_Queue_Id</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>ready for task</label>
        </rules>
        <rules>
            <name>ready_for_BluEdge_task</name>
            <conditionLogic>(1 AND 2 AND 3 AND 5 AND 6 AND 7) OR (1 AND 3 AND 4 AND 5 AND 6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Purchase_Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Configured_Unit_Code__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_BluEdge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Original_JDE_Sales_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BluEdge_Queue_Id</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>ready for BluEdge task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Field_Tracking</name>
        <label>Set Field Tracking</label>
        <locationX>842</locationX>
        <locationY>2123</locationY>
        <defaultConnector>
            <targetReference>End_Customer_Stock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Discount2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__NetAmount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Total_Unit_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Field_Tracking_Values</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Oppty_Needed</name>
        <label>Update Oppty Needed</label>
        <locationX>842</locationX>
        <locationY>3935</locationY>
        <defaultConnector>
            <targetReference>Bump_Pricing_has_been_applied_to_an_Unit_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolUpdateOpportunityNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Oppty_Values</targetReference>
            </connector>
            <label>Update Oppty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Quote_Needed</name>
        <label>Update Quote Needed</label>
        <locationX>842</locationX>
        <locationY>3587</locationY>
        <defaultConnector>
            <targetReference>Update_Oppty_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolRecordUpdateNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quote_Values</targetReference>
            </connector>
            <label>Update Quote</label>
        </rules>
    </decisions>
    <decisions>
        <description>for when eSolutions is won</description>
        <name>Win_eSolutions</name>
        <label>Win eSolutions</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Cancel_eSolutions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>eSolutions_is_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_eSolutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Closed_Won</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>eSolutions is Won</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BluEdgeIdFormula</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(DATEVALUE({!$Record.CreatedDate}))) &amp; 
IF(LEN(TEXT(MONTH(DATEVALUE({!$Record.CreatedDate}))))=1,&quot;0&quot;,NULL) &amp;
TEXT(MONTH(DATEVALUE({!$Record.CreatedDate}))) &amp; {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>frmUnitDiscountChanged</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND({!$Record__Prior.NATT_Total_Discount2__c} != {!$Record.NATT_Total_Discount2__c}, NOT(ISNEW())), true, false)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>calculates the reminder for the csr task</description>
        <name>ReminderDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+5</expression>
    </formulas>
    <formulas>
        <description>used in the task that gets created for the CSR</description>
        <name>Subject_For_CSR_Task</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.NATT_Product_Family__c})&amp;&quot; - Add a Product Number and/or Paint Code to Quote&quot;</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>NATT Quote After Save Update (New) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT Quote After Save Update (New)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_for_BluEdge_Queue</name>
        <label>Create Task for BluEdge Queue</label>
        <locationX>842</locationX>
        <locationY>2939</locationY>
        <connector>
            <targetReference>Check_LYNX_Fleet_Product</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Quote_Needed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Dealer_Account__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_BluEdge_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>ReminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_For_CSR_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_CSRs</name>
        <label>Create Task for CSRs</label>
        <locationX>50</locationX>
        <locationY>2939</locationY>
        <connector>
            <targetReference>Check_LYNX_Fleet_Product</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Quote_Needed</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Dealer_Account__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_CSR_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>ReminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_For_CSR_Task</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Lynx_fleet_Queue</name>
        <label>Create Task for Lynx fleet Queue</label>
        <locationX>710</locationX>
        <locationY>3395</locationY>
        <connector>
            <targetReference>Update_Quote_Needed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Dealer_Account__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Lynx_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>ReminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Label.Lynx_Feet_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>looks up the BluEdge Queue Id</description>
        <name>Get_BluEdge_Queue_Id</name>
        <label>Get BluEdge Queue Id</label>
        <locationX>842</locationX>
        <locationY>2831</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_for_BluEdge_Queue</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Quote_Needed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BluEdge_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>looks up the CSR Queue Id</description>
        <name>Get_CSR_Queue_Id</name>
        <label>Get CSR Queue Id</label>
        <locationX>50</locationX>
        <locationY>2831</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_for_CSRs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Quote_Needed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CSR_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>looks up the Lynx Queue Id</description>
        <name>Get_Lynx_Queue_Id</name>
        <label>Get Lynx Queue Id</label>
        <locationX>710</locationX>
        <locationY>3287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_for_Lynx_fleet_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATT_eSolutions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>on the original quote</description>
        <name>Set_Oppty_Values</name>
        <label>Set Oppty Values</label>
        <locationX>710</locationX>
        <locationY>4043</locationY>
        <connector>
            <targetReference>Bump_Pricing_has_been_applied_to_an_Unit_Quote</targetReference>
        </connector>
        <inputReference>recOpportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>on the original quote</description>
        <name>Set_Quote_Values</name>
        <label>Set Quote Values</label>
        <locationX>578</locationX>
        <locationY>3695</locationY>
        <connector>
            <targetReference>Update_Oppty_Needed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Oppty_Needed</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Win_eSolutions</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>NATT_Quote_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATT_Units_Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Quote_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATT_BluEdge</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Quote_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATT_eSolutions</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>checked if a record update is needed - evaluated at the end of flow</description>
        <name>boolRecordUpdateNeeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>boolUpdateOpportunityNeeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>colInsertChangeLogs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Change_Log__c</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InflghtQuotesToUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>NumberOfOrderedBaseUnits</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfUpgradedQuoteLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varDefaultApprovalUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQLChangeLogs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Change_Log__c</objectType>
    </variables>
    <variables>
        <name>varReconfigurationNetAmt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Change_Log__c</objectType>
    </variables>
    <variables>
        <name>varReconfigurationUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Change_Log__c</objectType>
    </variables>
    <variables>
        <name>varReconfigurationUnitDisc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NATT_Change_Log__c</objectType>
    </variables>
</Flow>
