NATTQA-ENV/force-app/main/default/flows/NATT_Case_PPG_PartNo_CRE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Part_Number_One_after_Another</name>
        <label>Assign Part Number One after Another</label>
        <locationX>1139</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>FinalPartNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaToApendPartNUmber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecInitiated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Line_Item_Loop_for_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_having_valid_Part_Number</name>
        <label>Case having valid Part Number?</label>
        <locationX>638</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Part_Number_Defaulted_to_NUll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_All_Line_Item_for_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Line_Item_Loop_for_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow will execute when case line item gets created, edited and updated. Reverted back to main version</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaToApendPartNUmber</name>
        <dataType>String</dataType>
        <expression>IF({!RecInitiated}, {!Line_Item_Loop_for_Case.NATT_Part_Number__c}, {!FinalPartNumber} + &apos;,&apos; +{!Line_Item_Loop_for_Case.NATT_Part_Number__c})</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>NATT Case PPG PartNo CRE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT Case PPG PartNo CRE</label>
    <loops>
        <name>Line_Item_Loop_for_Case</name>
        <label>Line Item Loop for Case</label>
        <locationX>966</locationX>
        <locationY>338</locationY>
        <collectionReference>get_All_Line_Item_for_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Part_Number_One_after_Another</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Case_Part_Number_Field</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_All_Line_Item_for_Case</name>
        <label>get All Line Item for Case</label>
        <locationX>645</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_having_valid_Part_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NATT_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NATT_Part_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NATT_Case_Sales_Order__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NATT_Part_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Part_Number_Defaulted_to_NUll</name>
        <label>Update Case Part Number Defaulted to NUll</label>
        <locationX>335</locationX>
        <locationY>343</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Line_Item__c</field>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Part_Number_Field</name>
        <label>Update Case Part Number Field</label>
        <locationX>966</locationX>
        <locationY>552</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Line_Item__c</field>
            <value>
                <elementReference>FinalPartNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>81</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>get_All_Line_Item_for_Case</targetReference>
        </connector>
        <object>NATT_Case_Sales_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalPartNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecInitiated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
