NATTQA-ENV/force-app/main/default/flows/NATT_Account_Sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Account_Grouping</name>
        <label>Account Grouping</label>
        <locationX>966</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>$Record.NATT_Dealer_Account_Sharing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NATT_Grouping_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1320</locationX>
        <locationY>1115</locationY>
        <assignmentItems>
            <assignToReference>AccountCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Customers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Customers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CTBR_Account_Sharing</name>
        <label>Assign CTBR Account Sharing</label>
        <locationX>504</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>$Record.NATT_Dealer_Account_Sharing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSharing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CTM_Account_Sharing</name>
        <label>Assign CTM Account Sharing</label>
        <locationX>778</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>$Record.NATT_Dealer_Account_Sharing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSharing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Customer_Competitor_Sharing</name>
        <label>Assign Customer/Competitor Sharing</label>
        <locationX>1320</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>Loop_Customers.NATT_Dealer_Account_Sharing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NATTNonDealerSharing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Account_Grouping</name>
        <label>No Account Grouping</label>
        <locationX>1302</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>$Record.NATT_Dealer_Account_Sharing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_Dealer</name>
        <label>Non-Dealer</label>
        <locationX>1114</locationX>
        <locationY>781</locationY>
        <assignmentItems>
            <assignToReference>$Record.NATT_Dealer_Account_Sharing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NATTNonDealerSharing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NATT_Dealer_Account_Sharing2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountSharing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Needed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Customers_Competitors_Null</name>
        <label>Is Customers/Competitors Null?</label>
        <locationX>919</locationX>
        <locationY>1119</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>NoCustomerCompetitors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customers_Competitors</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Customers</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Check</name>
        <label>Record Type Check</label>
        <locationX>768</locationX>
        <locationY>348</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NATT_Non_Dealer</name>
            <conditionLogic>(1 AND 3 AND (5 OR 7)) OR (2 AND 4 AND (6 OR 8))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Competitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Dealership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_PAR_Dealer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Dealer_Account_Sharing2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.NATT_Dealership__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Dealer_Account_Sharing2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.NATT_PAR_Dealer_Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Dealer_Account_Sharing__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.NATT_Dealership__r.NATT_Dealer_Account_Sharing__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Dealer_Account_Sharing__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.NATT_PAR_Dealer_Account__r.NATT_Dealer_Account_Sharing__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Dealer</targetReference>
            </connector>
            <label>NATT Non-Dealer</label>
        </rules>
        <rules>
            <name>NATT_Dealer_Account_Grouping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Grouping_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Dealer_Account_Sharing__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.NATT_Grouping_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Grouping</targetReference>
            </connector>
            <label>NATT Dealer Account Grouping</label>
        </rules>
        <rules>
            <name>NATT_Dealer_No_Account_Grouping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Grouping_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Dealer_Account_Sharing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Account_Grouping</targetReference>
            </connector>
            <label>NATT Dealer No Account Grouping</label>
        </rules>
        <rules>
            <name>CTM</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Record_Type_Developer_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>MX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Dealership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_PAR_Dealer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CTM_Account_Sharing</targetReference>
            </connector>
            <label>CTM</label>
        </rules>
        <rules>
            <name>CTBR</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NATT_Record_Type_Developer_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>CTBR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Dealership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_PAR_Dealer_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CTBR_Account_Sharing</targetReference>
            </connector>
            <label>CTBR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Account_Needed</name>
        <label>Update Account Needed</label>
        <locationX>770</locationX>
        <locationY>772</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Customer_Competitors</name>
        <label>Update Customer/Competitors?</label>
        <locationX>1098</locationX>
        <locationY>1317</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesUpdateAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Competitor</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Needed</name>
        <label>Update Needed?</label>
        <locationX>1100</locationX>
        <locationY>933</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesUpdateNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Customers.NATT_Dealer_Account_Sharing__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.NATT_Dealer_Account_Sharing__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Customer_Competitor_Sharing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountSharing</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!$Record.NATT_Dealership__c})), {!$Record.NATT_Dealership__c},
IF(
NOT(ISBLANK({!$Record.NATT_PAR_Dealer_Account__c})), {!$Record.NATT_PAR_Dealer_Account__c},
NULL
))</expression>
    </formulas>
    <formulas>
        <name>CTBRAccountSharing</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!$Record.NATT_Dealership__c})), {!$Record.NATT_Dealership__c},
IF(
NOT(ISBLANK({!$Record.NATT_PAR_Dealer_Account__c})), {!$Record.NATT_PAR_Dealer_Account__c},
NULL
))</expression>
    </formulas>
    <formulas>
        <name>CTMAccountSharing</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!$Record.NATT_Dealership__c})), {!$Record.NATT_Dealership__c},
IF(
NOT(ISBLANK({!$Record.NATT_PAR_Dealer_Account__c})), {!$Record.NATT_PAR_Dealer_Account__c},
NULL
))</expression>
    </formulas>
    <formulas>
        <name>NATTNonDealerSharing</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!$Record.NATT_Dealership__c})), {!$Record.NATT_Dealership__r.NATT_Dealer_Account_Sharing__c},
IF(
NOT(ISBLANK({!$Record.NATT_PAR_Dealer_Account__c})), {!$Record.NATT_PAR_Dealer_Account__r.NATT_Dealer_Account_Sharing__c},
NULL
))</expression>
    </formulas>
    <interviewLabel>NATT Account Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT Account Sharing</label>
    <loops>
        <name>Loop_Customers</name>
        <label>Loop Customers</label>
        <locationX>1108</locationX>
        <locationY>1115</locationY>
        <collectionReference>Get_Customers_Competitors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Needed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Customer_Competitors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Customers_Competitors</name>
        <label>Get Customers/Competitors</label>
        <locationX>778</locationX>
        <locationY>1117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Customers_Competitors_Null</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>NATT_Dealership__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>NATT_PAR_Dealer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>778</locationX>
        <locationY>972</locationY>
        <connector>
            <targetReference>Get_Customers_Competitors</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer_Competitor</name>
        <label>Update Customer/Competitor</label>
        <locationX>1326</locationX>
        <locationY>1314</locationY>
        <inputReference>AccountCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Record_Type_Check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>NATT_Record_Type_Developer_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>CTBR</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Record_Type_Developer_Name__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>MX</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dealer</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </filters>
        <filters>
            <field>NATT_Record_Type_Developer_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NATT_Competitor</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UpdateAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
