NATTQA-ENV/force-app/main/default/flows/New_Dealer_Case_Sharing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Identify if the record is for a new Dealer</description>
        <name>New_Dealer</name>
        <label>New Dealer</label>
        <locationX>659</locationX>
        <locationY>366</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_New_Dealer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetGroupforRole</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>SharingGroupExists</name>
        <label>SharingGroupExists</label>
        <locationX>665</locationX>
        <locationY>886</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingAccountSharingRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShareCasesforDealership</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>New Dealers are set to share all Cases among their users</description>
    <interviewLabel>New Dealer Case Sharing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NATT New Dealer Case Sharing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>ShareCasesforDealership</name>
        <label>ShareCasesforDealership</label>
        <locationX>673</locationX>
        <locationY>1084</locationY>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>GetGroupforRole.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Don&apos;t create an Account Sharing Record if one exists</description>
        <name>GetExistingAccountSharingRecord</name>
        <label>GetExistingAccountSharingRecord</label>
        <locationX>671</locationX>
        <locationY>709</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SharingGroupExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetGroupforRole.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGroupforRole</name>
        <label>GetGroupforRole</label>
        <locationX>671</locationX>
        <locationY>562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingAccountSharingRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UserRoleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>542</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>New_Dealer</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>GroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
