NATTQA-ENV/force-app/main/default/flows/Opportunity_updates_from_quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>if Quote Bill to and units ship to address is updated then other, then update the same address fields on opportunity for natt units Quote</description>
        <name>Is_Bill_To_and_Ship_To_Address_Updated</name>
        <label>Is Bill To and Ship To Address Updated</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Quote_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Bill_to_and_ship_to_address_updated</name>
            <conditionLogic>(1 AND ( 2 OR 3 )) OR  ((4 OR 5) AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Billing_Address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Opportunity2__r.NATT_Billing_Address__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Shipping_Address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Opportunity2__r.NATT_Shipping_Address__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Billing_Address__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Shipping_Address__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_and_Shipping</targetReference>
            </connector>
            <label>Check Bill to and ship to address updated</label>
        </rules>
        <rules>
            <name>Is_Shipping_Address_Updated</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Shipping_Address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Opportunity2__r.NATT_Shipping_Address__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Shipping_Address__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Shipping_Address</targetReference>
            </connector>
            <label>Is Shipping Address Updated</label>
        </rules>
        <rules>
            <name>Is_Billing_Address_Changed</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Billing_Address__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__Opportunity2__r.NATT_Billing_Address__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Billing_Address__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Address</targetReference>
            </connector>
            <label>Is Billing Address Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Fully_Approved</name>
        <label>Quote Fully Approved</label>
        <locationX>842</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Quote_Fully_Approved</name>
            <conditionLogic>1 AND 2 AND (3 OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Direct_Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_quote_converted_to_order</targetReference>
            </connector>
            <label>Outcome 1 of Quote Fully Approved</label>
        </rules>
        <rules>
            <name>Check_for_Status_Ordered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Direct_Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ordered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OPP_Stage</targetReference>
            </connector>
            <label>Check for Status Ordered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Status</name>
        <label>Quote Status</label>
        <locationX>446</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Quote_Fully_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_submitted_for_approval</name>
            <conditionLogic>1 AND 2 AND ((3 AND  4) OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Direct_Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opp_Quote_stage_update</targetReference>
            </connector>
            <label>Quote submitted for approval</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>1 AND 2 AND ((3 AND 4) OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Direct_Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NATT_Quote_Record_Type_Developer_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NATT_Units_Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Stage_to_Closed_Lost</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <description>if Quote Bill to and units ship to address is updated then other, then update the same address fields on opportunity for natt units Quote</description>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity updates from quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity updates from quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>opp_Quote_stage_update</name>
        <label>opp Quote stage update</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Quoting</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Opportunity2__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Opp_Stage_to_Closed_Lost</name>
        <label>Opp Stage to Closed Lost</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>NATT_Lost_Reason__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Opportunity2__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opp Billing and Shipping</description>
        <name>Update_Billing_Address</name>
        <label>Update Billing Address</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Quote_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>NATT_Billing_Address__c</field>
            <value>
                <elementReference>$Record.NATT_Billing_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Opportunity2__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opp Billing and Shipping</description>
        <name>Update_Billing_and_Shipping</name>
        <label>Update Billing and Shipping</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Quote_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>NATT_Billing_Address__c</field>
            <value>
                <elementReference>$Record.NATT_Billing_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Shipping_Address__c</field>
            <value>
                <elementReference>$Record.NATT_Shipping_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Opportunity2__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPP_Stage</name>
        <label>Update OPP Stage</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__PrimaryOpportunities__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_quote_converted_to_order</name>
        <label>Update quote converted to order</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Approved Quote</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Opportunity2__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opp Billing and Shipping</description>
        <name>Update_Shipping_Address</name>
        <label>Update Shipping Address</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Quote_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>NATT_Shipping_Address__c</field>
            <value>
                <elementReference>$Record.NATT_Shipping_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Opportunity2__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Bill_To_and_Ship_To_Address_Updated</targetReference>
        </connector>
        <filterFormula>AND(
   OR(
      {!$Record.RecordType.DeveloperName} = &quot;NATT_Units_Quote&quot;,
      {!$Record.RecordType.DeveloperName} = &quot;NATT_Direct_Sales&quot;
   ),
   {!$Record.SBQQ__Primary__c} = TRUE
)</filterFormula>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
