NATTQA-ENV/force-app/main/default/flows/Quote_Amendment_Dealer_Override_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_this_to_collection</name>
        <label>Add this to collection</label>
        <locationX>374</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>DealerOverrideRecordsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleDealerRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Dealer_Override_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Dealer_Override_record</name>
        <label>Clone each Dealer Override record</label>
        <locationX>374</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>SingleDealerRecord.Dealer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Dealer_Override_records.Dealer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDealerRecord.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDealerRecord.Override_Credit_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Dealer_Override_records.Override_Credit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDealerRecord.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Dealer_Override_records.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_this_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dealer_Override_records_exist</name>
        <label>Dealer Override records exist on Original Quote?</label>
        <locationX>418</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No Records Exist</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Dealer_Override_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Dealer_Override_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dealer_Override_records_exist_on_Amended_Quote</name>
        <label>Dealer Override records exist on Amended Quote?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Dealer_Override_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records. Create new</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Dealer_Override_Records_fromnewquote</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes records already exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote - Amendment - Dealer Override Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Amendment - Dealer Override Record Creation</label>
    <loops>
        <name>Loop_through_Dealer_Override_records</name>
        <label>Loop through Dealer Override records</label>
        <locationX>286</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Dealer_Override_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clone_Dealer_Override_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_cloned_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_cloned_Records</name>
        <label>Create Dealer Override Records</label>
        <locationX>286</locationX>
        <locationY>1163</locationY>
        <inputReference>DealerOverrideRecordsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Dealer_Override_Records</name>
        <label>Get Dealer Override Records from original quote</label>
        <locationX>418</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dealer_Override_records_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.NATT_Original_Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Override__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Checking to see if records already exist. Then avoid creating new.</description>
        <name>Get_Dealer_Override_Records_fromnewquote</name>
        <label>Get Dealer Override Records from new quote</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dealer_Override_records_exist_on_Amended_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Dealer_Override__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Dealer_Override_Records_fromnewquote</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;NATT_Direct_Sales_Quote_Amendment&apos; &amp;&amp; {!$Record.NATT_Original_Quote__c}!= null &amp;&amp; ISPICKVAL({!$Record.SBQQ__Type__c}, &apos;Amendment&apos;)</filterFormula>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DealerOverrideRecordsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Dealer_Override__c</objectType>
    </variables>
    <variables>
        <name>SingleDealerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Dealer_Override__c</objectType>
    </variables>
</Flow>
