NATTQA-ENV/force-app/main/default/flows/Quote_Status_to_Pending_Job_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Order_Confirmation_0</name>
        <label>Order Confirmation</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Order_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Order_Confirmation</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Order_confirmation_1</name>
        <label>Order confirmation 1</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Order_Confirmation_1</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Order_Confirmation_1</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Order_Confirmation_2</name>
        <label>Order Confirmation 2</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Order_Confirmation_2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Order_Confirmation_2</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Order_confirmation_3</name>
        <label>Order confirmation 3</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Order_Confirmation_3</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Order_Confirmation_3</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Order_confirmation_4</name>
        <label>Order confirmation 4</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Order_Confirmation_4</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Order_Confirmation_4</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Order_confirmation_5</name>
        <label>Order confirmation 5</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Order_Confirmation_5</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Order_Confirmation_5</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>It is for SNAO</description>
        <name>Order_Confirmation_6</name>
        <label>Order Confirmation 6</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <actionName>SBQQ__Quote__c.CONTAINER_Order_Confirmation_6</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.CONTAINER_Order_Confirmation_6</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Quote_status</name>
        <label>Quote status</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Get_Quote_Data.CONTAINER_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order/Pending for Job #</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote_Data.CONTAINER_QuotePath__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order/Pending for Job #</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote_Data.CONTAINER_WON_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Quote</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>GENSETQuote</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GENSET</stringValue>
        </value>
    </constants>
    <constants>
        <name>NTQuote</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NT</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Email_for_Genset_APO</name>
        <label>Email for Genset APO</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_for_Genset_APO_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Data.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GENSETQuote</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Data.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Confirmation_0</targetReference>
            </connector>
            <label>Email for Genset APO Quote</label>
        </rules>
        <rules>
            <name>Email_for_Genset_EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Data.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GENSETQuote</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Data.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_confirmation_1</targetReference>
            </connector>
            <label>Email for Genset EMEA</label>
        </rules>
        <rules>
            <name>Email_for_Genset_NAO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Data.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GENSETQuote</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Data.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Confirmation_2</targetReference>
            </connector>
            <label>Email for Genset NAO</label>
        </rules>
        <rules>
            <name>Email_for_NT_APO_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Data.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NTQuote</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Data.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_confirmation_3</targetReference>
            </connector>
            <label>Email for NT APO Quote</label>
        </rules>
        <rules>
            <name>Email_for_NT_EMEA_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Data.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NTQuote</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Data.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_confirmation_4</targetReference>
            </connector>
            <label>Email for NT EMEA Quote</label>
        </rules>
        <rules>
            <name>Email_for_NT_NAO_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Data.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NTQuote</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Data.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NAO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_confirmation_5</targetReference>
            </connector>
            <label>Email for NT NAO Quote</label>
        </rules>
        <rules>
            <name>Email_for_NT_SNAO_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Data.CONTAINER_Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NTQuote</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Data.CONTAINER_Sales_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SNAO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Confirmation_6</targetReference>
            </connector>
            <label>Email for NT SNAO Quote</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Email</name>
        <dataType>String</dataType>
        <expression>&apos;vaishnavi.absri@carrier.com&apos;</expression>
    </formulas>
    <interviewLabel>Quote Status to Pending {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Status to Pending Job Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote_Data</name>
        <label>Get Quote Data</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_status</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CONTAINER_Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GENSETQuote</elementReference>
            </value>
        </filters>
        <filters>
            <field>CONTAINER_Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NTQuote</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_Quote</name>
        <label>Updating Quote</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Email_for_Genset_APO</targetReference>
        </connector>
        <inputReference>Get_Quote_Data</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GENSET</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
