NATTQA-ENV/force-app/main/default/flows/ShareUnitTermswithTavant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Partner_Record</name>
        <label>Add Partner Record</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>PartnerNetworkConnectionRecord.LocalRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PartnerNetworkConnectionRecord.ConnectionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Partner_Connection_Record_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Partner_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Partner_Record_Collection</name>
        <label>Assign to Partner Record Collection</label>
        <locationX>440</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>PartnerRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PartnerNetworkConnectionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Unit_Records_Created</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Verify all Partner Records Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ShareUnitTermswithTavant</label>
    <loops>
        <name>Loop_over_Unit_Records_Created</name>
        <label>Loop over Unit Records Created</label>
        <locationX>352</locationX>
        <locationY>528</locationY>
        <collectionReference>Get_Unit_Information_Based_on_Input</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Partner_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Partner_Record_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Partner_Record_Collection</name>
        <label>Create Partner Record Collection</label>
        <locationX>352</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Verify_all_Partner_Records_Created</targetReference>
        </connector>
        <inputReference>PartnerRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Partner_Connection_Record_Id</name>
        <label>Get Partner Connection Record Id</label>
        <locationX>352</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unit_Information_Based_on_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConnectionName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Carrier Transicold Europe</stringValue>
            </value>
        </filters>
        <filters>
            <field>ConnectionStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartnerNetworkConnection</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_Information_Based_on_Input</name>
        <label>Get Unit Information Based on Input</label>
        <locationX>352</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Unit_Records_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NATT_Extended_Warranty__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Verify_all_Partner_Records_Created</name>
        <label>Verify all Partner Records Created</label>
        <locationX>352</locationX>
        <locationY>1104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocalRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PartnerNetworkRecordConnection</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>NATT_Extended_Warranty__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Partner_Connection_Record_Id</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PartnerNetworkConnectionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartnerNetworkRecordConnection</objectType>
    </variables>
    <variables>
        <name>PartnerRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PartnerNetworkRecordConnection</objectType>
    </variables>
</Flow>
