NATTQA-ENV/force-app/main/default/flows/UCP_Public_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Users_to_Public_Group_UCP_Action_Americas</name>
        <label>Add Users to Public Group UCP Action Americas</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <actionName>UpdateUserQueueUCP</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>groupId</name>
            <value>
                <elementReference>AmericaPublicGroupID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIsActive</name>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateUserQueueUCP</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Users_to_Public_Group_UCP_Action_AUS</name>
        <label>Add Users to Public Group UCP Action AUS</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <actionName>UpdateUserQueueUCP</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>groupId</name>
            <value>
                <elementReference>AUSPublicgroupID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIsActive</name>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateUserQueueUCP</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Users_to_Public_Group_UCP_Action_EMEA</name>
        <label>Add Users to Public Group UCP Action EMEA</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <actionName>UpdateUserQueueUCP</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>groupId</name>
            <value>
                <elementReference>EMEAPublicGroupID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIsActive</name>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateUserQueueUCP</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Add_Users_to_Public_Group_UCP_Action_SG_HK</name>
        <label>Add Users to Public Group UCP Action SG/HK</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <actionName>UpdateUserQueueUCP</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>groupId</name>
            <value>
                <elementReference>SG_HKPublicGroupID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIsActive</name>
            <value>
                <elementReference>$Record.IsActive</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UpdateUserQueueUCP</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_America_Public_Group</name>
        <label>Assign America Public Group</label>
        <locationX>666</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AmericaPublicGroupID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_public_groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_public_groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AUS_Public_Group</name>
        <label>Assign AUS Public Group</label>
        <locationX>1458</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AUSPublicgroupID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_public_groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_public_groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EMEA_Public_Group</name>
        <label>Assign EMEA Public Group</label>
        <locationX>930</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>EMEAPublicGroupID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_public_groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_public_groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SG_HK_Public_Group</name>
        <label>Assign SG/HK Public Group</label>
        <locationX>1194</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SG_HKPublicGroupID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_public_groups.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_public_groups</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Public_Groups</name>
        <label>Check Public Groups</label>
        <locationX>1194</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_public_groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_public_groups.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UCP_Americas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_America_Public_Group</targetReference>
            </connector>
            <label>Is Americas</label>
        </rules>
        <rules>
            <name>Is_EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_public_groups.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UCP_EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EMEA_Public_Group</targetReference>
            </connector>
            <label>Is EMEA</label>
        </rules>
        <rules>
            <name>Is_SG_HK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_public_groups.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UCP_SG_HK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SG_HK_Public_Group</targetReference>
            </connector>
            <label>Is SG/HK</label>
        </rules>
        <rules>
            <name>Is_AUS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_public_groups.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UCP_AUS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AUS_Public_Group</targetReference>
            </connector>
            <label>Is AUS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Region</name>
        <label>Check User Region</label>
        <locationX>578</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Americas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UCP_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Americas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Public_Group_UCP_Action_Americas</targetReference>
            </connector>
            <label>Americas</label>
        </rules>
        <rules>
            <name>EMEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UCP_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EMEA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Public_Group_UCP_Action_EMEA</targetReference>
            </connector>
            <label>EMEA</label>
        </rules>
        <rules>
            <name>AUS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UCP_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Public_Group_UCP_Action_AUS</targetReference>
            </connector>
            <label>AUS</label>
        </rules>
        <rules>
            <name>SG_HK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UCP_Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SG/HK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Public_Group_UCP_Action_SG_HK</targetReference>
            </connector>
            <label>SG/HK</label>
        </rules>
    </decisions>
    <description>Apex with sharing class to remove members from other groups and active inactive(fix)</description>
    <environments>Default</environments>
    <interviewLabel>UCP Public Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UCP Public Group Automation Flow</label>
    <loops>
        <name>Loop_public_groups</name>
        <label>Loop public groups</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <collectionReference>Fetch_Public_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Public_Groups</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_User_Region</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Public_Group</name>
        <label>Fetch Public Group</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_public_groups</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UCP_Americas</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UCP_AUS</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UCP_EMEA</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UCP_Global</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UCP_SG_HK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Public_Group</targetReference>
        </connector>
        <filterFormula>({!$Record.Profile.Name} = &apos;UCP Profile&apos;  || {!$Record.Profile.Name} = &apos;NAC Customer Community Profile&apos; ) &amp;&amp;  (ISCHANGED({!$Record.UCP_Region__c}) || ISCHANGED({!$Record.IsActive}) || ISNEW() )</filterFormula>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AmericaPublicGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AUSPublicgroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EMEAPublicGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>SG_HKPublicGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
