NATTQA-ENV/force-app/main/default/flows/Update_Commission_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Commissioning_CTD</name>
        <label>Commissioning CTD</label>
        <locationX>628</locationX>
        <locationY>370</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CTD_Dicision</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Commisioning_Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CONTAINER_Commisioning_Region__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CONTAINER_Commisioning_Region__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCTDRegionMetadata</targetReference>
            </connector>
            <label>CTD Dicision</label>
        </rules>
    </decisions>
    <interviewLabel>Update Commission Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Commission Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>To get the CTD Region metadata reocrds</description>
        <name>GetCTDRegionMetadata</name>
        <label>GetCTDRegionMetadata</label>
        <locationX>616</locationX>
        <locationY>481</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCommissionRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CONTAINER_Commisioning_Region__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CONTAINER_CTD_Region__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCommissionRecord</name>
        <label>UpdateCommissionRecord</label>
        <locationX>616</locationX>
        <locationY>601</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CONTAINER_CTD_Account_Name__c</field>
            <value>
                <elementReference>GetCTDRegionMetadata.CONTAINER_CTD_Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_CTD_Address__c</field>
            <value>
                <elementReference>GetCTDRegionMetadata.CONTAINER_CTD_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CONTAINER_CTD_Email__c</field>
            <value>
                <elementReference>GetCTDRegionMetadata.CONTAINER_CTD_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTD_Attention__c</field>
            <value>
                <elementReference>GetCTDRegionMetadata.CONTAINER_CTD_Attention__c</elementReference>
            </value>
        </inputAssignments>
        <object>CONTAINER_Commissionig__c</object>
    </recordUpdates>
    <start>
        <locationX>515</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Commissioning_CTD</targetReference>
        </connector>
        <object>CONTAINER_Commissionig__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
