NATTQA-ENV/force-app/main/default/flows/Update_Unit_Ordered_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Quote_Line_Item_more_than_Parent</name>
        <label>Quote Line Item more than Parent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Parent_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_notification_Type_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Approval Required</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>&quot;You have added more lines than allowed at the parent level. This quote will now require approval before it can proceed.&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Ordered_Unit</name>
        <label>Assign Ordered Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Opportunity.Unit_Ordered__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Direct_Sales_Units__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Owner_Id</name>
        <label>Assign Quote Owner Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NotificationUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Quote_Owner_Id.Owner:User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Line_Item_more_than_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unit_Cancelled</name>
        <label>Assign Unit Cancelled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Opportunity.Unit_Canceled__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Direct_Sales_Units__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_Unit_calculation</name>
        <label>check for Unit calculation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unit_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unit_Cancelled</targetReference>
            </connector>
            <label>Unit Cancelled</label>
        </rules>
        <rules>
            <name>Unit_Ordered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__r.SBQQ__Ordered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ordered_Unit</targetReference>
            </connector>
            <label>Unit Ordered</label>
        </rules>
        <rules>
            <name>Quote_Line_Limit_exceeds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direct_Sales_Units__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direct_Sales_Units__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity_Source__r.Remaining_Units__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Owner_Id</targetReference>
            </connector>
            <label>Quote Line Limit exceeds</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CountUnitOrdered</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Opportunity_Source__r.Unit_Ordered__c}+{!$Record.Direct_Sales_Units__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalUnitCancelled</name>
        <dataType>Number</dataType>
        <expression>{!Get_Parent_Opportunity.Unit_Canceled__c}+ {!Unitcancelled}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalUnitOrdered</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Opportunity_Source__r.Unit_Ordered__c} +{!UnitOrdered}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Unit Ordered on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Unit Ordered on Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_notification_Type_Id</name>
        <label>Get Custom notification Type Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_Unit_calculation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote Line Item Exceeds</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Opportunity</name>
        <label>Get Parent Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_notification_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_Source__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Owner_Id</name>
        <label>Get Quote Owner Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Quote_Owner_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Opportunity</name>
        <label>Update Parent Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Parent_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Opportunity</targetReference>
        </connector>
        <filterFormula>AND(
  {!$Record.RecordType.DeveloperName} = &quot;NATT_Direct_Sales&quot;,
   ISBLANK({!$Record.Opportunity_Source__c})= False
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NotificationUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>UserId</elementReference>
        </value>
    </variables>
    <variables>
        <name>Unitcancelled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UnitOrdered</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.SBQQ__PrimaryQuote__r.Owner:User.Id</elementReference>
        </value>
    </variables>
</Flow>
