NATTQA-ENV/force-app/main/default/flows/Update_OrderItems.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_new_or_Amendment</name>
        <label>Is new or Amendment</label>
        <locationX>384</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Products_That_don_t_have_Id</targetReference>
            </connector>
            <label>New Order</label>
        </rules>
        <rules>
            <name>Amendment_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <label>Amendment Order</label>
        </rules>
    </decisions>
    <interviewLabel>Update OrderItems {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update OrderItems</label>
    <loops>
        <name>Loop_through_collection_of_order_items</name>
        <label>Loop through collection of order items</label>
        <locationX>329</locationX>
        <locationY>471</locationY>
        <collectionReference>colOrderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_OrderItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Original_Order_Id_On_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>177</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_new_or_Amendment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Order</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>NATT_JDE_Sales_Order_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Products_That_don_t_have_Id</name>
        <label>Get Order Products That don&apos;t have Id</label>
        <locationX>183</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_collection_of_order_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>colOrderItems</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_OrderItems</name>
        <label>Update OrderItems</label>
        <locationX>530</locationX>
        <locationY>470</locationY>
        <connector>
            <targetReference>Loop_through_collection_of_order_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_collection_of_order_items.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NATT_Original_JDE_Sales_Order__c</field>
            <value>
                <elementReference>Order.NATT_JDE_Sales_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Original_Order_Id__c</field>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Order_Id_On_Order</name>
        <label>Update Original Order Id On Order</label>
        <locationX>328</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NATT_Original_JDE_Sales_Order__c</field>
            <value>
                <elementReference>Order.NATT_JDE_Sales_Order_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NATT_Original_Order_Id__c</field>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>the order that fires this flow</description>
        <name>varOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
