NATTQA-ENV/force-app/main/default/flows/Verify_if_opportunity_product_quantity_matches_with_opportunity_requested_ship_d.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Store_quantity_for_each_record</name>
        <label>Store quantity for each record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_the_quantity_for_each_record.Scheduled_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_the_quantity_for_each_record</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Product_Quantity_Doesn_t_Match</name>
        <label>Product Quantity Doesn&apos;t Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Quantity of the Requested Ship Date doesn&apos;t match with the Opportunity Product Quantity, kindly update the Quantity on Requested Ship Date.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_Opportunity_Product_Quantity_Matches_Opportunity_Requested_Ship_Date_Qu</name>
        <label>Check if Opportunity Product Quantity Matches Opportunity Requested Ship Date Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quantity_Doesn_t_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalQuantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_OpportunityRecord.NATT_Total_Units__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Quantity_Doesn_t_Match</targetReference>
            </connector>
            <label>Quantity Doesn&apos;t Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Requested_Ship_Date_Record</name>
        <label>Check Requested Ship Date Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_if_Opportunity_Product_Quantity_Matches_Opportunity_Requested_Ship_Date_Qu</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_the_requested_ship_date_product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_the_quantity_for_each_record</targetReference>
            </connector>
            <label>Record Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Verify if opportunity product quantity matches with opportunity requested ship date quantity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify if opportunity product quantity matches with opportunity requested ship date quantity</label>
    <loops>
        <name>Calculate_the_quantity_for_each_record</name>
        <label>Calculate the quantity for each record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_all_the_requested_ship_date_product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_quantity_for_each_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_Opportunity_Product_Quantity_Matches_Opportunity_Requested_Ship_Date_Qu</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_the_requested_ship_date_product</name>
        <label>Get all the requested ship date product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Requested_Ship_Date_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Scheduled_Pick_Date__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityRecord</name>
        <label>Get Opportunity Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_the_requested_ship_date_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OpportunityRecord</targetReference>
        </connector>
        <filterFormula>AND(NOT(ISNULL({!$Record.Scheduled_Quantity__c})),ISNULL({!$Record.Opportunity__r.Opportunity_Source__c}))</filterFormula>
        <object>Opportunity_Scheduled_Pick_Date__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
